//since form actions are case sensitive, best to use these classes when possible

main.membershipJoin,
form[action$="Code=REG"]{
	table {
		overflow-x: scroll;
	}
}

#MainContent_ctl00_UserRegistrationControl_EducationUserAlreadyLoggedIn_pnlUpdate,
#MainContent_ctl00_UserRegistrationControl_EducationUserAlreadyLoggedIn_pnlUpdate[style],
#ctl00_ctl00_MainContent_ctl00_UserRegistrationControl_EducationUserAlreadyLoggedIn_pnlUpdatePanel,
#ctl00_ctl00_MainContent_ctl00_UserRegistrationControl_EducationUserAlreadyLoggedIn_pnlUpdatePanel[style] {
	width:100% !important;
	height: auto !important;
	max-width: 100% !important;
	float:none;
}

#MainContent_ctl00_UserRegistrationControl_EducationUserAlreadyLoggedIn_chkAttestation {
	width: auto !important;
}

//datepicker
#ctl00_MainContent_ctl00_UserRegistrationControl_EducationUserAlreadyLoggedIn_dpBeginDate_wrapper {
	overflow:hidden !important;
}

//this thing was hidden and was breaking page
#ctl00_MainContent_ctl00_UserRegistrationControl_EducationUserAlreadyLoggedIn_dpBeginDate,
#ctl00_MainContent_ctl00_UserRegistrationControl_EducationUserAlreadyLoggedIn_dpBeginDate[style] {
	display:none !important;
	float:none !important;
	margin: 0 !important;
	width: 0 !important;
	height:0 !important;
	clear: both;
	line-height: 0;
}

// Resets
.RegistrationControl_PersonifyDefault.Base_PersonifyDefault.Base_PersonifyDefault,
.MembershipJoinOptionsControl_PersonifyDefault .ctrlContent {
	background: white;
	padding: 20px;
	margin: 0;
	width: auto;
}

#MainContent_ctl00_MembershipDetail_ContainerPanel {
	width: 100%;
}

.productDetails.ctrl-memb-prd-detail {
	display: block;
	margin-left: 0;
	.productName {
		font-size: 24px;
		padding-top: 20px;
	}
}

.MembershipDetailControl_PersonifyDefault .productImage.ctrl-memb-img {
	margin: 20px;
	position: static;
	float: left;
}

#MainContent_ctl00_UserRegistrationControl_UserAlreadyLoggedInPanel {
	.memberName,
	.regContactsTitle {
		padding-bottom: 10px;
	}
	.welcomeBack {
		display: block;
		margin-left: 0;
		margin-top: 0;
	}
}


// Nav
.WizardBannerControl_PersonifyDefault.Membership_PersonifyDefault.Base_PersonifyDefault {
	margin-bottom: 40px;
	display: flex;
	span {
		//personify override
		span {
			width: auto !important;
		}
	}
	span.step {
		flex-grow: 1;
		position: relative;
		background: transparent;
		border-bottom: 3px solid $ift-grey-230;
		color: $ift-grey-medium-light;
		text-align: left;
		padding-left: 60px !important;
		.prefix,
		.sep,
		.divider {
			display: none;
		}
		.stepLabel {
			font-size: 14px;
		}
		.number {
			width: 30px!important;
			height: 30px!important;
			border-radius: 100% !important;
			border: 1px solid white;
			box-shadow: none;
			color: white;
			position: absolute;
			left: 20px;
			text-shadow: none !important;
			top: 9px;
			padding: 5px 0;
			text-align: center;
			background-color: $ift-grey-medium-light;
		}
		.stepLabel {
			color: $ift-grey-medium-light;
		}
		&.active {
			background-color: $ift-green !important;
			border-bottom-color: $ift-green !important;
			.stepLabel {
				color: $white;
			}
			.number {
				background-color: transparent;
			}
		}
	}
}

// Step 2
.MembershipJoinOptionsControl_PersonifyDefault .ctrlContent {
	.heading2,
	.buyBox h3 {
		font-size: 16px;
	}
	.buyBox h3 {
		margin: 15px;
	}
	.totalAmountSection {
		text-align: right;
		min-width: 0;
		margin-right: 15px;
		border-bottom: none;
	}
}

.MembershipZipLinkedChapterControl_PersonifyDefault.Membership_PersonifyDefault .chapterPanel,
.MembershipBenefitsControl_PersonifyDefault.Membership_PersonifyDefault .memOptions {
	border-bottom: 1px solid $ift-grey-230;
}

.buyBox {
	margin: 0;
	border-color: $ift-grey-230;
	width: 230px;
	.rateCodeItem input,
	.rateCodes .rateCodeItem span,
	.rateCodeItem label {
		float: none;
	}
	.MembershipBuyBoxControl_PersonifyDefault .memberDetails > div {
		border-top: none;
	}
	.memberDetails{
		margin: 15px;
	}
}

.memOptions {
	border: 1px solid $ift-grey-230;
}

.MembershipRenewalControl_PersonifyDefault div.fillSectionBlock,
.MembershipJoinOptionsControl_PersonifyDefault div.benefits,
.MembershipJoinOptionsControl_PersonifyDefault .detailsPanel,
.MembershipJoinOptionsControl_PersonifyDefault .buttonRow {
	margin-left: 0;
	display: block;
}

#ctl00_MainContent_ctl00_MembershipDetail_ContainerPanel {
	.productImage.ctrl-memb-img {
		margin: 0;
		margin-right: 20px;
		margin-bottom: 20px;
	}
	.productName {
		padding-top: 0;
	}
}

.step2Left,
.step3Left {
	float: left;
	width: calc(100% - 250px);
}

.MembershipBenefitsControl_PersonifyDefault.Membership_PersonifyDefault .memOptions {
	background-color: #f7f7f7;
	border: 1px solid #e7e7e7;
	border-radius: 2px;
	min-height: 8.6em;
	margin-bottom: 2em;
	padding: 1em;
}
.totalAmountSection {
    min-width: 0;
    margin: 0;
}
// Step 3
.MembershipJoinBiggerImpactControl_PersonifyDefault.Membership_PersonifyDefault.Base_PersonifyDefault {
	#ctl00_MainContent_ctl00_BuyBox_AddToCartButton {
		@include unButton()
	}
	#ctl00_ctl00_MainContent_ctl00_ButtonPanelPanel {
		width: calc(100% - 230px);
	}
	.ctrlContent {
		background-color: white;
		padding: 20px;
		margin: 0;
		width: auto;
	}
	#ctl00_MainContent_ctl00_BuyBox_ButtonPanel .buttonRow{
		margin: 15px;
	}
}
#ctl00_ctl00_MainContent_ctl00_MembershipContributionsControl1_ContainerPanelPanel input[type="text"]{
	@include inputText()
	margin-left: 10px !important;
}
.MembershipContributionsControl_PersonifyDefault .ctrbPriceOption label{
	margin-left: 10px;
}
.MembershipSIGControl_PersonifyDefault .sigRow {
    padding: 10px 0;
    margin: 10px 0;
    border-color: #eee;
}

.MembershipContributionsControl_PersonifyDefault .ctrbProdRow {
    border-bottom: 1px solid #eee;
}
.buyBox h3 {
	font-size: 16px;
	margin: 15px;
	margin-bottom: 10px;
}
.MembershipJoinBiggerImpactControl_PersonifyDefault .benefits h2{
	font-size: 16px;
	margin: 15px 0;
	margin-bottom: 10px;
}
.MembershipSIGControl_PersonifyDefault.Membership_PersonifyDefault{
	border: none;
}
.chapterPrice, .sigPrice {
    float: right;
    margin-left: 10px;
}
@include break(max, 42em) {
	.MembershipJoinOptionsControl_PersonifyDefault.Membership_PersonifyDefault .step2Left,
	.MembershipJoinOptionsControl_PersonifyDefault.Membership_PersonifyDefault .step3Left {
		padding: 12px;
	}
	.buyBox {
		margin: 0;
		border: none;
		width: 100%;
	}
	.rateCodeItem {
		padding-left: 26px;
	}
}

.MainContent_ctl00_ADARequiredInfo {
	width:auto;
}


.MainContent_ctl00_WizardBanner_ContainerPanel {
	overflow:hidden;
}