<!-- Extent this master layout -->
{% extends '_layouts/search-template.html' %}
{% set page = {
	title:"Page Not Found: 404"
} %}

{% block content %}



<div class="row-wrapper contained">

	<header class="page-title__header">
		<h1 class="page-title__headline">{{page.title}}</h1>
	</header>
	<div class="four-oh-four-content">
		The page you are looking for cannot be found.
		<br>
		You can use the navigation above, go to the <a href="/">homepage</a>, or use the searchbox below.
		{% include './_components/search/searchBox404.html'%}
	</div>
		
	<!--end row-->
</div>
<!--end row-wrapper-->



	


{% endblock %}

