<!-- Extent this master layout -->
{% extends '_layouts/main-application.html' %}
{% set page = {
	title:"Category Events Sample Content Title Lorem Ipsum Dolor Sit Amet"
	,subtitle:"Optional Subhead"
} %}




{% block content %}
{% include "./_shared/breadcrumb.html" %}

<div class="row-wrapper contained">
	
	<div class="row">
		<div class="column-auto containerForSublayouts">
			<header class="page-title__header">
				<h1 class="page-title__headline">{{page.title}}</h1>
			</header>
			{% include './_sublayouts/sublayout__autoColumnGrid.html'%}

			{% include './_sublayouts/sublayout__accordion.html'%}

		</div>
		<!--end of autocolumn-->

	</div>
	<!--end of row-->
</div>
<!--end of row-wrapper contained-->



{% include './_sublayouts/sublayout__banner.html'%}


{% endblock %}

