<!-- Extent this master layout -->
{% extends '_layouts/homepage-template.html' %}
{% set page = {title:"Homepage"} %}

{% block content %}


  <div class="sublayout sublayout__whyAttend">
    <div class="row-wrapper contained">
      <header class="header-contained--default-theme">
         <h2>Be a part of
         <strong class="headline--featured-word">something big.</strong>
        </h2>
      </header>

      <div class="row">
        <div class="column-auto">
        
          {% include "./_shared/scroll__people.html" %}

          {% set cardComponent = {
              orientationClass: 'horizontal-component'
              ,cardTypeClass: 'card-component--list--half'
              ,themeClass: 'theme--feature-text'
              ,text: 'multiParagraph'
              ,buttons: true
              ,buttonGroupTheme: 'button-group--default-theme'
              ,dataLink: ''
            }
            %}
            {% include './_components/card-sink.html'%}
        </div>
      </div>
  </div>
</div>


    
    
{% include "./_sublayouts/sublayout__testimonials.html" %}


{% include "./_sublayouts/sublayout__newsArea.html" %}

{% include "./_sublayouts/sublayout__sponsorGrid.html" %}
    


{% endblock %}

