<!-- Extent this master layout -->
{% extends '_layouts/main-application.html' %}
{% set page = {title:"Home"} %}

{% block content %}


<br>
<br>
<br>
<br>
<br>

<h1>List of Pages</h1>

<ul>
	<li><a href="homepage.html">Homepage</a></li>
	<li><a href="homepage_during_conference.html">Homepage During Conference</a></li>
	<li><a href="patternLibrary.html">Pattern Library</a></li>
	<li><a href="schedule_at_a_glance.html">Schedule At A Glance</a></li>
	<li><a href="news.html">News</a></li>
	<li><a href="registration.html">Registration</a></li>
	<li><a href="tag_page.html">Tag Page</a></li>
	<li><a href="category_events.html">Category Events <em><u>[With optional Ad column]</u></em></a></li>
	<li><a href="category_events_noAds.html">Category Events <em><u>[No Ads]</u></em></a></li>
	<li><a href="content_page.html">Content Page <em><u>[With optional Ad column]</u></em></a></li>
	<li><a href="content_page_noAds.html">Content Page <em><u>[No Ads]</u></em></a></li>
	<li><a href="search.html">Search Page</a></li>
	<li><a href="404.html">404 Page</a></li>

	<li><a href="homepage_initial_launch.html">Homepage Initial Launch</a></li>

</ul>


{% endblock %}

