{% extends '_layouts/main-application.html' %}
{% set page = {title:"Index"} %}
{% block content %}
<div class="contained">
		<div id="ctl00_MainContent_ctl00_WizardBanner_ContainerPanel" class="WizardBannerControl_PersonifyDefault Membership_PersonifyDefault Base_PersonifyDefault">
		 <a id="ctl00_MainContent_ctl00_WizardBanner_Step1Label" class="step step1" href="javascript:__doPostBack('ctl00$MainContent$ctl00$WizardBanner$Step1Label','')">
		  <span class="prefix">Step</span>
			<span class="number">1</span>
			<span class="sep">:</span>
			<span class="stepLabel">Profile</span>
			<span class="divider">&gt;&gt;</span>
		  </a>
		 <a id="ctl00_MainContent_ctl00_WizardBanner_Step2Label" class="step step2" href="javascript:__doPostBack('ctl00$MainContent$ctl00$WizardBanner$Step2Label','')">
			<span class="prefix">Step</span>
			<span class="number">2</span>
			<span class="sep">:</span>
			<span class="stepLabel">Membership Details</span>
			<span class="divider">&gt;&gt;</span>
		</a>
		 <a id="ctl00_MainContent_ctl00_WizardBanner_Step3Label" class="aspNetDisabled step step3 active">
			<span class="prefix">Step</span>
			<span class="number">3</span>
			<span class="sep">:</span>
			<span class="stepLabel">Divisions</span>
			<span class="divider">&gt;&gt;</span>
		</a>
		<a id="ctl00_MainContent_ctl00_WizardBanner_Step4Label" class="aspNetDisabled step step4">
			<span class="prefix">Step</span>
		 	<span class="number">4</span>
		 	<span class="sep">:</span>
		 	<span class="stepLabel">Membership Summary</span>
		 	<span class="divider">&gt;&gt;</span>
		</a>
		<a id="ctl00_MainContent_ctl00_WizardBanner_Step5Label" class="aspNetDisabled step step5">
			<span class="prefix">Step</span>
		 	<span class="number">5</span>
		 	<span class="sep">:</span>
		 	<span class="stepLabel">Survey</span>
		 	<span class="divider">&gt;&gt;</span>
		</a>
		</div>
	</div>
{% endblock %}
