{% extends '_layouts/main-application.html' %}
{% set page = {title:"map"} %}

{% block content %}


<div class="iftMap__wrapper--outer contained">
	<div class="row iftMap__row--hasMap">
		<header>

			<p>Join Additional Sections: Click on an area of the US map or International sections below, then select additional section(s) to join.</p>

		</header>

		<div class="col-md-8 iftMap__column--hasMap">
			<div class="iftMap__wrapper--outer">
				<svg id="iftMap" class="iftMap__svg" width="500" height="300"></svg>
			</div>
		</div>

		<div class="col-md-4">
			<div class="iftMap__additionalItemsBox__wrapper--outer">
				<div class="iftMap__additionalItemsBox iftMap__mobile__selectMenu__wrapper--outer">
					<div class="iftMap__additionalItemsBox__wrapper--inner">
						{% include "./_components/map/map__stateSelectMenu.html" %}
					</div>
				</div>
				<div class="iftMap__additionalItemsBox iftMap__additionalItemsBox--internationalSections">
					<div class="iftMap__additionalItemsBox__wrapper--inner"> 
						<header>
							<h6><span>International Sections<span></h6>
						</header>


						<label class="internationalSelectMenu__wrapper--outer">

						<!-- choosing an international section must a) clear map b) clear state dropdown c) call for international data -->

							<select id="internationalSelectMenu" size="3" class="iftMap__internationalSelectMenu">
								<option value="BC">British Colombia Section (Canada)</option>
								<option value="BS">British Section (International)</option>
								<option value="JP">Japan Section**</option>
							</select>
							<footer class="iftMap__internationalSelectMenu__footer">
								**Please contact IFT Central at info@ift.org for information on joining this section
							</footer>

						</label>

					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="row dataDisplay__row">
		<div class="col-xs-12">
			<header class="dataDisplay__header">
				<h5>Selected: 
					<span id="seletedStateDisplay" class="seletedStateDisplay__headline__span"></span>
				</h5>
			</header>
		</div>
	</div>
	<div class="row dataDisplay__row">
		<div class="col-sm-3">
			<div class="iftMap__sectionData__wrapper iftMap__sectionData__wrapper--DISABLED-STATE">
				<label>
					<input type="checkbox"/>
					<span>Central Valley Sub-Section Membership</span>
				</label>
				<svg class="iconInfo" viewBox="0 0 32 32"><use xlink:href="#iconInfo"/></svg>
				<div class="iftMap__memberPrice iftMap__sectionData__detail">
					Member Price: <span>$20.00</span>
				</div>
				<div class="iftMap__included iftMap__sectionData__detail">
					Included in Selection: <span>Northern California Section Membership</span>
				</div>
				<div class="iftMap__zipCodes iftMap__sectionData__detail">
					Zip Code(s): <span>90210-90211</span>
								 <span>90212-90213</span>
								 <span>90214-90215</span>
				</div>

				{% include "./_components/map/map__hiddenTooltipHTML.html" %}
				
			</div>
		</div>
		<div class="col-sm-3">
			<div class="iftMap__sectionData__wrapper">
				<label>
					<input type="checkbox"/>
					<span>Another Section Membership</span>
				</label>
				<svg class="iconInfo" viewBox="0 0 32 32"><use xlink:href="#iconInfo"/></svg>
				<div class="iftMap__memberPrice iftMap__sectionData__detail">
					Member Price: <span>$20.00</span>
				</div>
				<div class="iftMap__included iftMap__sectionData__detail">
					Included in Selection: <span>Valley Sub-Section Membership</span>
				</div>
				<div class="iftMap__zipCodes iftMap__sectionData__detail">
					Zip Code(s): <span>20815-20816</span>
								 <span>20817-20818</span>
								 <span>20819-20820</span>
				</div>

				{% include "./_components/map/map__hiddenTooltipHTML.html" %}
				
			</div>
		</div>
		<div class="col-sm-3">
			<div class="iftMap__sectionData__wrapper"></div>
		</div>
		<div class="col-sm-3">
			<div class="iftMap__sectionData__wrapper"></div>
		</div>
	</div>
	<!-- <div class="row">
		<div class="col-xs-12">
			<footer>
				<div>
					<a class=""><span>Cancel<span></a>
					<a class="button"><span>Save</span></a>
				</div>
			</footer>
		</div>
	</div> -->
</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/d3/4.9.1/d3.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/topojson/3.0.0/topojson.min.js"></script>
<script src="javascripts/vendor/d3.geomap.custom.init.js"></script>

{% endblock %}