{% extends '_layouts/main-application.html' %}
{% set page = {title:"map"} %}

{% block content %}


<div class="iftMap__wrapper--outer contained">
	<div class="row">
		<header>

			<p>Join Additional Sections: Click on an area of the US map or International sections below, then select additional section(s) to join.</p>

		</header>

		<div class="col-md-7">
		<div class="iftMap__wrapper--outer">
			<svg id="iftMap" class="iftMap__svg" width="500" height="300"></svg>



	</div>
		</div>
		<div class="col-md-5">
			{% include "./_components/map/map__stateSelectMenu.html" %}


			<div class="iftMap__additionalItemsBox iftMap__mobile__selectMenu">
				<div class="iftMap__additionalItemsBox__wrapper--inner">
					
				</div>
			</div>
			<div class="iftMap__additionalItemsBox iftMap__additionalItemsBox--internationalSections">
				<div class="iftMap__additionalItemsBox__wrapper--inner"> 
					<header>
						<h6><span>International Sections<span></h6>
					</header>


					<label class="internationalSelectMenu__wrapper--outer">

					<!-- choosing an international section must a) clear map b) clear state dropdown c) call for international data -->

						<select id="internationalSelectMenu" size="3" class="iftMap__internationalSelectMenu">
							<option value="BC">British Colombia Section (Canada)</option>
							<option value="BS">British Section (International)</option>
							<option value="JP">Japan Section</option>
						</select>

					</label>

				</div>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-xs-12">
			<header>
				<h5>Selected: 
					<span id="seletedStateDisplay"></span>
				</h5>
			</header>
		</div>
		<div class="col-md-3">
			<div class="iftMap__sectionData__wrapper">
				<label>
					<input type="checkbox"/>
					<span>Central Valley Sub-Section Membership</span>
				</label>
				<div class="iftMap__memberPrice">
					Included in Selection:
				</div>
				<div class="iftMap__zipCodes">
					Zip Code(s): <span>90210-90211</span>
								 <span>90212-90213</span>
								 <span>90214-90215</span>
				</div>
				
			</div>
		</div>
		<div class="col-md-3">
			<div class="iftMap__sectionData__wrapper">
				<label>
					<input type="checkbox"/>
					<span>Another Section Membership</span>
				</label>
				<div class="iftMap__memberPrice">
					Included in Selection:
				</div>
				<div class="iftMap__zipCodes">
					Zip Code(s): <span>20815-20816</span>
								 <span>20817-20818</span>
								 <span>20819-20820</span>
				</div>
				
			</div>
		</div>
		<div class="col-md-3">
			<div class="iftMap__sectionData__wrapper"></div>
		</div>
		<div class="col-md-3">
			<div class="iftMap__sectionData__wrapper"></div>
		</div>
	</div>
	<footer>
		<div>
			<a>Save</a>
			<a>Cancel</a>
		</div>
	</footer>
</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/d3/4.9.1/d3.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/topojson/3.0.0/topojson.min.js"></script>
<script src="javascripts/vendor/d3.geomap.custom.init.js"></script>

{% endblock %}