{% extends '_layouts/main-application.html' %}
{% set page = {title:"map"} %}

{% block content %}


<div class="iftMap__wrapper--outer contained">
	<div class="row">
		<header>

			<p>Join Additional Sections: Click on an area of the US map or International sections below, then select additional section(s) to join.</p>

		</header>

		<div class="col-xs-12">
			<label>
						<span>Select State Menu should only appear on mobile -- must emaulate the click action<span>
						<select id="stateSelectMenu">
							<option value="" selected="selected">Select a State</option>
							<option value="AL">Alabama</option>
							<option value="AK">Alaska</option>
							<option value="AZ">Arizona</option>
							<option value="AR">Arkansas</option>
							<option value="CA">California</option>
							<option value="CO">Colorado</option>
							<option value="CT">Connecticut</option>
							<option value="DE">Delaware</option>
							<option value="DC">District Of Columbia</option>
							<option value="FL">Florida</option>
							<option value="GA">Georgia</option>
							<option value="HI">Hawaii</option>
							<option value="ID">Idaho</option>
							<option value="IL">Illinois</option>
							<option value="IN">Indiana</option>
							<option value="IA">Iowa</option>
							<option value="KS">Kansas</option>
							<option value="KY">Kentucky</option>
							<option value="LA">Louisiana</option>
							<option value="ME">Maine</option>
							<option value="MD">Maryland</option>
							<option value="MA">Massachusetts</option>
							<option value="MI">Michigan</option>
							<option value="MN">Minnesota</option>
							<option value="MS">Mississippi</option>
							<option value="MO">Missouri</option>
							<option value="MT">Montana</option>
							<option value="NE">Nebraska</option>
							<option value="NV">Nevada</option>
							<option value="NH">New Hampshire</option>
							<option value="NJ">New Jersey</option>
							<option value="NM">New Mexico</option>
							<option value="NY">New York</option>
							<option value="NC">North Carolina</option>
							<option value="ND">North Dakota</option>
							<option value="OH">Ohio</option>
							<option value="OK">Oklahoma</option>
							<option value="OR">Oregon</option>
							<option value="PA">Pennsylvania</option>
							<option value="RI">Rhode Island</option>
							<option value="SC">South Carolina</option>
							<option value="SD">South Dakota</option>
							<option value="TN">Tennessee</option>
							<option value="TX">Texas</option>
							<option value="UT">Utah</option>
							<option value="VT">Vermont</option>
							<option value="VA">Virginia</option>
							<option value="WA">Washington</option>
							<option value="WV">West Virginia</option>
							<option value="WI">Wisconsin</option>
							<option value="WY">Wyoming</option>
						</select>
					</label>
			<!-- <div id="iftMap"></div> -->
			<style>

.states :hover {
  fill:rgba(87,134,199,1);
}


.states .usState--SELECTED {
	fill:rgba(87,134,199,1);;
}

.state-borders {
  fill: none;
  stroke: #666666;
  stroke-width: 0.5px;
  stroke-linejoin: round;
  stroke-linecap: round;
  pointer-events: none;
}

</style>

<svg id="iftMap" width="1200" height="800"></svg>

<script src="https://cdnjs.cloudflare.com/ajax/libs/d3/4.9.1/d3.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/topojson/3.0.0/topojson.min.js"></script>
<script>

"use strict";

var svg = d3.select("#iftMap");
var path = d3.geoPath();
var seletedStateDisplay = document.getElementById('seletedStateDisplay');
var stateSelectMenu = document.getElementById('stateSelectMenu');

   
//https://d3js.org/us-10m.v1.json

d3.json("javascripts/data/topoJSONusCustom.json", function(error, data) {
  if (error) throw error;

  svg.append("g")
    .attr("class", "states iftMap__svg__g")
    .selectAll("path")
    .data(topojson.feature(data, data.objects.states).features)
    .enter()
    .append("path")
    .attr('id', function(thisState){
    	//accessing other properties isNotWorkingAsExpected
    	return thisState.id
    })
    .attr('data-stateName', function(z){
    	//return z.stateName
    	return 'placeholderStateName'
    })
    .attr("class", "usState iftMap__svg__path")
    .attr("d", path)
    .on("click", function(thisState){
    	var thisStateID = thisState.id;
    	
    	mapHandlerFunction(thisStateID);


    });

  	svg.append("path")
      .attr("class", "state-borders")
      .attr("d", path(topojson.mesh(data, data.objects.states, function(a, b) { return a !== b; })));
});





function removeAddActiveState(thenAdd, thisStateID){
	console.log(thisStateID);
	var selectedItem = document.querySelector('.usState--SELECTED');
	if (selectedItem !== null){
		selectedItem.classList.remove('usState--SELECTED');
	}
	if(thenAdd){
		document.getElementById(thisStateID).classList.add('usState--SELECTED');
	}

}

function mapHandlerFunction(thisStateID){
	
	removeAddActiveState('thenAdd', thisStateID)
}




</script>

		</div>
		<div class="col-xs-12">
			<div class="iftMap__additionalItemsBox iftMap__mobile__selectMenu">
				<div class="iftMap__additionalItemsBox__wrapper--inner">
					
				</div>
			</div>
			<div class="iftMap__additionalItemsBox iftMap__additionalItemsBox--internationalSections">
				<div class="iftMap__additionalItemsBox__wrapper--inner"> 
					<header>
						<h6><span>International Sections<span></h6>
					</header>
					<ul class="iftMap__additionalItemsBox__list">
						<li>
							<a>
								<span>British Colombia Section (Canada)</span>
							</a>
						</li>
						<li>
							<a>
								<span>British Section (International)</span>
							</a>
						</li>
						<li>
							<a>
								<span>Japan Section</span>
							</a>
						</li>
					</ul>
				</div>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-xs-12">
			<header>
				<h5>Selected: 
					<span id="seletedStateDisplay"></span>
				</h5>
			</header>
		</div>
		<div class="col-md-3">
			<div class="iftMap__sectionData__wrapper">
				<label>
					<input type="checkbox"/>
					<span>Central Valley Sub-Section Membership</span>
				</label>
				<div class="iftMap__memberPrice">
					Included in Selection:
				</div>
				<div class="iftMap__zipCodes">
					Zip Code(s): <span>90210-90211</span>
								 <span>90212-90213</span>
								 <span>90214-90215</span>
				</div>
				
			</div>
		</div>
		<div class="col-md-3">
			<div class="iftMap__sectionData__wrapper">
				<label>
					<input type="checkbox"/>
					<span>Another Section Membership</span>
				</label>
				<div class="iftMap__memberPrice">
					Included in Selection:
				</div>
				<div class="iftMap__zipCodes">
					Zip Code(s): <span>20815-20816</span>
								 <span>20817-20818</span>
								 <span>20819-20820</span>
				</div>
				
			</div>
		</div>
		<div class="col-md-3">
			Section 3
		</div>
		<div class="col-md-3">
			Section 4
		</div>
	</div>
	<footer>
		<div>
			<a>Save</a>
			<a>Cancel</a>
		</div>
	</footer>
</div>

    

{% endblock %}