<!-- Extent this master layout -->
{% extends '_layouts/content-template.html' %}
{% set page = {title:"News"} %}



{% block content %}
{% include "./_shared/breadcrumb.html" %}

<!--backend developer expressed this wrapper as common, meaning a common parent of containers for sublayout-->
<div class="common-container">
	<div class="row-wrapper contained">
		
		<div class="row">
			<div class="column-auto containerFOrSublayouts">
				<!-- a content block is just a sublayout -->
				<header class="page-title__header">
					<h1 class="page-title__headline">{{page.title}}</h1>
				</header>

				{# % include './_sublayouts/sublayout__share.html'% #}
				
				
				{% set cardComponent = {
					orientationClass: 'horizontal-component'
					,themeClass: 'theme--feature-text'
					,text: 'medium'
				}
				%}
				{% include './_components/card-sink.html'%}

				{% include './_sublayouts/sublayout__newsFeatured.html'%}
				{% include './_sublayouts/sublayout__list.html'%}
				

			</div>
			<!--end of autocolumn-->
			<div class="column-ads">
				{% include './_sublayouts/sublayout__ads.html'%}
				{% include './_sublayouts/sublayout__tagCloud.html'%}
				
			</div>
			<!--end of column-ads-->
		</div>
		<!--end of row-->
	</div>
	<!--end of row-wrapper contained-->
	
</div><!--end common container-->





{# % include "./_sublayouts/sublayout__newsThreeLists.html" % #}

{% include './_sublayouts/sublayout__twitter--horizontal.html'%}

{% include "./_sublayouts/sublayout__instafeedMasonry.html" %}



<!-- Or is it better to have additonal sublayouts B) go here (sibling of common-container) -->
{% include './_sublayouts/sublayout__autoColumnGrid.html'%}


{% endblock %}

