{% extends '_layouts/main-application.html' %} {% set page = {title:"Index"} %} {% block content %}
<style>
main {
	background: white;
}
</style>
<div class="container table__container">
	<div id="dvmtgProductInformation" class="group mtgProductInformation">
		<table>
			<tbody>
				<tr>
					<td>Course</td>
					<td>Rate</td>
				</tr>
				<tr>
					<td>
						<div id="mtginfoProductName" class="mtgProductName">
							Certified Food Scientist (CFS) Prep Course - ELP 1
						</div>
					</td>
					<td>
						<div id="dvDescriptionAndRate" class="mtgDescAndRate">
							<div id="dvRate" class="mtgRate">
								<div id="dvDisplayPriceInfo" class="mtgDisplayPriceInfo" style="display:none">
									<div id="dvDisplayPriceDesc" class="mtgPriceDesc">
										List Price:
									</div>
									<div id="dvDisplayPrice" class="mtgDisplayPrice">
										$745.00
									</div>
								</div>
								<div id="dvYourPriceInfo" class="mtgYourPrice">
									<div id="ctl00_MainContent_ctl00_cMtgRegWizRegInfo_dvYourPriceDesc" class="mtgPriceDesc">
										<span id="ctl00_MainContent_ctl00_cMtgRegWizRegInfo_PriceLabel">Member Price : </span>
									</div>
									<div id="ctl00_MainContent_ctl	00_cMtgRegWizRegInfo_dvYourPrice" class="mtgDisplayPrice">
										$595.00
									</div>
								</div>
							</div>
						</div>
						<div>Discounts are applied at checkout and are not reflected in the above total.</div>
					</td>
				</tr>
			</tbody>
		</table>
	</div>
	<table class="membership__table">
		<colgroup>
			<col class="col--label" />
			<col class="col--value" />
			<col class="col--standard" />
		</colgroup>
		<tbody>
			<tr class="table__row">
				<td class="table__cell cell--empty"></td>
				<td class="table__cell cell--green-light col--top">
					<p>BEST VALUE!
						<br>Premier</p>
				</td>
				<td class="table__cell cell--blue-light">
					<p>Networking &amp;
						<br>Engagement</p>
				</td>
			</tr>
			<tr class="table__row table__heading">
				<th class="table__cell cell--sky">
					<h2>Membership Benefits</h2>
					<p>Member Savings &amp; Oppoutunities</p>
				</th>
				<th class="table__cell cell--green">
					<h2><sup>$</sup> 209</h2>
					<p>year</p>
				</th>
				<th class="table__cell cell--blue">
					<h2><sup>$</sup> 99</h2>
					<p>year</p>
				</th>
			</tr>
			<tr class="table__row">
				<td class="table__cell">
					<p>IFT Annual Event &amp; Food Expo (Total Access)</p>
				</td>
				<td class="table__cell">
					<p>$200</p>
				</td>
				<td class="table__cell">
					<p>$100 registration savings</p>
				</td>
			</tr>
			<tr class="table__row">
				<td class="table__cell">
					<p>Food Technology Magazine</p>
				</td>
				<td class="table__cell">
					<p>Included</p>
				</td>
				<td class="table__cell">
					<p>$190</p>
				</td>
			</tr>
			<tr class="table__row">
				<td class="table__cell">
					<p>IFT Virtual Webcasts</p>
				</td>
				<td class="table__cell">
					<p>Included</p>
				</td>
				<td class="table__cell">
					<p>$35/webcast
						<br>(a $5 savings)</p>
				</td>
			</tr>
			<tr class="table__row">
				<td class="table__cell">
					<p>Short Courses (Prices Vary)</p>
				</td>
				<td class="table__cell">
					<p>20% savings</p>
				</td>
				<td class="table__cell">
					<p>20% savings
						<br>10% savings</p>
				</td>
			</tr>
			<tr class="table__row">
				<td class="table__cell">
					<p>IFT Leadership Oppotunities, Fellows &amp; Awards Programs Consideration</p>
				</td>
				<td class="table__cell col--bottom">
					<p>Included</p>
				</td>
				<td class="table__cell">
					<p>Not Availible</p>
				</td>
			</tr>
			<!-- <tr class="table__row">
				<td class="table__cell">
					<p></p>
				</td>
				<td class="table__cell">
					<p></p>
				</td>
				<td class="table__cell">
					<p></p>
				</td>
			</tr> -->
		</tbody>
	</table>
	<!-- DivTable.com -->
</div>
<hr>
<div class="container">
	<table id="membershipTable">
		<tr>
			<th>&nbsp;</th>
			<th>
				<p>Price</p>
			</th>
			<th class="table--text-left">
				<p>Monthly Online Access</p>
				<p>(12 per year)</p>
			</th>
			<th class="table--text-left">
				<p>Quartely Print Copy</p>
				<p>(Free Shipping)</p>
			</th>
		</tr>
		<tr class="table__colspan">
			<td colspan=4>Membership Benefit: Food Technology</td>
		</tr>
		<tr>
			<td>
				<p>
					<input type="radio" name="print">Print Version <a href="#">See Sample</a></p>
				<p class="table--indent">
					<input type="checkbox"> Air Mail (Print Version)</td>
			<td>
				<p><strong>Included</strong></p>
				<p>$60.00 USD</p>
			</td>
			<td></td>
			<td></td>
		</tr>
		<tr>
			<td colspan=4>Select Additional Publication</td>
		</tr>
		<tr>
			<td>
				<p>
					<input type="radio" name="membership"> Online Version
				</p>
			</td>
			<td>
				<p>$120.00 USD</p>
			</td>
			<td>
				<p>x(icon)</p>
			</td>
			<td>
				<p>x(icon)</p>
			</td>
		</tr>
		<tr>
			<td>
				<p>
					<input type="radio" name="membership"> Both Online and Print Version <a href="#">See Sample</a>
				</p>
				<p class="table--indent">
					<input type="checkbox"> Air Mail (Print Version)</p>
			</td>
			<td>
				<p>$170.00 USD</p>
				<p>$80.00 USD</p>
			</td>
			<td>
				<p>x(icon)</p>
			</td>
			<td>
				<p>x(icon)</p>
			</td>
		</tr>
		<tr>
			<td>
				<p>
					<input type="radio" name="membership"> None</p>
			</td>
			<td></td>
			<td></td>
			<td></td>
		</tr>
	</table>
</div>
{% endblock %}