{% extends '_layouts/main-application.html' %} {% set page = {title:"Index"} %} {% block content %}
<div class="container">
	<table id="membershipTable">
		<tr>
			<th>&nbsp;</th>
			<th>
				<p>Price</p>
			</th>
			<th class="table--text-left">
				<p>Monthly Online Access</p>
				<p>(12 per year)</p>
			</th>
			<th class="table--text-left">
				<p>Quartely Print Copy</p>
				<p>(Free Shipping)</p>
			</th>
		</tr>
		<tr class="table__colspan">
			<td colspan=4>Membership Benefit: Food Technology</td>
		</tr>
		<tr>
			<td>
				<p>
					<input type="radio" name="print">Print Version <a href="#">See Sample</a></p>
				<p class="table--indent">
					<input type="checkbox"> Air Mail (Print Version)</td>
			<td>
				<p><strong>Included</strong></p>
				<p>$60.00 USD</p>
			</td>
			<td></td>
			<td></td>
		</tr>
		<tr>
			<td colspan=4>Select Additional Publication</td>
		</tr>
		<tr>
			<td>
				<p>
					<input type="radio" name="membership"> Online Version
				</p>
			</td>
			<td>
				<p>$120.00 USD</p>
			</td>
			<td>
				<p>x(icon)</p>
			</td>
			<td>
				<p>x(icon)</p>
			</td>
		</tr>
		<tr>
			<td>
				<p>
					<input type="radio" name="membership"> Both Online and Print Version <a href="#">See Sample</a>
				</p>
				<p class="table--indent">
					<input type="checkbox"> Air Mail (Print Version)</p>
			</td>
			<td>
				<p>$170.00 USD</p>
				<p>$80.00 USD</p>
			</td>
			<td>
				<p>x(icon)</p>
			</td>
			<td>
				<p>x(icon)</p>
			</td>
		</tr>
		<tr>
			<td>
				<p>
					<input type="radio" name="membership"> None</p>
			</td>
			<td></td>
			<td></td>
			<td></td>
		</tr>
	</table>
</div>
{% endblock %}
