<!-- Extent this master layout -->
{% extends '_layouts/search-template.html' %}
{% set page = {
	title:"Content Tagged XYZABC"
	,subtitle:"Optional Subhead"
} %}

{% block content %}


<div class="row-wrapper contained">
	<header class="page-title__header">
		<h1 class="page-title__headline">{{page.title}}</h1>
	</header>
	

	<div class="row searchRowWithItAll">
	
		<div class="column-auto searchColumnWithMostStuff">
			<!--start nested row-->
			<div class="row">
				<div class="column-auto">
					{% include './_components/search/searchSort.html'%}
                    {% include './_components/search/searchPagination.html'%}
					
					{% include './_components/search/searchTotals.html'%}
				</div>
			</div>
			<!--end nested row-->

			<!--start nested row-->
			<div class="row">
				<div class="column-auto">
					<div class="containerForSearchResults">
						{% include './_components/search/card-searchResult.html'%}
						{% include './_components/search/card-searchResult.html'%}
						{% include './_components/search/card-searchResult.html'%}
						{% include './_components/search/card-searchResult.html'%}
						{% include './_components/search/card-searchResult.html'%}
						{% include './_components/search/card-searchResult.html'%}
					</div>
					<!--end containerForSearchResults-->
					<!-- second pagination needs to go here-->
					{% include './_components/search/searchPagination.html'%}
				</div>
				<!--end column-auto-->

				<div class="column-ads">
					{% include './_sublayouts/sublayout__tagCloud.html'%}
					{% include './_sublayouts/sublayout__ads.html'%}
				</div>
				<!--end column-ads-->

			</div>
			<!--end nested row-->
		</div>
		<!--end column-auto-->
	</div>
	<!--end row-->
</div>
<!--end row-wrapper-->



	


{% endblock %}

