.profile-control-view-mode {
	.buttonRow {
		.btn.btn-link {
			padding: $btn-base-padding;
		}
	}
}

#ctl00_MainContent_ctl03_ContainerPanel a.btn {
	@include unButton()
}

#ctl00_MainContent_ctl03_ContainerPanel {
	position: relative;
	a.btn.btn-link.details {
		position: absolute;
		right: 0;
		width: auto;
		top: -8px;
		z-index: 2;
	}
}

.myAccountProfile .col-lg-3 .MembershipSummary_PersonifyDefault h3.heading3.bord-low {
	margin-right: 7rem;
	display: block;
}

#ctl00_MainContent_ctl01_pnlContainer .action-hyperlink {
	@include unButton();
}

.PurchaseHistory_PersonifyDefault.Profile_PersonifyDefault .searchContainer .buttonRow,
.DonationHistoryControl_PersonifyDefault.Profile_PersonifyDefault .filter .buttonRow {
	margin: 0;
	padding: 0;
}

#ctl00_MainContent_ctl00_btnAddEducation {
	padding: $btn-base-padding;
}

.PhotoControl {
	.uploadPhotoContainer.clearfix {
		padding: 1rem 0;
	}
	.uploadPhotoContainer .supportedFormats {
		padding: 0;
		margin: 0;
		margin-right: 2rem;
	}
	.uploadRemovePhotoContainer {
		padding-bottom: 1rem;
	}
}

#ctl00_MainContent_ctl00_wndAddEditEducation_C_txtInstitutionName {
	@include inputText();
}

.showHideAllContainer {
	width: 46.6%;
	text-align: center;
}

.profile-control-main,
.formLayout .formRow.checkedValue,
.formLayout .specialNeedDisplayMode .formRow,
span.checked {
	background-size: 14px;
	background-image: $icon-checkmark;
}

h3.heading3.ctrlTitle.h-color-primary.bord-low {
	font-size: 16px;
	margin-bottom: 10px;
}

.MyContactInformation_PersonifyDefault.Profile_PersonifyDefault.Base_PersonifyDefault {
	border-bottom: 1px solid $ift-grey-light;
}

// Information Boxes
.content>.RadAjaxPanel,
.content>.Profile_PersonifyDefault.Base_PersonifyDefault {
	padding: 20px;
	background: white;
	margin-bottom: 20px;
	.controlContainer {
		width: auto;
	}
	.section.profile-pic {
		border-radius: 0;
	}
	.section.profile-ctrl-contact-info {
		padding-left: 10px;
	} // Blue Bars
	h3.heading3.bord-low {
		border-bottom: none;
		margin-bottom: 8px;
		padding-bottom: 10px;
	}
	.address_PersonifyDefault .ctrlContent,
	.name-demographics_PersonifyDefault .ctrlContent {
		margin-bottom: 20px
	}
}

// clear button
.ctrl-form-row .ctrl-row-item-button input,
.ctrl-form-row .ctrl-row-item-button input.btn {
	padding: 4px 8px;
}

.ctrl-emergency-contacts-form-row-priority .ctrl-row-item-button .inactive input {
	background: transparent;
}

// Membership Summary
#ctl00_MainContent_ctl03_ContainerPanel {
	.ctrlContent {
		padding: 0;
	}
	ul.membershipValues li {
		border: none;
		&.memType {
			letter-spacing: -1px;
		}
		&.memType:before,
		&.memType:after {
			content: " ";
			display: table;
		}
		&.memType:after {
			clear: both;
		}
	}
}
.myAccountProfile {
	span[id$="Categories"],
	span[id$="LabelBuyingInfluence"] {
		font-weight: bold;
		line-height: 2;
	}
	.memType {
		.label {
			padding-right: 0 !important;
			display: inline-block;
			float: none;
		}
		.value {
			//shrinks
			padding-left: 0 !important;
			display: block;
			float: right;
			text-align: right;
		}
	}
	.memType:before,
	.memType:after {
		content: " ";
		display: table;
	}
	.memType:after {
		clear: both;
	}
}


.ctrl-form-row.ctrl-emergency-contacts-form-row-priority {
	margin-bottom: 2em;
}

.CurrentMembership_PersonifyDefault.Profile_PersonifyDefault .exp-col-container,
.FutureMembership_PersonifyDefault.Profile_PersonifyDefault .exp-col-container {
	border: 1px solid #f3f3f3;
	.exp-col-content {
		padding: 1em 0;
	}
	.ctrl-row-item.ctrl-row-header.ctrl-row-label {
		color: inherit;
	}
}

.Profile_PersonifyDefault.Base_PersonifyDefault {
	.buttonRow .btn {
		padding: 10px;
		margin: 10px;
		display: inline-block;
		min-width: 160px;
		margin-bottom: 10px;
		&:first-child {
			margin-left: 0px;
		}
	}
}

#ctl00_MainContent_ctl03_ContainerPanel,
#ctl00_MainContent_ctl04_pnlContainer {
	.btn {
		margin: 10px auto;
		display: block;
		width: 100%;
	}
}

#ctl00_ctl00_MainContent_ctl01_ContainerPanelPanel>#ctl00_MainContent_ctl01_ContainerPanel {
	padding: 0;
}

.Profile_PersonifyDefault.Base_PersonifyDefault .buttonRow .btn:first-child {
	margin-left: 0;
}

// My Meeting
#ctl00_MainContent_ctl01_pnlContainer .ctrl-form-row,
#ctl00_MainContent_ctl01_pnlContainer .ctrl-form-row:first-child a,
#ctl00_MainContent_ctl01_pnlContainer .ctrl-row-item.ctrl-row-label,
#ctl00_MainContent_ctl01_pnlContainer .ctrl-row-action-item.ctrl-row-item-button {
	color: $ift-blue;
	background-color: transparent;
	border: none;
	padding: 6px 0;
}

#ctl00_MainContent_ctl00_PhotoControl_pnlContainer h3 {
	display: none;
}

.PhotoControl_PersonifyDefault.Profile_PersonifyDefault .photoImgView,
.PhotoControl_PersonifyDefault.Profile_PersonifyDefault .edit-row {
	border: 0;
	margin-bottom: 6px;
}

.MyContactInformation_PersonifyDefault.Profile_PersonifyDefault .section.title-address {
	border-bottom: none;
}

.MySubscriptionsControl_PersonifyDefault.Profile_PersonifyDefault .ctrl-form-row:nth-of-type(4n+1) .ctrl-row-item.ctrl-row-label {
	color: white;
}

.MyMeetingsControl_PersonifyDefault.Profile_PersonifyDefault .ctrl-form-row:nth-of-type(3n+1),
.MySubscriptionsControl_PersonifyDefault.Profile_PersonifyDefault .ctrl-form-row:nth-of-type(4n+1),
.EducationControl_PersonifyDefault.Base_PersonifyDefault .ctrl-form-row.ctrl-row-header-colored,
.ctrl-form-row.ctrl-emergency-contacts-form-row-priority,
.ctrl-form-row.order-item,
.ctrl-form-row:first-child,
.address_PersonifyDefault .ctrlTitle {
	// Need to add real Blue
	background: $ift-blue;
	color: white;
	border: none;
	padding: 06px;
	.ctrl-row-item,
	.ctrl-row-item a {
		color: white;
		text-shadow: none;
	}
	.btn,
	{
		background: $ift-blue;
		color: white;
		border: 1px solid;
		display: inline-block;
		text-shadow: none;
	}
	.ctrl-row-action-item.ctrl-row-item-button {
		border: 1px solid;
		padding: 2px 8px;
		a {
			color: white;
			border: 1px solid;
		}
	}
}

.EducationControl_PersonifyDefault.Base_PersonifyDefault .ctrl-form-row.ctrl-row-header-colored .ctrl-row-item a {
	background: $ift-blue;
	color: white;
	border: 1px solid;
	display: inline-block;
	text-shadow: none;
	padding: 2px 10px;
}

.exp-col-container.expanded {
	.ctrl-form-row,
	.ctrl-row-item.ctrl-row-item-name.ctrl-row-value {
		background-color: transparent !important;
		color: #777 !important;
	}
}

div#ctl00_MainContent_ctl03_ContainerPanel table td {
	min-width: 12rem;
	line-height: 1.6;
}

// Ad Space on Right
#ctl00_MainContent_ctl05_NextButton {
	border: none;
}

#ctl00_MainContent_ctl05_ControlPanel {
	background-color: white;
}

#ctl00_MainContent_ctl05_ContainerPanelProducts,
#ctl00_MainContent_ctl05_ControlPanel {
	min-width: 100%;
	text-align: center;
}

#ctl00_MainContent_ctl05_ScrollingPanel {
	margin: auto;
	max-width: 200px;
	float: none;
}

// Special Needs
.CustomerSpecialNeedControl_PersonifyDefault .ctrlContent,
.CommunicationPreferencesControl_PersonifyDefault .ctrlContent .ctrlContent,
.OptInOutControl_PersonifyDefault .ctrlContent .ctrlContent {
	border: 1px solid $ift-grey-light;
	background-color: transparent;
	padding: 20px 10px;
	.fieldLabel {
		background-color: transparent;
	}
}

// Membership Details
#ctl00_ctl00_MainContent_ctl02_ContainerPanelPanel {
	.heading4.h-color-secondary {
		font-weight: normal;
	}
	.btn {
		margin: 10px 0;
	}
}

.ctrl-form-row.ctrl-emergency-contacts-form-row-priority .EmergencyContact_PersonifyDefault .ctrl-form-row {
	border: none;
	border-bottom: 1px solid $ift-grey-light;
}

.PurchaseHistory_PersonifyDefault.Profile_PersonifyDefault .exp-col-content.expanded {
	background-color: transparent;
}

.ctrl-form-row:first-child .ctrl-row-action-item.ctrl-row-item-button {
	border: none;
}

.education-details .formRow .RadComboBox.RadComboBox_PersonifyDefault {
	width: 330px !important;
	@include break(max, $breakpoint-max-xs-override) {
		width: 100%!important;
	}
}

.RadComboBoxDropDown .rcbItem,
.RadComboBoxDropDown .rcbHovered,
.RadComboBoxDropDown .rcbDisabled,
.RadComboBoxDropDown .rcbLoading,
.RadComboBoxDropDown .rcbCheckAllItems,
.RadComboBoxDropDown .rcbCheckAllItemsHovered {
	padding: 6px 6px;
	line-height: 1;
}

form[action$="contactinformation"] .ctrl-form-row:first-child .ctrl-row-action-item.ctrl-row-item-button a {
	padding: 4px 6px;
	border: 1px solid;
}