form[action$="myaccount"],
form[action$="educationalbackground"],
form[action$="addresses"],
main.myAccountProfile {
	#ctl00_MainContent_ctl00_frAttestation {
		text-align: left;
	}
	label[for="MainContent_ctl00_chkAttestation"] {
		padding-left: 0;
	}
	#ctl00_MainContent_ctl00_frAttestation_Label {
		display: none;
	}
	#ctl00_MainContent_ctl00_EditAddressControl_lblZipAdditionInfo {
		display: block;
	}
}

.formLayout fieldset.searchContainer input[type="checkbox"] {
	margin-left: 0;
}

form[action$="educationalbackground"] {
	.EducationControl_PersonifyDefault.Base_PersonifyDefault .ctrl-form-row.ctrl-row-header-colored {
		margin-top: 2rem;
		&:first-child {
			margin-top: 0;
		}
	}
}

.totalPaymentContainer,.ctrl-pay-open-oder.balanceContainer {
    font-size: 1.6rem;
    line-height: 1.6;
}

#div#ctl00_MainContent_ctl00_pnlPaymentInfo{
	.heading3{
		    margin-top: 3rem;
    font-size: 1.6rem;
	}
}

.formLayout fieldset.phoneUsage {
	margin-left: 0;
	.formRow {
		padding-top: 0;
		padding-bottom: 0;
		[type="checkbox"] {
			vertical-align: middle;
		}
		[type="checkbox"],
		label {
			margin-top: 5px;
		}
		label {
			width: auto;
		}
	}
}

.myAccountProfile {
	.profile-control-edit-mode {
		.buttonRow {
			margin-left: 0;
		}
	}
	div#ctl00_MainContent_ctl03_noRecordsDivDescription {
		margin-left: 8.5rem;
		display: block;
	}
	.phoneDetails {
		label {
			min-width: 12rem;
		}
	}
	.addrDetails {
		.address-control-panel {
			label {
				max-width: 16rem;
			}
		}
	}
	#ctl00_MainContent_ctl00_EditAddressControl_lblZipAdditionInfo {
		font-weight: bold;
	}
}

form[action$="purchasehistory"] {
	.PurchaseHistory_PersonifyDefault.Profile_PersonifyDefault .searchContainer label {
		display: inline;
	}
	.filterSearchButtons {
		display: block;
		width: 100%;
	}
	#ctl00_MainContent_ctl00_KeywordSearch {
		display: block;
		+br {
			display: none;
		}
	}
	table {
		+br {
			display: none;
		}
	} //table
	#ctl00_MainContent_ctl00_TypeSelect {
		max-width: 320px;
	}
}

form[action$="addresses"] {
	.address_PersonifyDefault {
		//padding-left: $gutter-width/2;
		.ctrlTitle {
			font-size: 1.3rem !important;
			padding: 10px;
		}
		.addressLinkContainer {
			top: -39px;
			right: 5px;
			color: #fff; //padding-top:6px;
			//padding-right:6px;
			a {
				border: 1px solid;
			}
		}
		.action-hyperlink {
			color: #fff;
			display: inline-block;
			text-shadow: none;
			padding: 2px 10px;
		}
	}
}

//thereS a weird nested table thing going on
#RadWindowWrapper_ctl00_MainContent_ctl00_DeleteWindow_DeleteRadWindow {
	position: relative;
	overflow: hidden;
	&[style] {
		width: 280px !important;
		height: 120px !important;
	}
	.rwTitlebarControls {
		position: absolute;
		top: 0;
		left: 0;
	}
	em {
		display: none;
	}
	table {
		&[style] {
			height: auto !important;
		}
	}
	p {
		font-size: 1.2rem;
		font-weight: bold;
	}
	.formlayout {
		padding-top: 0;
		padding-bottom: 0;
	}
	.buttonRow {
		margin-top: 0 !important;
		margin-bottom: 0 !important;
		input {
			margin-top: 0;
			margin-bottom: 0;
		}
	}
}

form[action$="contactinformation"] {
	.ctrl-row-item {
		font-weight: bold;
	}
}

form[action$="usernamepassword"] {
	.UserNamePasswordControl_PersonifyDefault .formLayout fieldset .formRow input.ChangeLinkButton {
		text-decoration: none;
	}
}

form[action$="purchasehistory"] {
	.Profile_PersonifyDefault.Base_PersonifyDefault .buttonRow .btn[value="Pay Now"] {
		@include button() margin: 0;
		padding: 10px;
	}
}

.myAccountProfile {
	div#ctl00_MainContent_ctl03_ContainerPanel h3 {
		font-size: 16px;
	}
	a#ctl00_MainContent_ctl06_EditButton,
	a#ctl00_MainContent_ctl05_EditButton {
		position: absolute;
		top: 2rem;
		right: 2rem;
	}
	div#ctl00_MainContent_ctl05_ContentPanel,
	div#ctl00_ctl00_MainContent_ctl06_ContainerPanelPanel {
		position: relative;
		background: white;
		padding: 2rem;
		margin-bottom: 2rem;
		.heading3.bord-low {
			font-size: 16px;
			border: none;
			padding-bottom: 1rem;
		}
	}
	div#ctl00_MainContent_ctl04_RefreshPanel h2 {
		font-size: 16px;
		border: none;
		padding-bottom: 1rem;
	}

	div#ctl00_MainContent_ctl04_RefreshPanel table {
		width: 100%;
		max-width: 400px;
	}
	#ctl00_MainContent_ctl04_DivisionPanel table {
		width: 100%;
		td {
			width: 50%;
		}
	}
	div#ctl00_MainContent_ctl04_RefreshPanel tbody tr:first-child td+td {
		position: absolute;
		right: 0;
	}

	div#ctl00_MainContent_ctl04_RefreshPanel {
		position: relative;
	}

	#ctl00_MainContent_ctl04_DivisionPanel .step3Left .heading2,
	#ctl00_MainContent_ctl05_BioInfoPanel h4,
	#ctl00_MainContent_ctl06_SurveyPanel h2 {
		font-size: 16px!important;
		color: #5786c7;
		font-weight: bold;
	}

	.ctrlContent {
		input {
			margin-right: .5rem;
		}
		label+span {
			display: block;
			margin-top: .5rem;
		}
	}

	#ctl00_MainContent_ctl04_ContainerPanel #ctl00_MainContent_ctl04_DivisionPanel .step3Left {
		width: 100%;
	}

	#ctl00_ctl00_MainContent_ctl04_ContainerPanelPanel .ctrlContent {
		padding: 0;
		margin-bottom: 2rem;
	}
}