<div class="sublayout sublayout__autoColGrid">
    

    <div class="row-wrapper contained">
        <!-- <header class="theme--centered">
            <h2>Featured News</h2>
        </header> -->
        <div class="row">
            <!--auto width columns?-->
            <div class="column-auto">
                {% set cardComponent = {
                    orientationClass: 'vertical-component'
                    ,cardTypeClass: ''
                    ,media: true
                    ,headline: 'Cooking Up Science 2016 Recipes &amp; Videos'
                    ,date: true
                    ,tags: true
                    ,text: 'short'
                    ,buttons: true
                    ,buttonGroupTheme: 'button-group--default-theme'
                    ,dataLink: 'http://yahoo.com'
                }
                %}
                {% include './_components/card-sink.html'%}
            </div>
            <div class="column-auto">
                {% set cardComponent = {
                    orientationClass: 'vertical-component'
                    ,cardTypeClass: ''
                    ,media: true
                    ,headline: 'See You in Vegas for IFT17'
                    ,date: true
                    ,tags: true
                    ,text: 'short'
                    ,buttons: true
                    ,buttonGroupTheme: 'button-group--default-theme'
                    ,dataLink: 'http://yahoo.com'
                }
                %}
                {% include './_components/card-sink.html'%}
            </div>

            

        </div>
        <!--end row-->
    </div>
</div>
<!--end chunk -->