<div class="has-horizontal-component">
<header class="cardList__header">
    <h4 class="cardList__headline"><span>Latest News</span></h4>
</header>
{% set cardComponent = {
    orientationClass: 'horizontal-component'
    ,cardTypeClass: 'card-component--list'
    ,headline: 'See You in Vegas for IFT17'
    ,date: true
    ,text: 'shortest'
    ,buttons: true
    ,buttonGroupTheme: 'button-group--link-theme'
    ,dataLink: 'http://yahoo.com'
}
%}
{% include './_components/card-sink.html'%}
{% set cardComponent = {
    orientationClass: 'horizontal-component'
    ,cardTypeClass: 'card-component--list'
    ,headline: 'EAS Offers New Strategic Consulting Service'
    ,date: true
    ,text: 'shortest'
    ,buttons: true
    ,buttonGroupTheme: 'button-group--link-theme'
    ,dataLink: 'http://yahoo.com'
}
%}
{% include './_components/card-sink.html'%}
{% set cardComponent = {
    orientationClass: 'horizontal-component'
    ,cardTypeClass: 'card-component--list'
    ,headline: 'Weighty Issues for a Hefty Nation'
    ,date: true
    ,text: 'shortest'
    ,buttons: true
    ,buttonGroupTheme: 'button-group--link-theme'
    ,dataLink: 'http://yahoo.com'
}
%}
{% include './_components/card-sink.html'%}

<div class="card-component__button--group button-group--default-theme">
    <a class="card-component__button button"><span>View All Latest News</span></a>
</div>
</div>