<div class="sublayout sublayout__autoColGrid sublayout__list">
    

    <div class="row-wrapper contained">
        <!-- <header class="contained--default-theme">
            <h2>Latest News</h2>
        </header> -->
        <div class="row">
            <!--auto width columns?-->
            <div class="column-auto">
                
                {% set cardComponent = {
                orientationClass: 'horizontal-component'
                ,cardTypeClass: 'card-component--list'
                ,media: true
                ,mediaAspectRatio: 'card-component__media--image--wrapper--square'
                ,headline: 'See You in Vegas for IFT17'
                ,date: true
                ,tags: true
                ,text: 'medium'
                ,buttons: true
                ,buttonGroupTheme: 'button-group--link-theme'
                ,dataLink: 'http://yahoo.com'
            }
            %}
            {% include './_components/card-sink.html'%}
            
            {% set cardComponent = {
                orientationClass: 'horizontal-component'
                ,cardTypeClass: 'card-component--list'
                ,media: true
                ,mediaAspectRatio: 'card-component__media--image--wrapper--square'
                ,headline: 'EAS Offers New Strategic Consulting Service'
                ,date: true
                ,tags: true
                ,text: 'medium'
                ,buttons: true
                ,buttonGroupTheme: 'button-group--link-theme'
                ,dataLink: 'http://yahoo.com'
            }
            %}
            {% include './_components/card-sink.html'%}
            
            {% set cardComponent = {
                orientationClass: 'horizontal-component'
                ,cardTypeClass: 'card-component--list'
                ,media: true
                ,mediaAspectRatio: 'card-component__media--image--wrapper--square'
                ,headline: 'Cooking Up Science 2016 Recipes &amp; Videos'
                ,date: true
                ,tags: true
                ,text: 'medium'
                ,buttons: true
                ,buttonGroupTheme: 'button-group--link-theme'
                ,dataLink: 'http://yahoo.com'
            }
            %}
            {% include './_components/card-sink.html'%}

            {% set cardComponent = {
                orientationClass: 'horizontal-component'
                ,cardTypeClass: 'card-component--list'
                ,media: true
                ,mediaAspectRatio: 'card-component__media--image--wrapper--square'
                ,headline: 'Weighty Issues for a Hefty Nation'
                ,date: true
                ,tags: true
                ,text: 'medium'
                ,buttons: true
                ,buttonGroupTheme: 'button-group--link-theme'
                ,dataLink: 'http://yahoo.com'
            }
            %}
            {% include './_components/card-sink.html'%}

            </div><!--end column auto-->
        </div><!--end row-->
        <div class="card-component__button--group button-group--default-theme">
            <a class="card-component__button button"><span>View All Latest News</span></a>
        </div>

    </div><!--end row wrapper contained-->
</div><!--end sublayout-->