<div class="sublayout sublayout__autoColGrid sublayout__newsArea">
    <div class="row-wrapper contained">
        <header class="theme--centered">
            <h2>IFT<span class="ift-title-year-highlight">17</span> News</h2>
        </header>
        <div class="row">
            <div class="column-auto">
                {% set cardComponent = { orientationClass: 'vertical-component' ,cardTypeClass: '' ,themeClass: 'theme--trading-card' ,media: true ,headline: 'Vertical Card' ,date: true ,tags: true ,text: 'medium' ,buttons: true ,buttonGroupTheme: 'button-group--default-theme' ,dataLink: '' } %} {% include './_components/card-sink.html'%}
            </div>
            <div class="column-auto">
                {% include './_sublayouts/sublayout__newsList--HOMEPAGE.html'%}
            </div>
            <div class="column-auto">
                {% include './_sublayouts/sublayout__twitter--vertical.html'%}
            </div>
        </div>
        <!--end row-->
    </div>
    <!--end row-wrapper-contained-->
</div>
<!--end sublayout-->
