<div class="sublayout sublayout__autoColGrid">
    <div class="row-wrapper contained">
        <div class="row">
            <div class="column-auto has-horizontal-component">
                <header class="cardList__header">
                    <h4 class="cardList__headline"><span>Expo Highlights</span></h4>
                </header>
                {% set cardComponent = {
                    orientationClass: 'horizontal-component'
                    ,cardTypeClass: 'card-component--list'
                    ,headline: 'Sed varius tortor eu neque egestas fringilla praesent id nisi massa'
                    ,date: true
                    ,tags: true
                }
                %}
                {% include './_components/card-sink.html'%}
                {% set cardComponent = {
                    orientationClass: 'horizontal-component'
                    ,cardTypeClass: 'card-component--list'
                    ,headline: 'Eget commodo orci pulvinar vel, Pellentesque hosnian morbi tristique'
                    ,date: true
                    ,tags: true
                }
                %}
                {% include './_components/card-sink.html'%}
                {% set cardComponent = {
                    orientationClass: 'horizontal-component'
                    ,cardTypeClass: 'card-component--list'
                    ,headline: 'Vivamus at risus quam morbi venenatis'
                    ,date: true
                    ,tags: true
                }
                %}
                {% include './_components/card-sink.html'%}
                <div class="card-component__button--group button-group--default-theme">
                    <a class="card-component__button button"><span>View All Expo Highlights</span></a>
                </div>
            </div>
            <div class="column-auto">
                <div class="has-horizontal-component">
                    <header class="cardList__header">
                        <h4 class="cardList__headline"><span>Upcoming Events</span></h4>
                    </header>
                    {% set cardComponent = {
                        orientationClass: 'horizontal-component'
                        ,cardTypeClass: 'card-component--list card-component--event'
                        ,headline: 'Malesuada fames ac turpis egestas'
                        ,date: true
                        ,buttons: 2
                        ,buttonGroupTheme: 'button-group--default-theme'
                        ,text: 'shortest'
                    }
                    %}
                    {% include './_components/card-sink.html'%}
                    {% set cardComponent = {
                        orientationClass: 'horizontal-component'
                        ,cardTypeClass: 'card-component--list card-component--event'
                        ,headline: 'Fusce dapibus neque lorem placerat'
                        ,date: true
                        ,buttons: 2
                        ,buttonGroupTheme: 'button-group--default-theme'
                        ,text: 'shortest'
                    }
                    %}
                    {% include './_components/card-sink.html'%}

                    <div class="card-component__button--group button-group--default-theme">
                        <a class="card-component__button button"><span>View All Upcoming Events</span></a>
                    </div>
                </div>
            </div>

            <div class="column-auto">
                <div class="has-horizontal-component">
                    <header class="cardList__header">
                        <h4 class="cardList__headline"><span>Networking Opportunities</span></h4>
                    </header>
                    {% set cardComponent = {
                        orientationClass: 'horizontal-component'
                        ,cardTypeClass: 'card-component--list'
                        ,headline: 'Sociosqu ad litora torquent per conubia nostra, per crispa greedo cras'
                        ,text: 'shortest'
                        ,dataLink: 'http://yahoo.com'
                    }
                    %}
                    {% include './_components/card-sink.html'%}
                    {% set cardComponent = {
                        orientationClass: 'horizontal-component'
                        ,cardTypeClass: 'card-component--list'
                        ,headline: 'Sociosqu ad litora torquent per conubia nostra, per crispa greedo cras'
                        ,text: 'shortest'
                        ,dataLink: 'http://yahoo.com'
                    }
                    %}
                    {% include './_components/card-sink.html'%}
                    {% set cardComponent = {
                        orientationClass: 'horizontal-component'
                        ,cardTypeClass: 'card-component--list'
                        ,headline: 'Vivamus at dapibus neque lorem placerat conubia nostra, per crispa greedo cras'
                        ,text: 'shortest'
                        ,dataLink: 'http://yahoo.com'
                    }
                    %}
                    {% include './_components/card-sink.html'%}
                    
                    <div class="card-component__button--group button-group--default-theme">
                        <a class="card-component__button button"><span>View All Networking</span></a>
                    </div>
                </div>
            </div>

        </div>


