<div class="sublayout sublayout__waysToRegister">
    <div class="row-wrapper contained ift-grid">
        <header class="header-contained--default-theme">
            <h4><span>Ways To Register:</span></h4>
        </header>
        <div class="row">
            <div class="column-auto">
                <h6 class="card-component__headline"><span>Attendees</span></h6>
            </div>
        </div>
        <div class="row">
            <div class="column-auto">
                {% set cardComponent = {
                    orientationClass: 'vertical-component'
                    ,headline: 'Online:'
                    ,text: 'short'
                    ,buttons: true
                    ,buttonGroupTheme: 'button-group--default-theme'
                }
                %}
                {% include './_components/card-sink.html'%}
            </div>
            <!--additional columns are optional.-->
            <div class="column-auto">
                {% set cardComponent = {
                    orientationClass: 'vertical-component'
                    ,headline: 'Mail or Fax:'
                    ,text: 'short'
                    ,buttons: true
                    ,buttonGroupTheme: 'button-group--default-theme'
                }
                %}
                {% include './_components/card-sink.html'%}
            </div>
            <div class="column-auto">
                {% set cardComponent = {
                    orientationClass: 'vertical-component'
                    ,headline: 'Phone:'
                    ,text: 'short'
    
                }
                %}
                {% include './_components/card-sink.html'%}
            </div>
        </div><!--end row-->
        <div class="row">
            <div class="column-auto">
                {% set cardComponent = {
                    orientationClass: 'vertical-component'
                    ,headline: 'Exhibitors'
                    ,text: 'medium'
                    ,buttons: true
                    ,buttonGroupTheme: 'button-group--default-theme'
                }
                %}
                {% include './_components/card-sink.html'%}
            </div>
        </div>
        <div class="row">
            <div class="column-auto">
                {% set cardComponent = {
                    orientationClass: 'vertical-component'
                    ,headline: 'Members of the Press'
                    ,text: 'medium'
                    ,buttons: true
                    ,buttonGroupTheme: 'button-group--default-theme'
                }
                %}
                {% include './_components/card-sink.html'%}
            </div>
        </div>
        <div class="row">
            <div class="column-auto">
                {% set cardComponent = {
                    orientationClass: 'vertical-component'
                    ,headline: 'International Registrants'
                    ,text: 'long'
                }
                %}
                {% include './_components/card-sink.html'%}
            </div>
        </div>

    </div>
</div>