<div class="bf_tabs">
    {% include './_components/scheduleFilters.html'%}

    <div class="bf_tabs__clickTargetsWrapper">
        <ul class="bf_tabs__list">
            <li class="bf_tabs__listItem">
                <div class="tab__clickTarget" data-tabset="day-1">
                    <span class="conf_day dayName">Sunday</span>
                    <span class="conf_day dayDate">June 25</span>
                </div>
            </li>
            <li class="bf_tabs__listItem">
                <div class="tab__clickTarget" data-tabset="day-2">
                    <span class="conf_day dayName">Monday</span>
                    <span class="conf_day dayDate">June 26</span>
                </div>
            </li>
            <li class="bf_tabs__listItem">
                <div class="tab__clickTarget" data-tabset="day-3">
                    <span class="conf_day dayName">Tuesday</span>
                    <span class="conf_day dayDate">June 27</span>
                </div>
            </li>
            <li class="bf_tabs__listItem">
                <div class="tab__clickTarget" data-tabset="day-4">
                    <span class="conf_day dayName">Wednesday</span>
                    <span class="conf_day dayDate">June 28</span>
                </div>
            </li>
            <li class="bf_tabs__listItem">
                <div class="tab__clickTarget" data-tabset="day-5">
                    <span class="conf_day dayName">Thursday</span>
                    <span class="conf_day dayDate">June 29</span>
                </div>
            </li>
        </ul>
    </div>

    <div class="bf_tabs__contentWrapper">
        <div class="bf_tabs__contentWrapper--inner">
            

            <div class="tab__item selected" data-tabset="day-1">
              <div class="tab__item--inner">
                
                <div class="card-component card-component__theme--default">
                    <div class="card-component__wrapper-inner">
                        <div class="card-component__content-wrapper">
                            <div class="card-component__text--wrapper">
                                <div class="card-component__text">
                                    <!-- can't count on p tags -->
                                    Optional text at top of day 1 pellentesque habitant morbi tristiqueVestibulum tortor quam, feugiat vitae, ultricies eget, tempor sit amet, ante. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed.
                                </div>
                            </div>
                        </div>
                        <!--ends content wrapper (sibling of media wrapper) -->
                    </div>
                    <!--end card card-component__wrapper-inner">-->
                </div>

                {% include './_sublayouts/scheduleAccordions/schedule_accordion_1.html'%} 
              </div>
            </div>
            <div class="tab__item" data-tabset="day-2">
              <div class="tab__item--inner" >
                <div class="card-component card-component__theme--default">
                    <div class="card-component__wrapper-inner">
                        <div class="card-component__content-wrapper">
                            <div class="card-component__text--wrapper">
                                <div class="card-component__text">
                                    <!-- can't count on p tags -->
                                    Optional text at top of day 2 consectetur adipiscing elit, sed pellentesque habitant morbi tristiqueVestibulum tortor quam, feugiat vitae, ultricies eget, tempor sit amet, ante. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed.
                                </div>
                            </div>
                        </div>
                        <!--ends content wrapper (sibling of media wrapper) -->
                    </div>
                    <!--end card card-component__wrapper-inner">-->
                </div>
                {% include './_sublayouts/scheduleAccordions/schedule_accordion_2.html'%} 
              </div>
            </div>
            <div class="tab__item" data-tabset="day-3">
              <div class="tab__item--inner" >
                <div class="card-component card-component__theme--default">
                    <div class="card-component__wrapper-inner">
                        <div class="card-component__content-wrapper">
                            <div class="card-component__text--wrapper">
                                <div class="card-component__text">
                                    <!-- can't count on p tags -->
                                    Optional text at top of day 3 pellentesque consectetur adipiscing elit, sed.
                                </div>
                            </div>
                        </div>
                        <!--ends content wrapper (sibling of media wrapper) -->
                    </div>
                    <!--end card card-component__wrapper-inner">-->
                </div>
                {% include './_sublayouts/scheduleAccordions/schedule_accordion_3.html'%} 
              </div>
            </div>
            <div class="tab__item" data-tabset="day-4">
              <div class="tab__item--inner">
                <div class="card-component card-component__theme--default">
                    <div class="card-component__wrapper-inner">
                        <div class="card-component__content-wrapper">
                            <div class="card-component__text--wrapper">
                                <div class="card-component__text">
                                    <!-- can't count on p tags -->
                                    Optional text at top of day 4 sit amet, ante. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed.
                                </div>
                            </div>
                        </div>
                        <!--ends content wrapper (sibling of media wrapper) -->
                    </div>
                    <!--end card card-component__wrapper-inner">-->
                </div>
                {% include './_sublayouts/scheduleAccordions/schedule_accordion_4.html'%} 
              </div>
            </div>
            <div class="tab__item" data-tabset="day-5">
              <div class="tab__item--inner">
                <div class="card-component card-component__theme--default">
                    <div class="card-component__wrapper-inner">
                        <div class="card-component__content-wrapper">
                            <div class="card-component__text--wrapper">
                                <div class="card-component__text">
                                    <!-- can't count on p tags -->
                                    Optional text at top of day 5 Lorem ipsum dolor pellentesque habitant morbi tristiqueVestibulum tortor quam, feugiat vitae, ultricies eget, tempor sit amet, ante. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed.
                                </div>
                            </div>
                        </div>
                        <!--ends content wrapper (sibling of media wrapper) -->
                    </div>
                    <!--end card card-component__wrapper-inner">-->
                </div>
                {% include './_sublayouts/scheduleAccordions/schedule_accordion_5.html'%} 
              </div>
            </div>
            

        </div>
    </div>

</div>

