<article class="col-sm block">
	<header class="block__header">
		{% if block.imagesrc %}
		<img class="b-lazy" src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" data-src="{{ block.imagesrc }}">
		{% endif %}
		
		{% if block.heading %}
			<h3>{{ block.heading }}</h3>
		{% endif %}
	</header>
	<section class="block__section">
		<p>If you want to count inside a loop, just set a var to <code>loop.index</code> Be sure to add some logic if you are not looping</p>

		{% if loop.index %}
			<p>We can count! This item is number {{loop.index}}</p>
		{% else %}
			<p>This is a single include and is <em>not looped</em></p>
		{% endif %}

		<p>Note: <code>page.title</code> "{{page.title}}" is availible here too!</p>
		
	</section>
	{% if block.button == true %}
	<footer class="block__footer">
		<a href="#" class="btn btn-primary">Learn More</a>
	</footer>
	{% endif %}
</article>