<!--<div id="instafeed"></div>-->
<!--design shows 12 -->

<div class="row-wrapper contained">
<h2>The Latest #IFT<span class="ift-title-year-highlight">17</span> Buzz</h2>
  <div class="row">
    <div class="social-grid">
      <div class="bricks-grid" data-grid>
        <div class="brick" style="height:300px;" data-packed>
          {% set cardComponent = {
            cardTypeClass: 'brick-instagram'
            ,orientationClass: 'vertical-component'
            ,mediaAspectRatio: 'card-component__media--image--wrapper--square'
            ,media: true
            ,dataLink: 'http://yahoo.com'
          }
          %}
          {% include './_components/card-sink.html'%}
        </div>
        <div class="brick" style="height:300px;" data-packed>
          {% set cardComponent = {
            cardTypeClass: 'brick-instagram'
            ,orientationClass: 'vertical-component'
            ,mediaAspectRatio: 'card-component__media--image--wrapper--square'
            ,media: true
            ,dataLink: 'http://yahoo.com'
          }
          %}
          {% include './_components/card-sink.html'%}
        </div>
        <div class="brick" style="height:150px;" data-packed>
          {% set cardComponent = {
            cardTypeClass: 'brick-managed'
            ,orientationClass: 'vertical-component'
            ,media: true
            ,dataLink: 'http://yahoo.com'
          }
          %}
          {% include './_components/card-sink.html'%}
        </div>
        <div class="brick" style="height:300px;" data-packed>
          {% set cardComponent = {
            cardTypeClass: 'brick-managed'
            ,orientationClass: 'vertical-component'
            ,mediaAspectRatio: 'card-component__media--image--wrapper--square'
            ,media: true
            ,dataLink: 'http://yahoo.com'
          }
          %}
          {% include './_components/card-sink.html'%}
        </div>
        <div class="brick" style="height:150px;" data-packed>
          {% set cardComponent = {
            cardTypeClass: 'brick-managed'
            ,orientationClass: 'vertical-component'
            ,media: true
            ,dataLink: 'http://yahoo.com'
          }
          %}
          {% include './_components/card-sink.html'%}
        </div>
        
        <div class="brick" style="height:150px;" data-packed>
          {% set cardComponent = {
            cardTypeClass: 'brick-managed'
            ,orientationClass: 'vertical-component'
            ,media: true
            ,dataLink: 'http://yahoo.com'
          }
          %}
          {% include './_components/card-sink.html'%}
        </div>
        <div class="brick" style="height:300px;" data-packed>
          {% set cardComponent = {
            cardTypeClass: 'brick-managed'
            ,orientationClass: 'vertical-component'
            ,mediaAspectRatio: 'card-component__media--image--wrapper--square'
            ,overlayColor: 'blue'
            ,media: true
            ,dataLink: 'http://yahoo.com'
          }
          %}
          {% include './_components/card-sink.html'%}
        </div>
        <div class="brick" style="height:300px;" data-packed>
          {% set cardComponent = {
            cardTypeClass: 'brick-managed'
            ,orientationClass: 'vertical-component'
            ,mediaAspectRatio: 'card-component__media--image--wrapper--square'
            ,media: true
            ,dataLink: 'http://yahoo.com'
          }
          %}
          {% include './_components/card-sink.html'%}
        </div>
        <div class="brick" style="height:300px;" data-packed>
          {% set cardComponent = {
            cardTypeClass: 'brick-managed'
            ,orientationClass: 'vertical-component'
            ,mediaAspectRatio: 'card-component__media--image--wrapper--square'
            ,media: true
            ,dataLink: 'http://yahoo.com'
          }
          %}
          {% include './_components/card-sink.html'%}
        </div>
        <div class="brick" style="height:150px;" data-packed>
          {% set cardComponent = {
            cardTypeClass: 'brick-managed'
            ,orientationClass: 'vertical-component'
            ,media: true
            ,dataLink: 'http://yahoo.com'
          }
          %}
          {% include './_components/card-sink.html'%}
        </div>
        <div class="brick" style="height:300px;" data-packed>
          {% set cardComponent = {
            cardTypeClass: 'brick-managed'
            ,orientationClass: 'vertical-component'
            ,mediaAspectRatio: 'card-component__media--image--wrapper--square'
            ,media: true
            ,dataLink: 'http://yahoo.com'
          }
          %}
          {% include './_components/card-sink.html'%}
        </div>
      </div><!--end bricks grid-->
    </div><!--end social grid-->
  </div><!--end row-->
</div>