

{% if cardComponent.backgroundImage %}
<div data-link="{{cardComponent.dataLink}}" class="card-component {{cardComponent.cardTypeClass}} {{cardComponent.orientationClass}} {{cardComponent.themeClass}} card-component__theme--default b-lazy" data-src="{{cardComponent.backgroundImage}}" >

{% elif cardComponent.backgroundColor %}
<div data-link="{{cardComponent.dataLink}}" class="card-component {{cardComponent.cardTypeClass}} {{cardComponent.orientationClass}} {{cardComponent.themeClass}} card-component__theme--default card-component__theme--{{cardComponent.backgroundColor}}" >

{% else %}

<div data-link="{{cardComponent.dataLink}}" class="card-component {{cardComponent.cardTypeClass}} {{cardComponent.orientationClass}} {{cardComponent.themeClass}} card-component__theme--default">
{% endif %}

<div class="card-component__wrapper-inner">

{% if cardComponent.media%}
<div class="card-component__media--wrapper">
    <div class="card-component__media card-component__media--image--wrapper {{cardComponent.mediaAspectRatio}} b-lazy" data-src="https://unsplash.it/720/405">
    </div>

</div>
{% endif %}

{% if cardComponent.overlayColor%}
<div class="card-component__overlay card-component__overlay--{{cardComponent.overlayColor}}"></div>
{% endif %}



<div class="card-component__content-wrapper">
    {% if cardComponent.label%}
    <div class="card-component__label--wrapper">
        <span class="card-component__label"><a>Label (Featured, Instagram)</a></span>
    </div>
    {% endif %}
    {% if cardComponent.author%}
    <div class="card-component__author--wrapper">
        <div class="card-component__author--image--wrapper">
            <img alt="alt text is required" class="b-lazy card-component__author--image" src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" data-src="https://unsplash.it/720/405"/>
        </div>
        <div class="card-component__author--text--wrapper">
            <div class="card-component__author--name--wrapper">
                <p class="card-component__author--name"><a><span>Firstname Lastname</span></a></p>
            </div>
            <div class="card-component__author--description--wrapper">
                <p class="card-component__author--description"><span>Author Description</span></p>
            </div>
        </div>
    </div>
    {% endif %}

    {% if cardComponent.headline%}
    <div class="card-component__headline--wrapper">
        <h6 class="card-component__headline"><a><span>{{cardComponent.headline}}</span></a></h6>
    </div>
    {% endif %}

    {% if cardComponent.location%}
    <div class="card-component__location--wrapper">
        <p class="card-component__location"><span>Silver Spring, MD</span></p>
    </div>
    {% endif %}

    {% if cardComponent.date%}
    <div class="card-component__date--wrapper">
        <time class="card-component__date"><span>January 1, 2020</span></time>
    </div>
    {% endif %}

    {% if cardComponent.tags%}
    <div class="card-component__tags--wrapper">
        <div class="card-component__tag"><a><span>Tag 1</span></a></div>
        <div class="card-component__tag"><a><span>Tagname 2</span></a></div>
        <div class="card-component__tag"><a><span>Longer Tagname 3</span></a></div>
    </div>
    {% endif %}


    {% if cardComponent.text == 'optional' %}
    <div class="card-component__text--wrapper">
        <div class="card-component__text">
            <!-- can't count on p tags -->
            Optional text at top of day pellentesque habitant morbi tristiqueVestibulum tortor quam, feugiat vitae, ultricies eget, tempor sit amet, ante. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed.
        </div>
    </div>
    {% endif %}

    {% if cardComponent.text == 'shortest' %}
    <div class="card-component__text--wrapper">
        <div class="card-component__text">
            <!-- can't count on p tags -->
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed.
        </div>
    </div>
    {% endif %}

    {% if cardComponent.text == 'short' %}
    <div class="card-component__text--wrapper">
        <div class="card-component__text">
            <!-- can't count on p tags -->
            Pellentesque habitant morbi tristiqueVestibulum tortor quam, feugiat vitae, ultricies eget, tempor sit amet, ante.
        </div>
    </div>
    {% endif %}

    {% if cardComponent.text == 'medium' %}
    <div class="card-component__text--wrapper">
        <div class="card-component__text">
            <!-- can't count on p tags -->
            Pellentesque habitant morbi tristiqueVestibulum tortor quam, feugiat vitae, ultricies eget, tempor sit amet, ante. Donec eu libero sit amet quam egestas semper. Aenean ultricies mi vitae est. Mauris placerat eleifend leo.
        </div>
    </div>
    {% endif %}

    {% if cardComponent.text == 'long' %}
    <div class="card-component__text--wrapper">
        <div class="card-component__text">
            <!-- can't count on p tags -->
            Pellentesque habitant morbi tristiqueVestibulum tortor quam, feugiat vitae, ultricies eget, tempor sit amet, ante. Donec eu libero sit amet quam egestas semper. Aenean ultricies mi vitae est. Mauris placerat eleifend leo. Pellentesque habitant morbi tristiqueVestibulum tortor quam, feugiat vitae, ultricies eget, tempor sit amet, ante. Donec eu libero sit amet quam egestas semper. Aenean ultricies mi vitae est. Mauris placerat eleifend leo.
        </div>
    </div>
    {% endif %}

    {% if cardComponent.text == 'multiParagraph' %}
    <div class="card-component__text--wrapper">
        <div class="card-component__text">
            <p>
            Pellentesque habitant morbi tristiqueVestibulum tortor quam, feugiat vitae, ultricies eget, tempor sit amet, ante. Donec eu libero sit amet quam egestas semper. Aenean ultricies mi vitae est. Mauris placerat eleifend leo. Pellentesque habitant morbi tristiqueVestibulum tortor quam, feugiat vitae, ultricies eget, tempor sit amet, ante. Donec eu libero sit amet quam egestas semper. Aenean ultricies mi vitae est. Mauris placerat eleifend leo.
            </p>
            <p>Pellentesque habitant morbi tristiqueVestibulum tortor quam, feugiat vitae, ultricies eget, tempor sit amet, ante.</p>
        </div>
    </div>
    {% endif %}

    {% if cardComponent.text == 'customCounter' %}
        <div class="counter-component animate__counter--INITIAL-STATE">
            <div class="counter-component__circle">
                <span class="counter-component__number" data-numberToCountTo="100">
                    0
                </span>
            </div>
            <div class="counter-component__label"><span>Sessions</span></div>
        </div>
    {% endif %}

    

    {% if cardComponent.buttons == true %}
    <div class="card-component__button--group {{cardComponent.buttonGroupTheme}}">
        <a class="card-component__button button"><span>Call to Action</span></a>
    </div>
    {% endif %}

    {% if cardComponent.buttons == 2 %}
        <div class="card-component__button--group {{cardComponent.buttonGroupTheme}}">
            <a class="card-component__button button"><span>Call to Action</span></a>
            <a class="card-component__button button"><span>Call to Action</span></a>
        </div>
    {% endif %}


    {% if cardComponent.share == true %}
    <div class="card-component__share--wrapper">
        <button class="card-component__share--button">
            <span>
                <svg viewBox="0 0 32 32" width="32" height="32">
                    <use xlink:href="#iftIconShare"/>
                </svg>
            </span>
        </button>
    </div>
    {% endif %}

</div>
<!--ends content wrapper (sibling of media wrapper) -->
    {% if cardComponent.mediaAfter == true %}
    <!-- a 2nd media element if client wants -->
    <div class="card-component__media--wrapper">
        <div class="card-component__media card-component__media--image--wrapper">
            <img alt="alt text is required" class="b-lazy card-component__image" src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" data-src="https://placeholdit.imgix.net/~text?txtsize=33&txt=sourceAlways_16x9&w=640&h=640"/>
        </div>
    </div>
    {% endif %}

    </div><!--end card card-component__wrapper-inner">-->
</div>