<div class="sublayout sublayout--sponsor-grid">

	<div class="row-wrapper contained">
		<header class="header-contained--default-theme">
			<h2>Thank You To Our Sponsors</h2>
		</header>
		
		<div class="row">
			<div class="col-sm-3">
				{% set cardComponent = {
					media: true
					,mediaAspectRatio: 'card-component__media--image--wrapper--square'
					,dataLink: ''
					
				}
				%}
				{% include './_components/card-sink.html'%}
			</div>
			<div class="col-sm-3">
				{% set cardComponent = {
					media: true
					,mediaAspectRatio: 'card-component__media--image--wrapper--square'
					,dataLink: ''
					
				}
				%}
				{% include './_components/card-sink.html'%}
			</div>
			<div class="col-sm-3">
				{% set cardComponent = {
					media: true
					,mediaAspectRatio: 'card-component__media--image--wrapper--square'
					,dataLink: ''
					
				}
				%}
				{% include './_components/card-sink.html'%}
			</div>
			<div class="col-sm-3">
				{% set cardComponent = {
					media: true
					,mediaAspectRatio: 'card-component__media--image--wrapper--square'
					,dataLink: ''
					
				}
				%}
				{% include './_components/card-sink.html'%}
			</div>

		<!--This can't be autosized For Sponsors Grid, because flexbox likes to intelligently bump a column down a row, but that would make arbitrary logos down the list larger than others -->
			
		</div>
		<!--end row-->
		<div class="row">
			<div class="col-sm-3">
				{% set cardComponent = {
					media: true
					,mediaAspectRatio: 'card-component__media--image--wrapper--square'
					,dataLink: ''
					
				}
				%}
				{% include './_components/card-sink.html'%}
			</div>
		</div>
	</div> <!--end row wrapper-->

</div>