<div class="sublayout sublayout__autoColGrid">
  <div class="row-wrapper contained">
    <header class="header-contained--default-theme">
      <h2>IFT<span class="ift-title-year-highlight">17</span> News Hub</h2>
    </header>
    <div class="row">
      <!--auto width columns?-->
      <div class="column-auto">
        {% set cardComponent = {
          orientationClass: 'vertical-component'
          ,cardTypeClass: ''
          ,backgroundImage:'https://unsplash.it/720/405'
          ,overlayColor: 'blue'
          ,label: true
          ,author: true
          ,headline: 'Vertical Card Overlay'
          ,date: true
          ,tags: true
          ,text: 'short'
          ,share: true
          ,dataLink: ''
        }
        %}
        {% include './_components/card-sink.html'%}
      </div>
      <div class="column-auto">
        {% set cardComponent = {
          orientationClass: 'vertical-component'
          ,cardTypeClass: ''
          ,themeClass:'theme--trading-card'
          ,media: true
          ,headline: '16to9 images are the default'
          ,date: true
          ,tags: true
          ,text: 'short'
          ,share: true
          ,dataLink: ''
        }
        %}
        {% include './_components/card-sink.html'%}
      </div>

      <div class="column-auto">
        {% set cardComponent = {
          orientationClass: 'horizontal-component'
          ,cardTypeClass: 'card-component--list'
          ,media: true
          ,mediaAspectRatio: 'card-component__media--image--wrapper--square'
          ,headline: 'News Item Title Max Char Count?'
          ,text: 'shortest'
          ,dataLink: ''
        }
        %}
        {% include './_components/card-sink.html'%}
        {% set cardComponent = {
          orientationClass: 'horizontal-component'
          ,cardTypeClass: 'card-component--list'
          ,media: true
          ,mediaAspectRatio: 'card-component__media--image--wrapper--square'
          ,headline: 'News Item Title Max Char Count?'
          ,text: 'shortest'
          ,dataLink: ''
        }
        %}
        {% include './_components/card-sink.html'%}
        {% set cardComponent = {
          orientationClass: 'horizontal-component'
          ,cardTypeClass: 'card-component--list'
          ,media: true
          ,mediaAspectRatio: 'card-component__media--image--wrapper--square'
          ,headline: 'News Item Title Max Char Count?'
          ,text: 'shortest'
          ,dataLink: ''
        }
        %}
        {% include './_components/card-sink.html'%}
         {% set cardComponent = {
          orientationClass: 'horizontal-component'
          ,cardTypeClass: 'card-component--list'
          ,media: true
          ,mediaAspectRatio: 'card-component__media--image--wrapper--square'
          ,headline: 'News Item Title Max Char Count?'
          ,text: 'shortest'
          ,dataLink: ''
        }
        %}
        {% include './_components/card-sink.html'%}
      </div>

    </div>
    <!--end row-->
  </div>
</div>