<div class="twitter-block-component twitter-block--theme-default">
	<header class="twitter-block-component__header">
		<a class="social-link"><img class="social-link-image" src="/img/icons/icons_social/icon_social_twitter.svg" alt="Twitter icon"/></a>
		<h5 class="twitter-block-component__headline"><a>#IFT17</a> on Twitter</h5>
	</header>
	<div class="twitter-block-component__innerWrap">
		{% include "./_components/tweetIndividual.html" %}
		{% include "./_components/tweetIndividual.html" %}
		{% include "./_components/tweetIndividual.html" %}
		{% include "./_components/tweetIndividual.html" %}
		{% include "./_components/tweetIndividual.html" %}
		{% include "./_components/tweetIndividual.html" %}
	</div>
	<footer class="twitter-block-component__footer">
		<a class="button button--default-theme"><span>View All Tweets</span></a>
	</footer>
</div>