<!-- sublayout__autoColGrid -->
<!-- has a background-image (bg image class plus blazy stuff) -->
<!-- has an overlay, orange to blue  -->
<!-- has a header -->


<div class="sublayout sublayout__autoColGrid sublayout--has-bg-image b-lazy" data-src-sm="/img/convention/crowd_768.jpg" data-src="/img/convention/crowd_1536.jpg">

	<!-- optional overlay-->
	<div class="ift-overlay ift-overlay--orangeToBlue"></div>

	<div class="row-wrapper contained">

<!-- 			<h2>Get Ready to Experience IFT<span class="ift-title-year-highlight">17</span></h2>
			<h4>This is an optional subheader</h4> -->

		<header class="theme--darkBackground-whiteText theme--centered">
        	<h2>More than an event &mdash;
         		<strong class="headline--featured-word">IFT17 is game changing</strong>
        	</h2>
      	</header>
		
		<div class="row">

			<div class="column-auto">
				{% set cardComponent = {
					orientationClass: 'vertical-component'
					,cardTypeClass: 'card-component--testimonial'
					,themeClass: 'animate__testimonial--INITIAL-STATE'
					,media: true
					,mediaAspectRatio: 'card-component__media--image--wrapper--square'
					,headline: 'Promo Card, Square Theme'
					,text: 'short'
					,buttons: true
					,buttonGroupTheme: 'button-group--default-theme'
					,dataLink: ''
				}
				%}
				{% include './_components/card-sink.html'%}
			</div>

			<div class="column-auto">
				{% set cardComponent = {
					orientationClass: 'vertical-component'
					,cardTypeClass: 'card-component--testimonial'
					,themeClass: 'animate__testimonial--INITIAL-STATE'
					,media: true
					,mediaAspectRatio: 'card-component__media--image--wrapper--square'
					,headline: 'Promo Card, Square Theme'
					,text: 'short'
					,buttons: true
					,buttonGroupTheme: 'button-group--default-theme'
					,dataLink: ''
				}
				%}
				{% include './_components/card-sink.html'%}

			</div>

			<div class="column-auto">
				{% set cardComponent = {
					orientationClass: 'vertical-component'
					,cardTypeClass: 'card-component--testimonial'
					,themeClass: 'animate__testimonial--INITIAL-STATE'
					,headline: '2 small cards must fit in 1 column'
					,text: 'short'
					,dataLink: ''
				}
				%}
				{% include './_components/card-sink.html'%}

				{% set cardComponent = {
					orientationClass: 'vertical-component'
					,cardTypeClass: 'card-component--testimonial'
					,themeClass: 'animate__testimonial--INITIAL-STATE'	
					,headline: '2 small cards must fit in 1 column'
					,text: 'short'
					,dataLink: ''
				}
				%}
				{% include './_components/card-sink.html'%}

				<!-- can't just put another card here // not sure how to handle this aspect of the grid-->
			</div>
		</div>
		<!--end row-->
	</div>
</div>
