.ShoppingCartControl_PersonifyDefault {
	.productControlSection {
		position: static;
		width: 100%;
	}
}

.segmentsListTabs .rlbSelected {
	background-color: $ift-blue !important;
	&:hover,
	&:active,
	&:focus {
		background-color: $ift-blue-dark;
	}
}
