// Side bar Nav
.sidebar {
  padding: 2rem;
  background-color: white;
  border-top: 6rem solid $ift-blue;
  position: relative;
  &:before{
    content: "My Account";
    position: absolute;
    top: -40px;
    left: 2rem;
    color: white;
  }
  ul {
    list-style: none;
    .sidebar__submenu{
      padding-left: 2rem;
    }
  }
  a[href="#"]{
    pointer-events: none;
    color: black;
  }
}
