// Side bar Nav
.sidebar__header{
  padding: 2rem;
  color: white;
  background-color: $ift-blue;
}
.sidebar {
  padding: 2rem;
  background-color: white;
  ul {
    list-style: none;
    .sidebar__submenu{
      padding-left: 2rem;
      margin-top: .5rem;
      margin-bottom: 2rem;
      a.selected{
        color: $ift-green;
      }
    }
  }
  a[href="#"]{
    pointer-events: none;
    color: black;
  }
}
// Hide on Print
@media print {
  .sidebar {
    display: none;
  }
}