.donation-listing {
	padding-top: $gutter-width;
	.buttonRow {
		margin: 0;
	}
	.full-container {
		background: $white;
		padding: $gutter-width/2;
	}
	.heading2 {
		//same size as H5
		font-size: 2rem;
	} //consider generalizing
	.h-color-primary {
		color: $ift-blue;
	}
	.donation-listing-info-description {
		padding-bottom: $gutter-width / 2;
	}
	.donation-listing-info-long-description {
		padding-bottom: $gutter-width / 2;
	}
	.action-hyperlink {
		padding-bottom: $gutter-width / 2;
		@include break(max, $breakpoint-max-xs-override) {
			padding-bottom: $gutter-width / 2 !important;
		}
	}
	[type="submit"] {
		//overrides strange 130% on mobile;
		font-size: 100% !important;
		@include button;
	}
}

form[action*="DonateNow"] {
	#ctl00_ctl00_MainContent_ctl00_DonationWizPaymentInfo_PayNowControl_BillingAddressChooserControl_ContainerPanelPanel #ctl00_MainContent_ctl00_DonationWizPaymentInfo_PayNowControl_BillingAddressChooserControl_LinkButtonTemporaryAddress {
		display: block;
	}
	.Donations_PersonifyDefault.Base_PersonifyDefault .formLayout fieldset label {
		max-width: 240px;
		vertical-align: top;
		display: inline-block;
		margin-right: 2rem;
	}
	div#ctl00_MainContent_ctl00_DonationWizPaymentInfo_PayNowControl_CreateCustomerControl_ContainerPanel {
		background-color: white;
	}

	.Donations_PersonifyDefault.Base_PersonifyDefault .formLayout fieldset .formRow span {
		padding-top: 1rem;
		padding-left: 1rem;
		display: inline-block;
	}

	p#ctl00_MainContent_ctl00_DonationWizPaymentInfo_PayNowControl_pLoginLink {
		font-size: 16px;
		padding: 2rem;
		font-weight: bold;
		background: white;
	}
}