.DonationWizMain_PersonifyDefault {
	//.RadAjaxPanel {
		padding: $gutter-width / 2;
		background:#fff;
		margin-bottom: $gutter-width / 2;

	//}
	.donation-product-info {
		padding-left: $gutter-width;
		padding-bottom: $gutter-width;
	}
	.donation-price-info {
		padding-left: $gutter-width;
		padding-bottom: $gutter-width;
	}
	.donation-TriAckMatching-Info {
		padding-left: $gutter-width;
		padding-bottom: $gutter-width;
	}
	.section-title-question {
		font-size:1.8rem;
		font-family:$headlineFont;
		font-weight: $headlineFontWeight;
		line-height:$headline-line-height;
		color:$ift-blue;
		border: none;
		box-shadow: 0 -1px $ift-grey-medium-light;
		margin: 0 !important;
		padding-top: $gutter-width;
		padding-bottom: $gutter-width / 2;
	}
	.exp-col-content {
		padding-bottom: $gutter-width;
	}

}




.DonationWizHeader_PersonifyDefault {
	display:block;

	&.Donations_PersonifyDefault {
		.wiz-top-bar {
			display: block;
			width: 100%;
			height: auto;
			border:none;
			background-color:$ift-grey-medium-light;
			background-image:none;
		}
		#product_name {
			h1 {
				html body & {
					font-size: 100% !important;
					line-height: 1 !important;
					text-shadow: none !important;
					margin: $gutter-width/2 !important;
					
				}
			}
		}
	}
	
	
	.wiz-menu {
		display:flex;
		margin-bottom: $gutter-width;
		.wiz-step {
			display:flex;
			position:relative;
			float: none;
			max-width: none;
			padding-left:$gutter-width * 2;
			color: $ift-grey-medium-light;
			background-color:transparent;
			font-size: 1.4rem;
			border-bottom: 3px solid $ift-grey-230;

			[id$="_StepLabel"]{
				//margin: 0 auto;
			}
			.step-number {
				position:absolute;
				top: 9px;
				left: 20px;
				width: 30px!important;
				height: 30px!important;
				border-radius: 100% !important;
				border: 1px solid white;
				box-shadow: none;
				color: white;
				text-shadow: none !important;
				padding: 5px 0;
				text-align: center;
				background-color: $ift-grey-medium-light;
			}
			&.wiz-step-active {
				color: white;
				background-color:$ift-green;
				border-bottom: 3px solid $ift-green;
				.step-number {
					background-color: transparent;
				}
				
			}
		}
	}
	
}

.donation-navigation {
	input[value="Add to Cart"]{
		@include unButton;
	}
}



// Nav
// .WizardBannerControl_PersonifyDefault.Membership_PersonifyDefault.Base_PersonifyDefault {
// 	margin-bottom: 40px;
// 	display: flex;
// 	span {
// 		//personify override
// 		span {
// 			width: auto !important;
// 		}
// 	}
// 	span.step {
// 		flex-grow: 1;
// 		position: relative;
// 		background: transparent;
// 		border-bottom: 3px solid $ift-grey-230;
// 		color: $ift-grey-medium-light;
// 		text-align: left;
// 		padding-left: 60px !important;
// 		.prefix,
// 		.sep,
// 		.divider {
// 			display: none;
// 		}
// 		.stepLabel {
// 			font-size: 14px;
// 		}
		.number {
			width: 30px!important;
			height: 30px!important;
			border-radius: 100% !important;
			border: 1px solid white;
			box-shadow: none;
			color: white;
			position: absolute;
			left: 20px;
			text-shadow: none !important;
			top: 9px;
			padding: 5px 0;
			text-align: center;
			background-color: $ift-grey-medium-light;
		}
// 		.stepLabel {
// 			color: $ift-grey-medium-light;
// 		}
// 		&.active {
// 			background-color: $ift-green !important;
// 			border-bottom-color: $ift-green !important;
// 			.stepLabel {
// 				color: $white;
// 			}
// 			.number {
// 				background-color: transparent;
// 			}
// 		}
// 	}
// }