#iftMapWrapperOuter {
  display: none;
  position:fixed;
  top:0;
  left: 0;
  width:100%;
  max-width: 100%;
  height: 100%;
  background:rgba(0,0,0,0.2);
  overflow-y: scroll;
  z-index: 999999;
  &.iftMapWrapperOuter--ACTIVE-STATE {
    display: block;
  }
  
}

.iftMap__wrapper--inner{
    background-color: $white;
    padding: $gutter-width;
    margin-top: $gutter-width;
    position: relative;
    overflow: hidden;
  }

.iftMap__header {
  // position:absolute;
  // top:0;
  // left:0;
  width: 100%;
  // background:$ift-grey-medium-lighter; 
}


.iftMap__svg {
  transform:scale(.5);
  transform-origin: 0 0;

  @include break(max, $breakpoint-max-mobile){
    //width: 100%;
    //height:auto;
    margin-bottom: -250px;
  }

  @include break(min, $breakpoint-min-tablet){
    //blame microsoft
    margin-bottom: -300px;
  }


  @include break(max, 399px){
    transform:scale(.3);
    margin-bottom: -400px;
  }


}



.usState {
  cursor: pointer;
  fill: #dddddd;
  stroke: #999999;
  stroke-width: .03rem;
}

.states {
  :hover {
    fill:rgba(87,134,199,1);
  }
  .usState--SELECTED {
    fill:rgba(87,134,199,1);
  }
}

.state-borders {
  fill: none;
  stroke: #666666;
  stroke-width: 0.5px;
  stroke-linejoin: round;
  stroke-linecap: round;
  pointer-events: none;
}




.iftMap__wrapper--outer {

  @include break(max, $breakpoint-max-1023){
    text-align: center;
  }
  @include break(min, $breakpoint-min-lg){
    max-width: $breakpoint-min-md;
  }


  header {
    @include break(max, $breakpoint-max-mobile){
      font-size: 1.2rem;
      p {
        font-size: 1.2rem;
      }
    }
  }
  .row {
    //padding-bottom: 0;
  }
  [class^="col-"]{
    padding-left: 0;
    padding-right: 0;
  }
}

.iftMap__additionalItemsBox__wrapper--outer {
  text-align: left;
  @include break(min, $breakpoint-min-md){
    padding-top:$gutter-width/2;
  }
}

.iftMap__mobile__selectMenu__wrapper--outer {

  // @include break(min, $breakpoint-min-tablet){
  //   display: none;
  // }
  .iftMap__additionalItemsBox__wrapper--inner {
    padding-bottom:0;
  }

}

.iftMap__stateSelectMenu {
  @include break(max, $breakpoint-max-mobile){
    margin-bottom: $gutter-width / 2;
    font-size: 1.2rem;
    option {
      font-size: 1.4rem
      //transform:scale(.275);
    }
  }
}

.iftMap__additionalItemsBox--internationalSections {
  .iftMap__additionalItemsBox__wrapper--inner {
    @include break(max, $breakpoint-max-mobile){
      padding-top:0;
    }
  }
}

.iftMap__internationalSelectMenu {
  color:$ift-blue;
  overflow: auto;
  height: auto;
  background-color: transparent;
  border: none;
  option {
    color: $ift-blue;
    background-color: transparent !important;
  }
  @include break(max, $breakpoint-max-mobile){
    font-size: 1rem;
    option {
      font-size: 1rem;
      //transform:scale(.275);
    }
  }
  @include break(min, $breakpoint-min-tablet){
    font-size: 1.2rem;
    option {
      font-size: 1.2rem;
      //transform:scale(.275);
    }
  }


}


.iftMap__row--hasMap {
  @include break(max, $breakpoint-max-mobile){
    padding-bottom: $gutter-width/2;
  }
}

.dataDisplay__row {
  padding-bottom:$gutter-width/2;
  text-align:left;
} 



.dataDisplay__header {
  border-bottom: 1px solid $ift-grey-200;
}

.seletedStateDisplay__headline__span {
  color: $ift-blue;
}


.iftMap__button--cancel{
  @include unButton()
}

a.iftMap__button--save{
  color: white
}

.iftMap__sectionData__wrapper {
  position:relative;
  font-size: 1.2rem;
  line-height: 1;
  padding-right:$gutter-width;
  @include break(max, $breakpoint-max-mobile){
    padding-bottom: $gutter-width;
  }

  > label {
    display: table;
    position:relative;
    padding-bottom: 1.6rem;
    input {
      display: table-cell;
      //tough override of other join forms
      margin-left: 0 !important;
    }
    span {
      display: table-cell;
      padding-left:.5rem;
    }
  }

}

.iftMap__sectionData__detail {
  padding-bottom: $gutter-width / 2;
}

.iftMap__zipCodes {
  padding:$gutter-width / 8;
  font-size: 1.1rem;
  border: 1px solid $ift-grey-200;
}


.iftMap__additionalItemsBox__headline {
  @include break(max, $breakpoint-max-mobile){
    font-size: 1.4rem;
  }
}



.iftMap__additionalItemsBox__wrapper--inner {
  background: $ift-grey-medium-lighter;
  padding: $gutter-width / 2;
  position:relative;
}

.iftMap__internationalSelectMenu__footer {
  font-size: 1.2rem;
  line-height: 1;
  @include break(max, $breakpoint-max-mobile){
    font-size:1rem;
  }
}

.iftMap__sectionData__wrapper--HIDDEN-STATE {
  display: none;
}

.iftMap__sectionData__wrapper--DISABLED-STATE {
  //pointer-events:none;
  opacity: .3333;
  cursor: not-allowed;
  pointer-events:none;

  &:hover {
    cursor: not-allowed;
  }
  label {
    pointer-events:none;
    cursor: not-allowed;
    &:hover {
      cursor: not-allowed;
    }
    &:before {
      content: '\002713';
      position: absolute;
      top: -3px;
      left: 2px;
      font-size: 1.2rem;
      color:#999;
      //box-shadow: 1px 1px inset #000;
    }
  }
  input {
    //prevent click somehow;
    z-index: -1;
    pointer-events:none;
    cursor: not-allowed;
    &:hover {
      cursor: not-allowed;
    }
  }

  //z-index: 0;

  //disallow highlight and actual click

  //also, obscure member price and show notApplicatble message

  .iftMap__memberPrice {
    span {
      visibility: hidden;
    }
  }
}


.iftMap__memberPrice {
  span {
    &:before {
      content: '$';
    }
  }
}

//tooltip


.niftyTooltip {
  position:absolute;
  right: -1.4rem;
  &:hover,
  &:active,
  &:focus {
    &:after {
      content: attr(data-toolTipText);
      position:absolute;
      top: 2rem;
      right: 0;
      //that position isnT working as expected
      //left: 2rem;
      display: inline-block;
      min-width: 100px;
      background:#fff;
      border: 1px solid #000;
      padding: 1rem;
      z-index: 1;
    }
  }
}
.iftMap__sectionData__footer {
  position:absolute;
  background: $ift-grey-medium-lighter;
  padding:$gutter-width/4;
  font-size: 1rem;
  line-height: 1;
  //top:$gutter-width;
  // left: 0;
  // z-index: 9;

  //demoOnly
  margin-top: -200px;
  margin-left: 150px;
  max-width: 300px;

  .row {
    padding-bottom:$gutter-width/8;
  }
  //default to hidden state in the html
  &.iftMap__sectionData__footer--HIDDEN-STATE{
    display: none;
  }

}

.iconInfo {
  width: 16px;
  height: 16px;
  cursor: pointer;
  stroke-width: 3px;
  stroke: $white;
  fill:$ift-blue-dark;
  
}

.iftMap__sectionData__footer__column--label {
  font-weight: bold;
}

.iftMap__tooltip__closeButton__wrapper {
  position:absolute;
  top:0;
  right: 0;
  width: 1.6rem;
  height: 1.6rem;
  cursor: pointer;
  background:#000;
  &:hover {
    cursor: pointer;
  }
}

.iftMap__tooltip__closeButton__svg {
  width: 1rem;
  height: 1rem;
  stroke: #fff;
  stroke-width:3px;
}

.iftMap__wrapper--outer__closeButton__wrapper {
    position: absolute;
    top: 1rem;
    right: 1rem;
    width: 3.2rem;
    height: 3.2rem;
    padding: .8rem;
    cursor: pointer;
    background: #000;
    overflow: hidden;
    border-radius: 100%;
    &:hover {
      cursor: pointer;
    }
}

.iftMap__wrapper--outer__closeButton__svg {
  width: 1.6rem;
    height: 1.6rem;
      stroke: #fff;
  stroke-width:4px;
}
