.sublayout__footer {
	box-shadow: 0 -4px $ift-green;
}

.footer-main {
	
	background-color:$white;
	.row {
		margin-bottom: 0;
		padding-bottom:0;
	}
	@include break(max, $breakpoint-max-mobile){
		.row {
			padding-bottom:0;
		}
		.card-component {
			margin-top: $gutter-width;
		}
	}
	.card-component__headline {
		font-size: 2.4rem;
	}
	.card-component__text {
		font-size: 1.4rem;
	}
	.footer__links-headline {
		font-size: 1.8rem;
	}

}

.logo--footer {
	@include break(max, $breakpoint-max-mobile){
		max-width:10rem;
		margin-left: $gutter-width / 2;
	}
	
}


.footer__top {
	padding-top:$gutter-width * 2;
	padding-bottom:$gutter-width * 2;
	background-color:$ift-grey-light;
	.row {
		//padding-bottom: $gutter-width;
		&:last-child {
			padding-bottom:0;
		}
	}

}
.footer__middle {
	font-size:1.3rem;
	background-color:$white;
	padding:$gutter-width $gutter-width 0 $gutter-width;
	
	@include break(max, $breakpoint-max-mobile){
		display: none;
		.column-auto {
			padding-left: $gutter-width/2;
			&:first-child {
				padding-left: $gutter-width/2;
			}
		}
	}
	@include break(min, $breakpoint-min-tablet){
		
		.column-auto {
			padding-left: $gutter-width/2;
			&:first-child {
				padding-left: $gutter-width/2;
			}

		}
	}
	@include break(min, $breakpoint-min-md){
		padding-right:5vw;
		padding-left:5vw;
	}
	@include break(min, $breakpoint-min-xxl){
		
		padding-right:0;
		padding-left:0;
		
		> .row {
			max-width: $breakpoint-min-xl;
			margin-right:auto;
			margin-left: auto;
		}
	}
}





.footer__linksList {
	list-style: none;
	@include break(max, $breakpoint-max-mobile){
		//padding-left: $gutter-width;
		text-align: center;
		margin-bottom: $gutter-width / 2;
	}
	.footer__middle & {
		padding-bottom: $gutter-width;
	}
	a {
		display: inline-block;
		background-image: linear-gradient(to top,rgba($ift-blue, 0) 50%,rgba($ift-blue, 0) 50%);
		background-size:0 2px;
		background-position:0 95%;
		background-repeat:no-repeat;
		transition: $ift-timing;
		// span {
		// 	transition: $ift-timing;
		// }
		&:hover,
		&:active,
		&:focus {
			color: $ift-blue;
			background-image: linear-gradient(to top,currentColor 50%,currentColor 50%);
				background-size:100% 2px;
		}
	}

}



.footer__bottom {
	font-size:1.1rem;
	color: $ift-grey-light;
	background-color:$ift-blue;
	padding-top:$gutter-width/2;
	
	.row {
		padding-bottom:$gutter-width/2;
	}
	[class^="col"]{
		align-self: center;
		text-align: center;
	}
	
	@include break(max, $breakpoint-max-mobile) {
		background-size:333%;
		[class^="col"]{
			align-self: center;
			text-align: center;
		}
	}	
}


.footer__linksList--utility {
	li {
		display: inline;
		&:before {
			content: '|';
			display: inline-block;
			vertical-align: middle;
			font-size: .8rem;
			color: rgba($white,.25);;
			padding-right:.6666em;
			padding-left:.5em;
		}
		&:first-child {
			&:before {
				display: none;
			}
		}
		a {
		&:hover,
		&:active,
		&:focus {
			color: $white;
			opacity: .75;
		}
	}
	}
}


.copyright__social-item {
	img {
		max-width: 24px;
	}
}