.ShoppingCartControl_PersonifyDefault {
	.productControlSection {
		position: static;
		width: 100%;
	}
}

.segmentsListTabs .rlbSelected {
	background-color: $ift-blue !important;
	&:hover,
	&:active,
	&:focus {
		background-color: $ift-blue-dark;
	}
}
#ctl00_MainContent_ctl00_CheckoutItemSummaryControl_ShoppingCartSummaryControl_ButtonCouponApply{
	@include unButton()
}
.CheckoutControl_PersonifyDefault {
	.addressButtonsDiv {
		input {
			// font-size: 1rem;
			// background-color: $ift-blue;
			// background-image: none;
			@include unButton();
			padding: .8rem;
			margin-bottom: 0;
			+ input {
				display: block;
				margin-top: 1rem;
				margin-left: 0;
			}
		}
	}
}


.WizardHeaderControl_PersonifyDefault {
	span {
		//personify override
		span {
			width: auto !important;
		}
	}
	.step {
		text-align: center;
		.step-number {
			width: 30px!important;
			height: 30px!important;
			border-radius: 100% !important;
			border: 1px solid white;
			box-shadow: none;
			position: absolute;
			left: 20px;
			text-shadow: none !important;
			top: 9px;
			padding: 5px 0;
			background-color:$ift-grey-medium-light;
		}
		.stepLabel{
			color: $ift-grey-medium-light;
		}


		&.active {
			background-color: $ift-green !important;
			border-bottom-color: $ift-green !important;
			.stepLabel {
				color: $white;
			}
			.step-number {
				background-color: transparent;
			}
		}
	}
}

@include break(min, $breakpoint-min-tablet){

	//if 3, then 33%
	.wizardHeader .step:nth-last-child(n+3):nth-last-child(-n+3):first-child, .wizardHeader .step:nth-last-child(n+3):nth-last-child(-n+3):first-child ~ .step {
		width: 33%;
		background: transparent;
    border-bottom-color: $ift-grey-230;
    color:$ift-grey-medium-light;
	}
	//if 4, then 25%
	.wizardHeader .step:nth-last-child(n+4):nth-last-child(-n+4):first-child, .wizardHeader .step:nth-last-child(n+4):nth-last-child(-n+4):first-child ~ .step {
		width: 24%;
	}

}

[id$="AddAddressControl_ContainerPanelPanel"] {
	.formLayout {
		.RadAjaxPanel & {
			margin-top: $gutter-width / 2;
			background-color:$white;
		}
	}
	//should generalize this style
	.buttonRow {
		&:last-child {
			margin-bottom: 0;
		}
	}
}

.checkoutHeader {
	&.heading2 {
		font-size: 2rem;
	}
}

