.ShoppingCartControl_PersonifyDefault {
	.productControlSection {
		position: static;
		width: 100%;
	}
}

.segmentsListTabs .rlbSelected {
	background-color: $ift-blue !important;
	&:hover,
	&:active,
	&:focus {
		background-color: $ift-blue-dark;
	}
}

.CheckoutControl_PersonifyDefault {
	.addressButtonsDiv {
		input {
			// font-size: 1rem;
			// background-color: $ift-blue;
			// background-image: none;
			@include unButton();
			padding: .8rem;
			margin-bottom: 0;
			+ input {
				display: block;
				margin-top: 1rem;
				margin-left: 0;
			}
		}
	}
}



.WizardHeaderControl_PersonifyDefault {
	span {
		//personify override
		span {
			width: auto !important;
		}
	}
	.step {
		text-align: center;
		.step-number {
			width:24px !important;
			height: 24px !important;
			border-radius: 0 !important;
		}


		&.active {
			background-color: $ift-blue;
			.stepLabel {
				color: $white;
			}
			.step-number {
				background-color: $ift-blue;
			}
		}
	}
}

@include break(min, $breakpoint-min-tablet){

	//if 3, then 33%
	.wizardHeader .step:nth-last-child(n+3):nth-last-child(-n+3):first-child, .wizardHeader .step:nth-last-child(n+3):nth-last-child(-n+3):first-child ~ .step {
		width: 33%;
	}
	//if 4, then 25%
	.wizardHeader .step:nth-last-child(n+4):nth-last-child(-n+4):first-child, .wizardHeader .step:nth-last-child(n+4):nth-last-child(-n+4):first-child ~ .step {
		width: 24%;
	}

}

[id$="AddAddressControl_ContainerPanelPanel"] {
	.formLayout {
		.RadAjaxPanel & {
			margin-top: $gutter-width / 2;
			background-color:$white;
		}
	}
	//should generalize this style
	.buttonRow {
		&:last-child {
			margin-bottom: 0;
		}
	}
}

.checkoutHeader {
	&.heading2 {
		font-size: 2rem;
	}
}

