.meeting-detail-control {
	.meeting-detail-container,
	.meeting-event-details,
	.meeting-name-and-image,
	.MTGDetailTop,
	.MTGDetailRotatingImage,
	.MTGDetailMeetingInfo,
	.MTGDetailPresenter,
	.MTGDetailValue,
	.MTGDetailShortDescription,
	.MTGDetailCaption {
		display: block;
		overflow: hidden;
		float: none;
		clear: both;
		@include betterClearFix;
	}
	.MTGDetailCaption {
		float: left;
		clear: none;
		width: 16rem;
	}
	.MTGDetailValue {
		float: left;
		clear: none;
		width: calc(100% - 16rem) !important;
	}
	#ctl00_MainContent_ctl00_dvCredits {
		clear: both;
	}
	.MTGDetailLeftNav {
		display: none;
		float: none;
		clear: both;
	}
	.MTGDetailContent#ctl00_MainContent_ctl00_dvMainContent {
		width: calc(100% - 240px);
		padding: 20px;
		background: white;
	}
	.MTGDetailRotatingImage {
		float: none;
		position: relative;
	}
	.dvAdditionalInformation {
		clear: both;
	}
	.MTGDetailPresenter {
		font-weight: bold;
		.relatedCustomerDisplayName {
			font-weight: normal;
		}
	}
	.MTGDetailCaption {
		padding: 0 !important;
	}
	.MTGDetailValue {
		padding: 0 !important;
	}
	.MTGDetailCredit {
		padding: 0 !important;
	}
	.MTGDetailContentEventSchedule {
		float: none;
		margin-top: 0;
	}
	.MTGDetailBottom {
		width: calc(100% - 240px)!important;
		margin-bottom: 20px;
		float: none;
	}
	.MTGDetailRightContent {
		padding: 20px;
		width: 230px;
		float: right;
		background: white;
	}
	.MTGDetailRegistrations,
	.MTGDetailPriceGroup {
		border: none;
		margin: 20px 0;
		min-height: 0;
		padding: 0;
	}
	#ctl00_MainContent_ctl00_ProductDetailParagraphFullLabel {
		padding: 10px 0;
		max-width: calc(100% - 240px);
	}
}

.meeting-detail-control .MTGDetailRibbonBadgeCredit,
.ProductDetailCERibbon{
	@include ribbon();
}
.ControlPanel_PromtionalProductListControl {
	.scrollable {
		background: white;
	}
	.items {
		position: absolute;
		text-align: center;
		padding: 0;
	}
	.ControlPanel_PromtionalProductListControl .PromotionProductListItem li {
		list-style: none;
		line-height: 1;
	}
}

.MtgRegWizard_PersonifyDefault div.dvMtgSesHeader div.dvMtgSesAddRemove {
	width: auto;
	text-align: right;
	float: right;
}

.MtgRegWizard_PersonifyDefault div.badgeFields>div {
	overflow: inherit;
	margin: 20px 0;
}

.meetingBadgeFieldInputControlText {
	@include inputText()
}

.MtgRegWizard_PersonifyDefault.MeetingsMtgReg_PersonifyDefault.Base_PersonifyDefault #btnCancel,
#ctl00_MainContent_ctl00_cMtgRegWizSession_lbtnMtgSesClearAll {
	@include unButton();
}

#ctl00_MainContent_ctl00_MtgRegWizRegisterSomeoneElse_imgWorkflowNote {
	width: 40px;
}

#ctl00_MainContent_ctl00_cMtgRegWizSession_txtMtgFilterKeyword {
	@include inputText();
}

.mtgProductInformation {
	background-color: white;
}

.dvMtgSesDetail input[type="button"][value="Remove"] {
	@include unButton();
}

.MtgRegWizard_PersonifyDefault.MeetingsMtgReg_PersonifyDefault.Base_PersonifyDefault #ctl00_MainContent_ctl00_cMtgRegWizRegInfo_btnNext {
	margin-right: 20px;
}

.ProductDetailParagraphShortLabel.htmlContent {
	padding-bottom: 10px;
}

.ControlPanel_PromtionalProductListControl .PromotionalProductListControlButton-next-horizontal,
.ControlPanel_PromtionalProductListControl .PromotionalProductListControlButton-next-horizontal:hover,
.ControlPanel_PromtionalProductListControl .PromotionalProductListControlButton-prev-horizontal,
.ControlPanel_PromtionalProductListControl .PromotionalProductListControlButton-prev-horizontal:hover {
	border: none;
}

.ControlPanel_PromtionalProductListControl {
	margin-top: 20px;
}

#ctl00_MainContent_ctl01_PromotionalHeaderLabel {
	font-size: 16px;
	font-weight: bold;
	padding: 10px 0;
	display: block;
	text-align: center;
}

#ctl00_MainContent_ctl00_mtgDetailAddToCalendar_addToCalendar {
	margin: 20px 0;
}

#ctl00_MainContent_ctl00_btnRegisterGroup,
#ctl00_MainContent_ctl00_btnRapidGroupRegistration {
	@include unButton()
}


#ctl00_ctl00_MainContent_ctl00_ContainerPanelPanel {
	background: transparent;
	input#ctl00_MainContent_ctl00_SearchControl_SearchBox {
		background: white !important;
	}
	.PersonifyPagerControl_PersonifyDefault .personifypager {
		padding-bottom: 22px;
	}
	#ctl00_MainContent_ctl00_PagerControl_ContainerPanel {
		background: white;
	}
	#ctl00_MainContent_ctl00_SearchControl_SearchPanel {
		padding: 10px 20px;
	}
}

#ctl00_MainContent_ctl00_SearchControl_AdvancedLink {
	@include unButton()
}

#ctl00_ctl00_MainContent_ctl00_ContainerPanelPanel {
	background: transparent;
	input#ctl00_MainContent_ctl00_SearchControl_SearchBox {
		background: white !important;
	}
	.PersonifyPagerControl_PersonifyDefault .personifypager {
		padding-bottom: 22px;
	}
	#ctl00_MainContent_ctl00_PagerControl_ContainerPanel {
		background: white;
	}
	#ctl00_MainContent_ctl00_SearchControl_SearchPanel {
		padding: 10px 20px;
	}
}

#ctl00_MainContent_ctl00_SearchControl_AdvancedLink {
	@include unButton()
}


.MtgWizStepCustomerName {
	color: #333;
}

.MtgWizStepTitleContainer {
	border: none;
}

#ctl00_MainContent_ctl00_cMtgRegWizContactInfo_MtgRegWizStepTitle_ContainerPanel+.ctrlContent.mtgRegContacts {
	background: white;
	padding: 20px;
}

#ctl00_MainContent_ctl00_dvExhibitorInfo,
div#ctl00_MainContent_ctl00_dvAttendeeList {
	background: transparent
}

// Nav
.MtgRegWizContainer {
	[class^="WizardWith"] {
		display: flex;
		margin-bottom: 40px; // Remove Clearfix
		&:before,
		&:after {
			display: none;
		}
		span {
			//personify override
			span {
				width: auto !important;
			}
		}
		li {
			flex-grow: 1;
			background: transparent;
			border-color: $ift-grey-230;
			color: $ift-grey-medium-light;
			text-align: left;
			display: flex;
			align-items: center;
			padding-left: 40px !important;
			.step-number {
				width: 30px!important;
				height: 30px!important;
				border-radius: 100% !important;
				border: 1px solid white;
				box-shadow: none;
				position: absolute;
				left: 10px;
				text-shadow: none !important;
				top: calc(50% - 15px);
				padding: 5px 0;
				background-color: $ift-grey-medium-light;
			}
			a {
				color: $ift-grey-medium-light;
			}
			&.MtgRegWizstepSelected {
				background-color: $ift-green !important;
				border-bottom-color: $ift-green !important;
				a {
					color: $white;
				}
				.step-number {
					background-color: transparent;
				}
			}
		}
	}
}

div.MtgCalendarControl_PersonifyDefault {
	margin: 0;
}