.FullProductListControl_PersonifyDefault {
	.items-table {
		width: 100%;
		border-spacing: $half-gutter-width !important;
	}

	.ProductNameLink {
		display: block;
	}

	.ProductNameDisplay {
		display: block !important;
		color: $ift-blue !important;
		padding-top:0 !important;
	}

	.ProductDetailCERibbon {
		top: 0 !important;
		right: 1rem !important;
		width: 28px;
		height: 32px;
		background-color: $ift-orange !important;
		border:none !important;
		box-shadow:none !important;
		text-shadow: none !important;
		z-index: 1 !important;

		.ProductDetailCECreditText {
			position:static !important;
			display: block !important;
			font-size: 1rem !important;
			line-height: 1.1 !important;
			height:100% !important;
			padding-top:.4rem !important;
		}
	}


	.ProductListItemControlCell {
		width: 33.3333% !important;
		max-width: 33.3333% !important;
		padding: 0 !important;
		background-color: $white;

		> .ProductListItemControl {
			width: 100% !important;
			max-width: 100% !important;
		}
	}

	// input[type="image"]{

	// }

	.box-product-info {
		display: block !important;
		width: 100% !important;
		max-width: 100% !important;
		padding: $half-gutter-width !important;
	}

	.ProductAdditionalInfoControl_PersonifyDefault {
		color: $body-text-color;
	}

	.PriceDisplayControl_PersonifyDefault {
		font-weight: bold;
		box-shadow: 0 -1px $ift-grey-medium-lighter;
	}

	.PriceListUL {
		padding-top: $half-gutter-width / 2;
		li {
			margin-top: 0;
		}
	}

	.PriceTextLabel {
		color: $ift-grey-medium-light;
	}
	.PriceValueLabel {
		color: $body-text-color;
	}
	.box-thumbnail {
		background-color: $ift-grey-medium-lighter;
		position: relative;
	}
	.mainProductImage {
		position: static;
		margin-bottom: 0 !important;
	}
}