/*
███╗   ███╗██╗██╗  ██╗██╗███╗   ██╗███████╗
████╗ ████║██║╚██╗██╔╝██║████╗  ██║██╔════╝
██╔████╔██║██║ ╚███╔╝ ██║██╔██╗ ██║███████╗
██║╚██╔╝██║██║ ██╔██╗ ██║██║╚██╗██║╚════██║
██║ ╚═╝ ██║██║██╔╝ ██╗██║██║ ╚████║███████║
╚═╝     ╚═╝╚═╝╚═╝  ╚═╝╚═╝╚═╝  ╚═══╝╚══════╝
*/


@mixin button{
	display: inline-block;
	position: relative;
	font-family: $headlineFont;
	font-weight: 400;
	font-size: 1.2rem;
	line-height: 1.1111;
	border-width: 1px;
	border-style: solid;
	border-radius: 0;
	padding: $btn-base-padding;
	text-align: center;
	text-transform: uppercase;
	letter-spacing: 1px;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	overflow: hidden;
	transition: $ift-timing;
	background-image: linear-gradient(to bottom, rgba(174,207,67,1) 0%,rgba(118,161,32,1) 100%);
	background-size:100%;
	background-position: center;
	border: none;
	color: $white;
	min-width: 12rem;

	&:after {
		content: '';
		position: absolute;
		width:100%;
		height:100%;
		bottom:-100%;
		left:0;
		//unless we're super clever about it, this pseudo element will go on top of the button
		background-image:linear-gradient(to bottom, rgba(174,207,67,.3) 0%,rgba(118,161,32,.2) 55%, rgba(118,161,32,0) 100%);
		transition: $ift-timing;
	}

	&:hover,
	&:active,
	&:focus {
		&:after {
			bottom:0;
		}
		box-shadow:10px 10px 20px rgba($black, .05), -10px 10px 20px rgba($black, .05) ;
	}
	::selection {
		background-color:transparent;
	}
}

/*
██╗ ██████╗ ██████╗ ███╗   ██╗███████╗
██║██╔════╝██╔═══██╗████╗  ██║██╔════╝
██║██║     ██║   ██║██╔██╗ ██║███████╗
██║██║     ██║   ██║██║╚██╗██║╚════██║
██║╚██████╗╚██████╔╝██║ ╚████║███████║
╚═╝ ╚═════╝ ╚═════╝ ╚═╝  ╚═══╝╚══════╝


Just use ths folloing to get font-awesome icons in content

.icon:after{
	@include icon('fa-glass');
}
*/


/*
 ██████╗██╗     ███████╗ █████╗ ██████╗ ███████╗██╗██╗  ██╗
██╔════╝██║     ██╔════╝██╔══██╗██╔══██╗██╔════╝██║╚██╗██╔╝
██║     ██║     █████╗  ███████║██████╔╝█████╗  ██║ ╚███╔╝ 
██║     ██║     ██╔══╝  ██╔══██║██╔══██╗██╔══╝  ██║ ██╔██╗ 
╚██████╗███████╗███████╗██║  ██║██║  ██║██║     ██║██╔╝ ██╗
 ╚═════╝╚══════╝╚══════╝╚═╝  ╚═╝╚═╝  ╚═╝╚═╝     ╚═╝╚═╝  ╚═╝
*/

@mixin clearfix{
		&:before,
		&:after {
				content: " "; // 1
				display: table; // 2
		}
		&:after {
				clear: both;
		}
}

@mixin betterClearFix{
	&:after {
		content: '';
		display: table;
		clear: both;
	}
}


/*
 ██████╗ ██████╗  █████╗ ██████╗ ██╗███████╗███╗   ██╗████████╗███████╗
██╔════╝ ██╔══██╗██╔══██╗██╔══██╗██║██╔════╝████╗  ██║╚══██╔══╝██╔════╝
██║  ███╗██████╔╝███████║██║  ██║██║█████╗  ██╔██╗ ██║   ██║   ███████╗
██║   ██║██╔══██╗██╔══██║██║  ██║██║██╔══╝  ██║╚██╗██║   ██║   ╚════██║
╚██████╔╝██║  ██║██║  ██║██████╔╝██║███████╗██║ ╚████║   ██║   ███████║
 ╚═════╝ ╚═╝  ╚═╝╚═╝  ╚═╝╚═════╝ ╚═╝╚══════╝╚═╝  ╚═══╝   ╚═╝   ╚══════╝
*/


/* @include css-gradient(#dfdfdf,#f8f8f8); */

@mixin css-gradient($from: #dfdfdf, $to: #f8f8f8) {
		background-color: $to;
		background-image: -webkit-gradient(linear, left top, left bottom, from($from), to($to));
		background-image: -webkit-linear-gradient(top, $from, $to);
		background-image: -moz-linear-gradient(top, $from, $to);
		background-image: -o-linear-gradient(top, $from, $to);
		background-image: linear-gradient(to bottom, $from, $to);
}


/*
██████╗ ███████╗████████╗██╗███╗   ██╗ █████╗ 
██╔══██╗██╔════╝╚══██╔══╝██║████╗  ██║██╔══██╗
██████╔╝█████╗     ██║   ██║██╔██╗ ██║███████║
██╔══██╗██╔══╝     ██║   ██║██║╚██╗██║██╔══██║
██║  ██║███████╗   ██║   ██║██║ ╚████║██║  ██║
╚═╝  ╚═╝╚══════╝   ╚═╝   ╚═╝╚═╝  ╚═══╝╚═╝  ╚═╝
*/


/* @include background-image-retina(logo, png, 200px, 100px); */

@mixin background-image-retina($file, $type, $width, $height) {
		background-image: url($file + '.' + $type);
		@media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (-moz-min-device-pixel-ratio: 2), only screen and (-o-min-device-pixel-ratio: 2/1), only screen and (min-device-pixel-ratio: 2), only screen and (min-resolution: 192dpi), only screen and (min-resolution: 2dppx) {
				& {
						background-image: url($file + '@2x.' + $type);
						-webkit-background-size: $width $height;
						-moz-background-size: $width $height;
						-o-background-size: $width $height;
						background-size: $width $height;
				}
		}
}


/*
 █████╗ ███╗   ██╗██╗███╗   ███╗ █████╗ ████████╗██╗ ██████╗ ███╗   ██╗
██╔══██╗████╗  ██║██║████╗ ████║██╔══██╗╚══██╔══╝██║██╔═══██╗████╗  ██║
███████║██╔██╗ ██║██║██╔████╔██║███████║   ██║   ██║██║   ██║██╔██╗ ██║
██╔══██║██║╚██╗██║██║██║╚██╔╝██║██╔══██║   ██║   ██║██║   ██║██║╚██╗██║
██║  ██║██║ ╚████║██║██║ ╚═╝ ██║██║  ██║   ██║   ██║╚██████╔╝██║ ╚████║
╚═╝  ╚═╝╚═╝  ╚═══╝╚═╝╚═╝     ╚═╝╚═╝  ╚═╝   ╚═╝   ╚═╝ ╚═════╝ ╚═╝  ╚═══╝
*/

@mixin animation($animate...) {
		$max: length($animate);
		$animations: '';
		@for $i from 1 through $max {
				$animations: #{$animations + nth($animate, $i)};
				@if $i < $max {
						$animations: #{$animations + ", "};
				}
		}
		-webkit-animation: $animations;
		-moz-animation: $animations;
		-o-animation: $animations;
		animation: $animations;
}


/*
██╗  ██╗███████╗██╗   ██╗███████╗██████╗  █████╗ ███╗   ███╗███████╗
██║ ██╔╝██╔════╝╚██╗ ██╔╝██╔════╝██╔══██╗██╔══██╗████╗ ████║██╔════╝
█████╔╝ █████╗   ╚████╔╝ █████╗  ██████╔╝███████║██╔████╔██║█████╗  
██╔═██╗ ██╔══╝    ╚██╔╝  ██╔══╝  ██╔══██╗██╔══██║██║╚██╔╝██║██╔══╝  
██║  ██╗███████╗   ██║   ██║     ██║  ██║██║  ██║██║ ╚═╝ ██║███████╗
╚═╝  ╚═╝╚══════╝   ╚═╝   ╚═╝     ╚═╝  ╚═╝╚═╝  ╚═╝╚═╝     ╚═╝╚══════╝
*/


/*
@include keyframes(move-the-object) {
	0%   { left: 100px; }
	100% { left: 200px; }
}

.object-to-animate {
	@include animation('move-the-object .5s 1', 'move-the-object-again .5s 1 .5s');
} 
*/

@mixin keyframes($animationName) {
	@-webkit-keyframes #{$animationName} {
			@content;
	}
	@-moz-keyframes #{$animationName} {
			@content;
	}
	@-o-keyframes #{$animationName} {
			@content;
	}
	@keyframes #{$animationName} {
			@content;
	}
}

