// **********
// TYPOGRAPHY
// **********

$bodyFont: Arial, Helvetica, sans-serif;
$headlineFont: 'Roboto', 'Helvetica Neue', Helvetica, Arial, sans-serif;

$bodyFontWeight:normal;
$headlineFontWeight:700;
$bodyBoldWeight:bold;

$base-font-size: 1.6rem;
$base-line-height: 1.5;
//that comes out to 16/24

$feature-font-size: 1.8rem;
//line height is 27px

//maybe use padding instead of margin?
//these should match line height
$p-bottom-margin: 1.5em;
$p-bottom-padding: 1.5em;

$headline-line-height: 1.1111;
$headline-bottom-margin: .3333em;
$headline-bottom-padding: .3333em;

@mixin uppercase{text-transform: uppercase;};