$logo-width:20rem;

// Padding/Margins
$content-padding:3.6rem;
$p-spacing: 2rem;

$gutter-width: 3.2rem;
$half-gutter-width: $gutter-width / 2;

// subnav grid percentages
$subnav-item-width-half: 49%;
$subnav-item-width-third: 33%;


// Animations
$ift-timing: all .2s ease-in-out;