.WizardBannerControl_PersonifyDefault.Membership_PersonifyDefault.Base_PersonifyDefault {
	position: relative;
	margin-bottom: 2rem;
	display: flex; //make sure it doesNot accidentally break page widths
	overflow: hidden;
	a {
		color: $ift-blue;
		display: flex;
		span {
			width: auto !important;
		}
	}
	.step {
		flex-grow: 1;
		position: relative;
		background: transparent;
		border-bottom: 3px solid $ift-grey-230;
		color: $ift-blue;
		min-height: 5rem;
		align-items: center;
		text-align: left;
		padding-left: 1rem !important;
		padding-bottom: 0 !important;
		.prefix,
		.sep,
		.divider {
			display: none;
		}
		.stepLabel {
			font-size: 14px;
			padding: 0;
			padding-left: 10px;
		}
		.number {
			width: 30px!important;
			display: flex;
			position: relative;
			left: inherit;
			top: inherit;
			height: 30px!important;
			border-radius: 100% !important;
			border: 1px solid white;
			box-shadow: none;
			color: white;
			text-shadow: none !important;
			align-items: center;
			justify-content: center;
			background-color: $ift-grey-medium-light;
		}
		.stepLabel {
			color: $ift-blue;
		}
		&.aspNetDisabled {
			pointer-events: none;
			.stepLabel {
				color: $ift-grey-medium-light;
			}
		}
		&.active {
			background-color: $ift-green !important;
			border-bottom-color: $ift-green !important;
			.stepLabel {
				color: $white;
			}
			.number {
				background-color: transparent;
			}
		}
	}
}

.membershipJoin #ctl00_MainContent_ctl00_MembershipMemberTypeControl_ContainerPanel {
	padding: 2rem;
	background: white;
}

table.membership__table {
	td.table__cell {
		display: table-cell !important;
	}
	tr.table__row {
		display: table-row !important;
	}
}

#ctl00_ctl00_MainContent_ctl00_ContainerPanelPanel {
	#ctl00_MainContent_ctl00_LeftFilters_SegmentTabList {
		width: auto;
		.rlbList {
			display: flex;
		}
		.rlbGroup {
			border: none;
		}
		.rlbList li {
			flex-grow: 1;
			border: 1px solid #eee;
			background-color: #e0e0e0;
		}
		.rlbList .rlbSelected {
			background-color: $ift-green !important;
		}
		.rlbList .rlbHovered {
			background-color: $white !important;
			cursor: pointer;
		}
		.rlbList .rlbSelected .rlbText {
			color: white !important;
		}
	}
	#ctl00_MainContent_ctl00_LeftFilters_LabelDescription {
		display: block;
		background: #fff;
		font-size: 2rem;
		padding: 1rem 2.5rem;
		line-height: 1;
	}
	#ctl00_MainContent_ctl00_LeftFilters_ContainerPanel br {
		display: none;
	}

	#ctl00_MainContent_ctl00_filtersAndEvents {
		background-color: white;
		padding-top: 1rem;
	}
	.MainCalendar {
		background-color: white;
		padding: 1rem;
	}
	#ctl00_MainContent_ctl00_Events_ContainerPanel .ProductListItemControlCell {
		border: 1px solid #ddd;
	}
	#ctl00_MainContent_ctl00_filtersAndEvents #ctl00_ctl00_MainContent_ctl00_ContainerPanelPanel #ctl00_MainContent_ctl00_PagerControl_ContainerPanel {
		background-color: 0 0;
	}
	.RadTreeView .rtHover .rtIn,
	.RadTreeView .rtSelected .rtIn {
		border-color: transparent;
	}
}

#ctl00_MainContent_ctl01_ContainerPanelProducts {
	.ControlPanel_PromtionalProductListControl .scrollable {
		background-color: transparent;
	}
	.ControlPanel_PromtionalProductListControl .PromotionProductListItem {
		background-color: white;
	}
}

#ctl00_ctl00_MainContent_ctl00_ContainerPanelPanel {
	display: block;
	padding: 0;
	background: 0 0;
	#ctl00_MainContent_ctl00_divCourse,
	#ctl00_MainContent_ctl00_dvMeetingInfo,
	#ctl00_MainContent_ctl00_dvMeetingShortDescription,
	#ctl00_MainContent_ctl00_dvBottom {
		padding: 20px !important;
		padding-top: 0 !important;
		background: white;
	}
	#ctl00_MainContent_ctl00_divCourse,
	#ctl00_MainContent_ctl00_dvBottom {
		padding-top: 20px !important;
	}
	#ctl00_MainContent_ctl00_dvMainContent {
		background: 0 0;
	}
}

#ctl00_MainContent_ctl00_dvEventDetails {
	#ctl00_MainContent_ctl00_btnInPerson,
	#ctl00_MainContent_ctl00_btnOnline {
		color: $ift-blue;
		border: none;
		border-right: 1px solid #ddd;
		border-radius: 0;
		padding-right: 6px;
	}
	#ctl00_MainContent_ctl00_mtgDetailAddToCalendar_addToCalendar {
		@include unButton();
		margin-top: 0 !important;
	}
	#ctl00_MainContent_ctl00_btnOnline {
		border: none;
		padding-left: 6px;
	}
	#ctl00_MainContent_ctl00_btnInPerson[disabled],
	#ctl00_MainContent_ctl00_btnOnline[disabled] {
		color: grey;
	}
	#ctl00_MainContent_ctl00_dvMeetingInfo {
		line-height: 2;
	}
	.RadTabStripTop_PersonifyDefault .rtsLevel .rtsLink,
	.RadTabStripTop_PersonifyDefault .rtsLevel .rtsOut,
	.RadTabStripBottom_PersonifyDefault .rtsLevel .rtsLink,
	.RadTabStripBottom_PersonifyDefault .rtsLevel .rtsOut,
	.RadTabStripTop_PersonifyDefault_Baseline .rtsLevel,
	.RadTabStripBottom_PersonifyDefault_Baseline .rtsLevel {
		background: none;
	}
	.RadTabStripTop_PersonifyDefault .rtsLevel .rtsOut {
		padding: 1rem;
		border: 1px solid #eee;
		background-color: #e0e0e0;
		color: $ift-blue;
	}
	.RadTabStripTop_PersonifyDefault .rtsLevel .rtsSelected .rtsOut {
		background-color: $ift-green;
		color: white;
	}
	.RadTabStrip .rtsLink,
	.RadTabStripVertical .rtsLink,
	.MTGDetailContent#ctl00_MainContent_ctl00_dvMainContent {
		padding: 0;
	}
}

#ctl00_ctl00_MainContent_ctl00_ContainerPanelPanel .ShoppingCartSavingsControl_PersonifyDefault {
	background: white !important;
	border: 1px solid #eee;
	color: inherit;
	margin-top: 1rem;
}

.MtgWizStepTitle {
	color: inherit;
}


// Course Summary
#ctl00_MainContent_ctl00_ContainerPanel {
	#ctl00_MainContent_ctl00_cMtgRegWizRegInfo_MtgRegWizStepTitle_ContainerPanel {
		background: white;
		padding: 20px;
		padding-bottom: 0;
	}
	#ctl00_MainContent_ctl00_cMtgRegWizRegInfo_cMtgRegWizContactInfo_ContainerPanel {
		padding: 20px;
		background: white;
	}

	.MtgWizStepTitleContainer {
		margin: 0;
	}
	.buttonRow {
		margin: 0;
		margin-top: 20px;
	}
	.MtgRegWizSummaryInstructionAndPrintFriendly.clearfix {
		padding: 0 20px;
		background: white;
	}
	.ctrlContent.mtgSelectRate.formLayout,
	#divPrintAreaMtgRegWizSummary {
		background: white;
		padding: 20px;
	} //Full [  ]
	#ctl00_MainContent_ctl00_cMtgRegWizAddlInfo_dvMtgBadge,
	#ctl00_ctl00_MainContent_ctl00_cMtgRegWizAddlInfo_MtgRegSpecialNeeds_CustomerSpecialNeedControl_ContainerPanelPanel {
		background: #fff;
		padding: 20px;
	} // Top    .------.
	#ctl00_MainContent_ctl00_cMtgRegWizAddlInfo_MtgRegWizStepTitle_ContainerPanel .MtgWizStepTitleContainer,
	#ctl00_MainContent_ctl00_cMtgRegWizSummary_MtgRegWizStepTitle_ContainerPanel,
	#ctl00_MainContent_ctl00_MtgRegWizRegisterSomeoneElse_MtgRegWizStepTitle_ContainerPanel,
	#ctl00_MainContent_ctl00_MtgRegWizRegisterSomeoneElse_pnlSearchResults,
	#ctl00_MainContent_ctl00_cMtgRegWizSession_MtgRegWizStepTitle_ContainerPanel,
	#ctl00_MainContent_ctl00_cMtgRegWizAddlInfoTravelQues_MtgRegWizStepTitle_ContainerPanel {
		background: #fff;
		padding: 20px;
		margin: 0;
		padding-bottom: 0;
	} // Middle |      |
	#ctl00_MainContent_ctl00_MtgRegWizRegisterSomeoneElse_ContainerPanel .heading3,
	#ctl00_ctl00_MainContent_ctl00_cMtgRegWizAddlInfo_MtgRegEmergencyContactInfo_EmergencyContact_ContainerPanelPanel {
		background: white;
		padding: 0 20px;
	} // Bottom .______.
	#divPrintAreaMtgRegWizSummary,
	#ctl00_MainContent_ctl00_MtgRegWizRegisterSomeoneElse_pnlSearchResults,
	#ctl00_MainContent_ctl00_MtgRegWizRegisterSomeoneElse_pnlSearchRegistrant .lblEmailText,
	#ctl00_MainContent_ctl00_cMtgRegWizRegInfo_pnlCreateRegistrant,
	#ctl00_MainContent_ctl00_cMtgRegWizSession_dvMtgSesContainer,
	.ctrlContent.formLayout.QuestionnaireControl {
		background: white;
		padding: 20px;
	}
	.MtgRegWizSummaryInstructionAndPrintFriendly.clearfix {
		padding: 0 20px;
		background: white;
	}
	#ctl00_MainContent_ctl00_MtgRegWizRegisterSomeoneElse_EmailRow {
		padding: 20px;
		padding-top: 0;
		margin: 0;
		background: white;
	}
	.MtgRegWizRegisterSomeoneElse_PersonifyDefault .tblCustomers th {
		background: #eee !important;
	}
	.MtgRegWizSummarySideHeading {
		color: inherit;
		border-bottom: 1px solid #ddd;
		padding-bottom: 4px;
	}
	#ctl00_MainContent_ctl00_MtgRegWizRegisterSomeoneElse_btnAddRegistrant,
	#ctl00_MainContent_ctl00_cMtgRegWizAddlInfo_MtgRegEmergencyContactInfo_EmergencyContact_AddNew {
		@include unButton();
		margin-top: 10px;
	}
	#ctl00_MainContent_ctl00_cMtgRegWizAddlInfo_MtgRegEmergencyContactInfo_EmergencyContact_AddNew {
		margin: 5px;
	}
	.RadGrid_PersonifyDefault .rgHeader {
		background: none;
	}
	#ctl00_MainContent_ctl00_cMtgRegWizAddlInfo_MtgRegWizRelatedProductsControl_grdProductRelatedProducts_ctl00 * {
		border-color: #ccc;
	}
	#ctl00_MainContent_ctl00_cMtgRegWizAddlInfo_MtgRegWizRelatedProductsControl_RelatedProductsContainerPanel {
		margin: 0;
		background: white;
		padding: 20px;
	}

	#ctl00_MainContent_ctl00_cMtgRegWizAddlInfo_MtgRegWizRelatedProductsControl_grdProductRelatedProducts_ctl00 {
		border: none;
	}

	#ctl00_MainContent_ctl00_cMtgRegWizAddlInfo_MtgRegWizRelatedProductsControl_grdProductRelatedProducts {
		margin-top: 20px;
	}
	.dvQuestionnaireTitle,
	.dvQuestionCategory {
		padding: 10px 0;
		color: inherit;
	}
}

#ctl00_MainContent_ctl00_cMtgRegWizSummary_MtgRegSmryAddlInfo_freeMtgBadges_dvMeetingBadges,
#ctl00_MainContent_ctl00_cMtgRegWizSummary_MtgRegSmryAddlInfo_freeMtgBadges_dvMeetingBadges #dvBadgeDetail,
#ctl00_MainContent_ctl00_cMtgRegWizSummary_MtgRegSmryAddlInfo_freeMtgBadges_dvMeetingBadges #dvBadgeDetail * {
	padding: 0 !important;
}

.MtgRegWizard_PersonifyDefault .MTGBadgeCaption,
.MtgRegWizard_PersonifyDefault .ProductRelatedProductsTitle {
	color: inherit;
}

#ctl00_MainContent_ctl00_cMtgRegWizSummary_dvMtgVerticalDividor .choice-or-text,
.MtgRegSmryAddlInfoMain .hdrEmrgncyContacts {
	background: 0 0;
}

#ctl00_MainContent_ctl00_OrderItemList_ShoppingCartItemsRepeaterContainer .addressesSection {
	border: #ccc;
	background: #e4e4e4;
	padding: 4px;
}

#ctl00_MainContent_ctl00_ContainerPanel {
	#dvRate {
		display: inherit;
		width: auto;
		padding: 0;
	}
	#ctl00_MainContent_ctl00_cMtgRegWizAddlInfo_freeMtgBadges_repeaterMeetingBadges_ctl00_dvCompanyName {
		margin-bottom: 0;
	}
	.meetingBadgeField {
		height: auto;
	}
	.meetingBadgeMtgBadge {
		min-width: 0;
	}
	#divSaveField {
		margin-top: 0;
	}
	#dvCompanyNameControl {
		display: flex;
		align-items: center;
		flex-wrap: wrap;
	}
	#ctl00_MainContent_ctl00_cMtgRegWizAddlInfo_freeMtgBadges_repeaterMeetingBadges_ctl00_cboState {
		min-width: 250px;
	}
	#dvCompanyNameControl>.meetingBadgeReadOnlyField {
		padding-left: 1rem;
	}
	input#ctl00_MainContent_ctl00_cMtgRegWizSession_btnFilter {
		@include unButton();
		padding-right: 2rem !important;
		border-right: 1px solid #ddd;
	}
	#ctl00_MainContent_ctl00_cMtgRegWizSession_lbtnMtgSesClearAll {
		display: inline;
	}
	#dvmtgProductInformation {
		border: none;
	}
	#dvmtgProductInformation td {
		vertical-align: top;
		padding-right: 10px;
	}
	#ctl00_MainContent_ctl00_cMtgRegWizRegInfo_mtgRegWizRegInfoValidationSummary+div {
		font-size: 1.4rem;
		font-weight: bold;
		margin-bottom: 2rem;
		border-bottom: 1px solid #ddd;
		padding-bottom: 1rem;
	}
	#ctl00_MainContent_ctl00_cMtgRegWizSession_dvMtgSesItems {
		background-color: transparent;
	}
	#ctl00_MainContent_ctl00_cMtgRegWizSession_lbtnMtgSesItems {
		text-align: right;
		color: $ift-blue !important;
	}
	.dvMtgSesRateCodeAndPriceDetail {
		font-size: 1.6rem;
	}
}

#ctl00_ctl00_MainContent_ctl00_cMtgRegWizRegInfo_ContainerPanelPanel {
	#dvProductName,
	#dvProductNameAndTime {
		display: none;
	}
}

#ctl00_MainContent_ctl00_cMtgRegWizSession_dvMtgSesContainer {
	td.tdSesItems {
		vertical-align: center;
	}
	.buttonRow {
		margin-top: 0;
		text-align: center;
		flex-basis: 10%;
	}
	.dvMtgSesFilter {
		background: 0 0;
	}
	.dvMtgSesInfoRightCell {
		border-left: 1px solid #ddd;
	}
	.btnMtgSesShowHideGroup {
		display: none;
	}
	.dvMtgSesFilterOuterDiv {
		background: #f4f4f4;
	}
	.lblMtgSesDate {
		font-size: 1.4rem;
		font-weight: bold;
	}
	.lblMtgSesRateCodeDesc {
		padding: 0
	}
	.dvMtgSesDate {
		margin: 0;
		margin-bottom: 2rem;
	}
	.dvMtgSesHeader {
		background: 0 0;
		background-color: #f4f4f4;
		border: none;
		display: flex;
		flex-basis: 100%;
		align-items: baseline;
		justify-content: space-between;
		>div {
			flex-basis: 30%;
			width: 30%;
		}
		input[type="button"].btn:only-child,
		input[type="submit"].btn:only-child,
		input.btn:only-child {
			@include unButton();
		}
	}
}

@include break(max, $breakpoint-max-mobile) {
	#ctl00_ctl00_MainContent_ctl00_ContainerPanelPanel {
		div#ctl00_MainContent_ctl00_dvRightContent {
			float: none;
			width: 100%;
			position: static;
		}

		.meeting-detail-control .MTGDetailContent#ctl00_MainContent_ctl00_dvMainContent {
			float: none;
			width: 100%;
		}

		.meeting-detail-control .MTGDetailBottom {
			width: 100% !important;
			float: none;
		}
	}
	div#ctl00_MainContent_ctl00_EventsContent {
		width: auto;
		float: left;
		padding-left: 0;
	}
	.box-product-info {
		max-width: none;
	}
	.ProductListItemControlCell {
		padding: 10px;
		margin: 0;
		width: 100%;
	}
	#ctl00_MainContent_ctl00_OrderItemList_ShoppingCartItemsRepeaterContainer .addressesSection {
		height: auto;
	}

	#ctl00_MainContent_ctl00_OrderItemList_ShoppingCartItemsRepeater_ctl00_PanelRecipientView {
		height: unset;
	}

	.ShoppingCartItemListControl_PersonifyDefault.ShoppingCart_PersonifyDefault.Base_PersonifyDefault .borderTop,
	.ShoppingCartItemListControl_PersonifyDefault.ShoppingCart_PersonifyDefault.Base_PersonifyDefault .centerSection {
		width: 100%;
		float: none;
		max-width: none;
		height: auto;
	}
	div#ctl00_MainContent_ctl00_Container {
		.productControlSection [type=button] {
			@include button();
		}
	}
	div#ctl00_MainContent_ctl01_ContainerPanelProducts {
		display: none;
	}
}

.OrderSummaryControl_PersonifyDefault {
	.cellAdditionalInfo {
		width: 0px;
		opacity: 0;
	}

	.cellProductName {
		width: 70%;
	}
}

#ctl00_MainContent_ctl00_SurveyPanel #ctl00_MainContent_ctl00_TMAFormRowPrimaryJobTitle table a {
	padding-left: 1rem
}

// Membership Renewal
div#ctl00_MainContent_ctl00_membershipRenewalDetailsControl_MembershipRenewalType_pnlPremier {
	position: relative;
	input[type="radio"] {
		position: absolute;
		left: 0;
	}
	input[type="radio"]+span {
		margin-left: 0;
		display: inline;
		text-indent: 4rem;
		padding-left: 0rem;
	}
	table tr {
		margin-left: 3rem;
		display: block;
	}
}
form[action="./LearningProductsListing"] #ctl00_ctl00_MainContent_ctl00_ContainerPanelPanel #ctl00_MainContent_ctl00_LeftFilters_SegmentTabList .rlbList .rlbSelected.rlbHovered .rlbText {
    color: #5786c7!important;
}