$border-radius: 3px;
.main .formRow input[type="text"] {
  border: 1px solid #ddd;
  background-color: transparent;
  padding: .6rem .8rem;
  margin: .6rem 0;
  transition: 300ms all;
}

.main .formRow input[type="text"]:focus {
  border: 1px solid $ift-blue;
  box-shadow: 0 0 $border-radius #cbd0ef;
  background-color: transparent;
  padding: .6rem .8rem;
  margin: .6rem 0;
}

.ctrl-form-row {
  padding: 10px 6px;
}

.formLayout .formRow label + textarea {
  vertical-align: top;
  display: inline;
  border: 1px solid #ddd;
  background-color: transparent;
  padding: .6rem .8rem;
  margin: .6rem 0;
}

// View More/Less Icon
.showMore.action-hyperlink,
.showLess.action-hyperlink {
  padding-left: 2.4rem !important;
  margin-top: 10px;
  display: block;
  position: relative;
  &:before {
    font-family: monospace;
    font-size: 2rem;
    height: 2rem;
    left: 0;
    top: -4px;
    padding: 0;
    width: 2rem;
    line-height: .9;
    position: absolute;
    border: 1px solid;
    border-radius: 100%;
    text-align: center;
  }
  @include break(max, $breakpoint-max-xs-override) {
    //personify override
    font-size: 100% !important;
    margin: 0 !important;
    padding-top: 0 !important;
  }
}

// Dropdown
// Reset
.RadComboBox,
.RadComboBox table,
.RadComboBox tbody,
.RadComboBox tr {
  display: block;
}

.formRow .RadComboBox input[type="text"],
.formRow .RadComboBox input[type="text"]:focus,
{
  border: none;
  box-shadow: none;
  background-color: transparent;
  padding: 3px 0;
  margin: 0;
}

.RadComboBox_PersonifyDefault .rcbInputCellLeft,
.RadComboBox_PersonifyDefault .rcbInputCellRight,
.RadComboBox_PersonifyDefault .rcbArrowCellLeft,
.RadComboBox_PersonifyDefault .rcbArrowCellRight {
  background-image: none !important;
  background: 0 0 !important;
}

.section.profile-ctrl-contact-info .address-control-panel label,
.section.profile-ctrl-contact-info .address-control-panel input[type=text],
.section.profile-ctrl-contact-info .address-control-panel .RadComboBox.RadComboBox_PersonifyDefault,
.section.profile-ctrl-contact-info .emailDetails label,
.section.profile-ctrl-contact-info .emailDetails input[type=text],
.section.profile-ctrl-contact-info .emailDetails .RadComboBox.RadComboBox_PersonifyDefault {
  display: block;
  width: 100% !important;
  border-color: #ccc;
  border-radius: 4px;
}

// Left
.RadComboBox table td.rcbInputCell {
  border: 1px solid #ccc;
  border-radius: $border-radius 0 0 $border-radius;
  display: inline-block;
  padding: .4rem .8rem !important;
  height: 3rem;
  width: calc(100% - 2.6rem) !important;
}

// Right Arrow
.RadComboBox_PersonifyDefault td.rcbArrowCellRight {
  border: 1px solid #ccc;
  border-left: none;
  border-radius: 0 $border-radius $border-radius 0;
  display: inline-block;
  width: 2.6rem;
  height: 3rem;
  position: relative;
  // Arrows
  &:before,
  &:after {
    display: block;
    position: absolute;
    content: "";
    left: 7px;
    height: 0;
    border: 5px solid transparent;
  }
  // Up Arrow
  &:before {
    top: 2px;
    border-bottom-color: #555;
  }
  // Down Arrow
  &:after {
    bottom: 2px;
    border-top-color: #555;
  }
  // Trigger
  a {
    width: 2.6rem !important;
    background: transparent;
    height: 3rem;
    z-index: 999;
  }
}

// Select
select {
  border: 1px solid #ccc;
  border-radius: 3px 0 0 3px;
  display: inline-block;
  padding: .4rem .8rem!important;
  height: 3rem;
}

// List
.RadComboBoxDropDown li {
  font-size: 14px !important;
}

// Disabled
.formRow input[disabled],
.formRow input[disabled].aspNetDisabled,
,
.RadComboBox table.rcbDisabled {
  // pointer-events: none;
  cursor: not-allowed;
  opacity: 0.6;
}

.fixedWidthTextbox {
  @include inputText();
}

.required label:before {
  color: $ift-blue;
}

