.accordion {
  padding-right:$gutter-width;
  padding-left: $gutter-width;
  .bf_tabs & {
    width:100%;
    padding-right:0;
    padding-left:0;
  }
  &__title {
  }
  
  &__list {
    list-style: none;
    margin: 0;
    padding: 0;
    //give this extra specificty
    body main & {
      list-style: none;
      text-indent: 0;
      margin-top: inherit;
      margin-left: inherit;
    }
  }
  
  &__item {
    list-style: none;
    border-bottom: 1px solid #000;
  }
  
  &__itemTitleWrap {
    display: flex;
    cursor: pointer;
    overflow: hidden;
    @include break(max, $breakpoint-max-mobile) {
      .bf_tabs & {
        display: block;
      }
    }
    @include break(max, $breakpoint-max-1023){
      .bf_tabs & {
        position:relative;
      }
    }
    @include break(min, $breakpoint-min-tablet) {
      padding-right:$gutter-width;
    }

    span {
      transition: $ift-timing;
    }
    //get rid of active and focus here. 
    &:hover {
      span {
        color: $ift-blue;
        .bf_tabs & {
          color: inherit;
        }
      }
    }
    // &.accordion__title--ACTIVE {
    //   span {
    //     color: $ift-blue;
    //   }
    // }

  }
  
  &__itemIconWrap {
    background:#000;
    width: 1em;
    height: 1em;
    margin-left: auto;
  }
  
  &__itemTitle {
    display: block;
    width: 100%;
    position: relative;
    font-size: 2rem;
    line-height: 1;
    margin-bottom: 0;
    padding-top:$gutter-width / 2;
    padding-bottom:$gutter-width / 2;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    &::selection {
      background-color:transparent;
    }
    @include break(max, $breakpoint-max-mobile){
      .bf_tabs & {
        padding-top:$gutter-width/4;
      }
    }
    @include break(min, $breakpoint-min-tablet){
      .bf_tabs & {
        padding-top:$gutter-width/4;
        padding-left:$gutter-width/2;
        border-left: 3px solid $ift-grey-230;
      }
    }
    
    &:after {
      content: url(/img/icons/icons_arrows/chevron-dark-bottom.svg);
      position:absolute;
      right:0;
      //these aren't sizing correctly on edge when width specified...
      //width:2rem;
      //height:2rem;
      text-align: center;
      -webkit-touch-callout: none;
      -webkit-user-select: none;
      -moz-user-select: none;
      -ms-user-select: none;
      user-select: none;
      transition:$ift-timing;
      .bf_tabs & {
        top:33%;
      }
      &::selection {
        background-color:transparent;
      }
      .accordion__title--ACTIVE & {
        transform: rotate(180deg);
        //transform-origin: 0 0;
      }

    }
  }
  
  &__itemContent {
    height: 0;
    overflow: hidden;
    &.itemContentIsOpen {
       height: auto;
    }
  }



  .card-component {
    padding-top:.5em;
    padding-bottom:1.5em;
    .card-component__content-wrapper {
      width: 100%;
      @include break(min, $breakpoint-min-tablet){
        padding-right:$gutter-width * 2;
      }
    }
  }
}

.accordion__openCloseAllWrapper--outer {
  font-family: $headlineFont;
  font-size: 1.2rem;
  //text-transform: uppercase;
  .bf_tabs & {
    @include break(max, $breakpoint-max-mobile){
      padding-top:$gutter-width/2;
    }
    @include break(min, $breakpoint-min-tablet){
      float: right;
      text-align:right;
    }
  }
  span {
    color: $ift-blue;
    cursor:pointer;
    transition:$ift-timing;
    box-shadow: 0 1px $ift-blue;
    &:hover,
    &:active,
    &:focus {
      opacity: .75;
      
    }
    &:first-child {
      margin-right:.175em;
    }
    &:last-child {
      margin-left: .175em;
    }
  }
  &:after {
    content: '';
    display: table;
    float: none;
    clear: both;
    visibility: hidden;
    height: 0;
  }
}