.counter-component {
	font-family:$headlineFont;
	font-size: 2.4rem;
}

.counter-component__circle {
	box-sizing: content-box;
	position:relative;
	width:9rem;
	height:9rem;
	margin:auto;
	//background:rgba($ift-green, .8);
	background:radial-gradient(ellipse at center, rgba(118,161,32,1) 0%,rgba(118,161,32,0.75) 100%); 
	border-radius: 50%;
	border:7px solid rgba(255,255,255,.6666);
	//border-image:linear-gradient(red, yellow) 10
	//box-shadow:1px 10px $white;
	background-clip:padding-box;
}

.counter-component__number {
	position:absolute;
	font-size:2.4rem;
	font-weight:$headlineFontWeight;
	line-height:1;
	display:inline-block;
	top:50%;
	left:50%;
	transform:translate(-50%, -50%);
}

.counter {
	.card-component__wrapper-inner {
		display: inline-block;
		margin: 0 auto;
	}
}

//cleaner do do mobile area here
@include break(max, $breakpoint-max-mobile){
	.counter-component {
		margin-bottom: $gutter-width;
	}
	.counter-component__circle {
		width:7.2rem;
		height:7.2rem;
		border:5px solid rgba(255,255,255,.6666);
	}
	.counter-component__number {
		font-size:2.4rem;
	}
	.counter-component__label {
		font-size: 1.8rem;
	}

}
