//want to get rid of default input settings
input {
	// -webkit-appearance: none;
	// -webkit-appearance: none;
	// appearance: none;
	border-radius:0;
	box-shadow:none;
	// [type="checkbox"]{
	// 	box-shadow:none;
	// }
}

.form-component__emailForm {

	padding-top:$gutter-width / 2;
	padding-bottom:$gutter-width / 2;
	background-color:$ift-green;
	//background-image:url(/img/strips/strips.svg);
	//background-size:cover;
	
	.row {
		margin-bottom: 0;
		padding-bottom:0;
	}
	[class^="col"]{
		@include break(min, $breakpoint-min-tablet, max, $breakpoint-max-1023){
			padding-right: 0;
			padding-left:0;
		}
	}
	form {
		display: table;
		width:100%;
	}

	label {
		display: table-cell;
		width:100%;
		font-size:1.2rem;
		text-transform: uppercase;
		padding-right:.6666em;
		span {
			display: block;
		}
	}
	input {
		font-family: $bodyFont;
		font-size: 1.4rem;
		box-shadow:none;
	}
	[type="email"]{
		background-color:transparent;
		color:$white;
		padding:1em;
		width: 100%;
		border:1px solid $white;
		&::selection {
			background-color:$ift-blue;
		}
	}
	.emailForm__emailAddressSubmitButton--wrapper {
		display: table-cell;
		vertical-align: bottom;
	}
	[type="submit"]{
		
		font-size: 1.25rem;
		background-color:transparent;
		color: $white;
		width: 10rem;
		text-transform: uppercase;
		vertical-align: top;
		//border:1px solid $ift-green;
	}
	button {
		text-transform: uppercase;
	}
	.button {
		@include break(min, $breakpoint-min-tablet, max, $breakpoint-max-1023){
			font-size: 1rem;
		}
	}
	//need to style on mobile
	.card-component__button--group {
		padding-top:$gutter-width/2;
	}
}

.form-component__emailForm--icon {
	display:inline-block;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	&::selection {
		background-color: transparent;
	}
	svg {
		width:7.2rem;
		height:7.2rem;
		stroke:rgba($white, 1);
		-webkit-touch-callout: none;
		-webkit-user-select: none;
		-moz-user-select: none;
		-ms-user-select: none;
		user-select: none;
		//fill:rgba($white,0);
		&.emailIconToAnimate--END-STATE {
			stroke:rgba($white, .1);
			//fill: rgba($white, 1);
		}
		&::selection {
			background-color: transparent;
		}
	}
}

.form-component__emailForm--text {
	font-family:$headlineFont;
	//font-size:$feature-font-size;
	display:inline-block;
	width:calc(100% - 8rem);
	height:100%;
	vertical-align: top;
	padding-top:.3333em;
	padding-bottom:.3333em;
	padding-left:$gutter-width / 2;

	strong {
		display: block;
		font-size: 2rem;
		font-weight: 400;
	}
}

//this is a standalone on the actual login page
.column-login {
	width:30rem;
	margin:0 auto;
}

.form-component__loginForm {
	font-family:$headlineFont;
	font-size:1.2rem;
	max-width:30rem;
	background-color:$ift-grey-medium-lighter;
	padding:$gutter-width / 2;
	fieldset {
		
	}
	label {
		display: block;
		font-size: 1rem;
		padding-bottom: $gutter-width / 2;
		text-transform: uppercase;
		input {
			display: block;
			width:100%;
			font-family:$headlineFont;
			padding:1em;
			
		}
	}
	[type="submit"]{
		display: block;
		width:100%;
		opacity: 1;
		background-color:red !important;
		margin-top: $gutter-width / 8;
		margin-bottom: $gutter-width;		
	}
	.forgot-password {
		margin-bottom: $gutter-width / 4;
	}
}

.form-component__loginForm--text {
	padding-bottom:$gutter-width / 2;
	h5 {
		font-size: 2rem;
		color: $ift-grey-darker;
		font-weight: $headlineFontWeight;
	}

}


// :invalid {
// 	border:10px solid red;
// }

:invalid {
	button,
	[type="submit"] {
		opacity:.5;
		pointer-events: none;
	}
}
// :valid {
// 	button {
		
// 	}
// }

//make these apply to both, because cross browser stuff
select,
select option {
	font-family:$headlineFont;
	font-size:1.2rem;
}