.iftMap__wrapper--outer {
  max-width: $breakpoint-min-md;
  .row {
  	padding-bottom: 0;
  }
}

.iftMap__svg__rect--background {
  fill: none;
  pointer-events: all;
}

.usState {
  cursor: pointer;
  fill: #dddddd;
  stroke: #666666;
  stroke-width: 0.4px;
}

.usState.activeState {
  fill:rgba(87,134,199,1);
}