.iftMap__svg {
  > .iftMap__svg__g,
  > .iftMap__svg__path--stateBorders {
     transform:scale(.5);
    transform-origin: 0 0;
    @include break(max, $breakpoint-max-mobile){
      transform:scale(.275);
    }
  }
  @include break(max, $breakpoint-max-mobile){
    width: 300px;
    height:200px;
  }
}



.usState {
  cursor: pointer;
  fill: #dddddd;
  stroke: #999999;
  stroke-width: .03rem;
}

.states {
  :hover {
    fill:rgba(87,134,199,1);
  }
  .usState--SELECTED {
    fill:rgba(87,134,199,1);;
  }
}

.state-borders {
  fill: none;
  stroke: #666666;
  stroke-width: 0.5px;
  stroke-linejoin: round;
  stroke-linecap: round;
  pointer-events: none;
}




.iftMap__wrapper--outer {

  @include break(max, $breakpoint-max-1023){
    text-align: center;
  }
  @include break(min, $breakpoint-min-lg){
    max-width: $breakpoint-min-md;
  }


  header {
    @include break(max, $breakpoint-max-mobile){
      font-size: 1.2rem;
      p {
        font-size: 1.2rem;
      }
    }
  }
  .row {
  	//padding-bottom: 0;
  }
  [class^="col-"]{
    padding-left: 0;
    padding-right: 0;
  }
}

.iftMap__additionalItemsBox__wrapper--outer {
  text-align: left;
  @include break(min, $breakpoint-min-md){
    padding-top:$gutter-width/2;
  }
}

.iftMap__mobile__selectMenu__wrapper--outer {

  @include break(min, $breakpoint-min-tablet){
    display: none;
  }
  .iftMap__additionalItemsBox__wrapper--inner {
    padding-bottom:0;
  }

}

.iftMap__stateSelectMenu {
  @include break(max, $breakpoint-max-mobile){
    margin-bottom: $gutter-width / 2;
    font-size: 1.2rem;
    option {
      font-size: 1.4rem
      //transform:scale(.275);
    }
  }
}

.iftMap__additionalItemsBox--internationalSections {
  .iftMap__additionalItemsBox__wrapper--inner {
    @include break(max, $breakpoint-max-mobile){
      padding-top:0;
    }
  }
}

.iftMap__internationalSelectMenu {
  color:$ift-blue;
  overflow: auto;
  background-color: transparent;
  border: none;
  option {
    color: $ift-blue;
    background-color: transparent !important;
  }
  @include break(max, $breakpoint-max-mobile){
    font-size: 1rem;
    option {
      font-size: 1rem;
      //transform:scale(.275);
    }
  }
  @include break(min, $breakpoint-min-tablet){
    font-size: 1.2rem;
    option {
      font-size: 1.2rem;
      //transform:scale(.275);
    }
  }


}

.dataDisplay__row {
  padding-bottom:$gutter-width/4;
} 

.dataDisplay__header {
  border-bottom: 1px solid $ift-grey-200;
}

.seletedStateDisplay__headline__span {
  color: $ift-blue;
}


.iftMap__sectionData__wrapper {
  font-size: 1.2rem;
  padding-right:$gutter-width;
}

.iftMap__zipCodes {
  padding:$gutter-width / 8;
  font-size: 1.1rem;
  border: 1px solid $ift-grey-200;
}





.iftMap__additionalItemsBox__wrapper--inner {
  background: $ift-grey-medium-lighter;
  padding: $gutter-width / 2;
  position:relative;
}

.iftMap__internationalSelectMenu__footer {
  font-size: 1.2rem;
}


.iftMap__sectionData__wrapper--DISABLED-STATE {
  pointer-events:none;
  opacity: .5;
  cursor: not-allowed;
  position: relative;
  input {
    //prevent click somehow;

  }
  //z-index: 0;

  //disallow highlight and actual click
}


//tooltip
.iftMap__sectionData__footer {
  position:absolute;
  background: $ift-grey-medium-lighter;
  padding:$gutter-width/4;
  font-size: 1rem;
  line-height: 1;
  //top:$gutter-width;
  // left: 0;
  // z-index: 9;

  //demoOnly
  margin-top: -25px;
  max-width: 300px;

  .row {
    padding-bottom:$gutter-width/8;
  }
  //default to hidden state in the html
  &.iftMap__sectionData__footer--HIDDEN-STATE{
    display: none;
  }

}

.iconInfo {
  width: 16px;
  height: 16px;
  cursor: pointer;
  stroke-width: 3px;
  stroke: $white;
  fill:$ift-blue-dark;
  
}

.iftMap__sectionData__footer__column--label {
  font-weight: bold;
}

// .iftMap__svg__rect--background {
//   fill: none;
//   pointer-events: all;
// }

// .usState {
//   cursor: pointer;
//   fill: #dddddd;
//   stroke: #666666;
//   stroke-width: 0.4px;
// }

// .usState.activeState {
//   fill:rgba(87,134,199,1);
// }