.sublayout__tagCloud {
	margin-bottom:$gutter-width;
	//margin-left:$gutter-width;
	.cardList__header {
		padding-bottom:0;
	}
	.cardList__headline {
		padding-left:$gutter-width;
	}
	.card-component__tags--wrapper {
		padding-bottom: 0;
	}

}

.tagCloud__groupWrapper {
	
	background-color: $ift-grey-230;
	padding: $gutter-width / 2;

	box-shadow: inset 1px 1px rgba(151,151,151,.1), inset -1px -1px rgba(151,151,151,.1);

	@include break(max, $breakpoint-max-mobile) {
		padding-top: $gutter-width;
		padding-bottom: $gutter-width;
	}
	@include break(min, $breakpoint-min-tablet){
		//margin-left:$gutter-width;
		max-width:30rem;
		margin-right: 0;
		margin-left: auto;
	}	
}

.tagCloud__groupWrapper--inner {
	//margin-bottom:$p-bottom-margin;
	

	@include break(max, $breakpoint-max-mobile) {
		margin-right: auto;
		margin-left: auto;
	}
	.card-component__tag {
		font-size: 1.2rem;
		margin-right: $gutter-width / 8;
		margin-bottom: $gutter-width / 4;
	}
}

.searchColumnWithMostStuff {
	.sublayout__tagCloud {
		@include break(min, $breakpoint-min-tablet){
			padding-left:$gutter-width;
		}	
	}
}