nav.tab__navigation {
	display: table;
	width: 100%;
	overflow-x: auto;
	position: relative;
	z-index: 1;
	// background-color: $nacac_light-blue;
	.tab__button {
		cursor: pointer;
		display: block;
		float: left;
		max-width: 20rem;
		height: 6rem;
		text-align: center;
		line-height: 1em;
		padding: 1.2rem;
		padding-top: 2rem;
		margin: 0;
		//transition: $transition--all;
		//@include sans-uppercase-normal;
		font-family: 'Istok Web', sans-serif;
		font-weight: 700;
		// background-color: $nacac_light-blue;
		//color: $nacac_lighter-blue;
		border-right: 0.1rem solid $white;
		&.trigger__button--active {
			pointer-events: none;
			//background-color: $nacac_lighter-blue;
			//color: $nacac_light-blue;
			//transition: $transition--all;
			position: relative;
			&:after{
				background-color: $white;
				opacity: 0.5;
				width: 100%;
				left: 0;
				height: 4px;
				content: "";
				position: absolute;
				top: 0;
			}
		}
	}
}

.tab__stage {
	position: relative;
	//@include clearfix;
	.tab__content {
		// border-top: 0.1rem solid $white;
		width: 100%;
		padding: 2rem;
		padding-left: 14rem;
		// background-color: $nacac_lighter-blue;
		float: left;
		display: none;
		min-height: 15rem;
		//transition: $transition--all;
		span.tab__jump{
			//@extend .anchor__jump;
		}
		img.tab__image{
			margin-top: 3rem;
		}
		&.trigger__content--active {
			display: block;
			//transition: $transition--all;
			transition-delay: 300ms;
		}
		aside:not(.accordion-item__aside) {
			position: absolute;
			top: 2rem;
			width: 10rem;
			left: 2rem;
			img{
				max-width: 100%;
			}
		}
		section {
			ul {
				//padding-bottom: $p-spacing;
				padding-left: 2rem;
			}
		}
	}
}


/*
██████╗ ██╗  ██╗ ██████╗ ███╗   ██╗███████╗
██╔══██╗██║  ██║██╔═══██╗████╗  ██║██╔════╝
██████╔╝███████║██║   ██║██╔██╗ ██║█████╗  
██╔═══╝ ██╔══██║██║   ██║██║╚██╗██║██╔══╝  
██║     ██║  ██║╚██████╔╝██║ ╚████║███████╗
╚═╝     ╚═╝  ╚═╝ ╚═════╝ ╚═╝  ╚═══╝╚══════╝
*/


@include break(max, $breakpoint-max-mobile) {
		.tab__block{
		position: relative;
		&:after{
			content: "";
			width: 2em;
			top: 0;
			right: 0;
			z-index: 2;
			height: 6rem;
			position: absolute;
			box-shadow: inset -3em 0 2em -3em rgba(0,0,0,0.7);
			//transition: $transition--all;
		}
		&.no--shadow:after{
			box-shadow:none;
			//transition: $transition--all;
		}
	}
	nav.tab__navigation {
		white-space: nowrap;
		overflow-x: auto;
		overflow-y: hidden;
		font-size: 0;
		position: relative;
		display: block;
		width: auto;
		.tab__button {
			font-size: 1.2rem;
			display: inline-block;
			vertical-align: middle;
			width: 40%;
			white-space: normal;
			max-width: none;
			float:none;
		}
	}
	.tab__stage {
		.tab__content {
			padding: 2rem;
			aside {
				position: static;
				margin: 1rem auto;
			}
		}
	}
}

/*
██████╗ ███████╗███████╗██╗  ██╗████████╗ ██████╗ ██████╗ 
██╔══██╗██╔════╝██╔════╝██║ ██╔╝╚══██╔══╝██╔═══██╗██╔══██╗
██║  ██║█████╗  ███████╗█████╔╝    ██║   ██║   ██║██████╔╝
██║  ██║██╔══╝  ╚════██║██╔═██╗    ██║   ██║   ██║██╔═══╝ 
██████╔╝███████╗███████║██║  ██╗   ██║   ╚██████╔╝██║     
╚═════╝ ╚══════╝╚══════╝╚═╝  ╚═╝   ╚═╝    ╚═════╝ ╚═╝     
														  
*/





// JUNK BIG SCROLL
	// &::-webkit-scrollbar {
	// 	-webkit-appearance: none;
	// 	height: 3rem;
	// }
	// &::-webkit-scrollbar-thumb {
	// 	background-color: $lighter-orange;
	// 	border-bottom: .5rem solid $lighter-orange;
	// }
	// &::-webkit-scrollbar-track {
	// 	background-color: $nacac_bg-blue-grey;
	// 	border-bottom: .5rem solid $nacac_bg-blue-grey;
	// }
	// &::-webkit-scrollbar-button:start:decrement,
	// &::-webkit-scrollbar-button:end:increment {
	// 	display: block;
	// 	width: 2.4rem;
	// 	background-color: $nacac_bg-blue-grey;
	// 	background-position: bottom;
	// 	background-repeat: no-repeat;
	// 	border-bottom: .5rem solid $nacac_bg-blue-grey;
	// }
	// &::-webkit-scrollbar-button {
	// 	&:start {
	// 		&:decrement {
	// 			background-image: url(/images/icons/icon_arrow_left_thin.svg);
	// 		}
	// 	}
	// 	//doesn't want to allow a transform
	// 	&:end {
	// 		&:increment {
	// 			background-image: url(/images/icons/icon_arrow_right_thin.svg);
	// 		}
	// 	}
	// }
	// &::-webkit-scrollbar-track-piece {}



// wide tabs
.tab__stage-wrap {
	//background-color: $nacac_lighter-blue;
	border-top: .1rem solid $white;
}
.tab__navigation-wrap {
	//background-color: $nacac_light-blue;
	border-top: .1rem solid $white;
}
.tab__block-wide {
	.tab__stage {
		.tab__content {
			padding: 0 1.5rem;
		}
	}
	@media only screen and (min-width: 768px) {
		.tab__stage,
		.tab__navigation {
		  width: 750px;
		  margin: 0 auto;
		}
	}
	@media only screen and (min-width: 992px) {
		.tab__stage,
		.tab__navigation {
		  width: 970px;
		  margin: 0 auto;
		}
	}
	@media only screen and (min-width: 1200px) {
		.tab__stage,
		.tab__navigation {
		  width: 1170px;
		  margin: 0 auto;
		}
	}
}