.nav-utility {
	display:flex;
	flex-direction:row;
	position:relative;
	font-size:1.2rem;

	//needs more specificity, hence extra nesting here
	a {
		.nav-combined--wrapper & {
			color: $white;
		}
	}
	.button {
		font-size: .9rem;
		border-width:2px;
	}
	.social-link-group {
		padding-left:2em;
		@include break(max, $breakpoint-max-mobile){
			display: none;
		}
	}

	@include break(max, $breakpoint-max-mobile){
		.button {
			font-size: 1.2rem;
			position:fixed;
			top:.6rem;
			right: 8rem;
			padding: 1em;
			margin-left: 1em;
		}
	}

	@include break(min, $breakpoint-min-tablet){
		background: linear-gradient(to bottom, rgba($ift-grey-darker, .6666) 0%,rgba($ift-grey-darker, 0) 100%); 
		.button {
			padding: 1rem;
			margin-top: .3333em;
			margin-bottom: .3333em;
			margin-left: 1em;
		}
	}
	// @include break(min, $breakpoint-min-md){
	// 	box-shadow: 0 2px rgba(99,99,99,.75);
	// }
	&.contained {
		max-width: 100%;
		@include break(min, $breakpoint-min-tablet){
			padding-right:5vw;
			padding-left:7.5vw;
		}
		// @include break(min, $breakpoint-min-md){
			
		// }
		
		

	}
}

.nav-utility__list {
	display:flex;
	align-items:center;
	list-style:none;

	li {
		display: inline-block;
		a {
			display: inline-block;
			transition:all .25s ease-out;
			&:hover,
			&:active,
			&:focus {
				color: $ift-blue;
				box-shadow: inset 0 -3px $ift-blue;
			}
		}
		@include break(min, $breakpoint-min-tablet){
			&:first-child,
			&:nth-child(2),
			&:nth-child(3){
				&:after {
					display: inline-block;
					vertical-align: middle;
					content:'|';
					font-size: .9rem;
					color: $white;
					padding-right:.5em;
					padding-left:.5em;
				}
			}
		}
	
		@include break(max, $breakpoint-max-mobile){
			a {
				display: none;
				&.button {
					display: inline-block;
				}
			}
			.i-search {
				display: none;
			}
		}
	}
}


.nav-utility__reg-search-wrapper {
	display:flex;
	flex-direction:column;
	flex-grow:1;
	align-items:flex-end;
}

.nav-utility__reg-search-wrapper--inner{
	display:flex;
}