//for mobile&tablet styles, see navMobile
.nav-trigger-wrapper {
	display:none;
}

.nav-combined--wrapper {
	position:fixed;
	top:0;
	left:0;
	width:100%;
	//for mobile and tablet, but doesn't need own query
	min-height:5rem;
	background: linear-gradient(to bottom, rgba(0,0,0,.66) 0%,rgba(0,0,0,1) 100%);
	z-index:8;
	.body-home & {
		background: rgba(0,0,0,0);
		&.scrolled--STATE {
		/*lightened ift blue -- need mixin*/
		background: linear-gradient(to bottom, rgba(0,0,0,.66) 0%,rgba(0,0,0,1) 100%);
	}
	}
	
	
	
	//content template has no header, so it must always be opaque
	// .body__template--content & {
	// 	background: linear-gradient(to bottom, rgba(0,0,0,.66) 0%,rgba(0,0,0,1) 100%);
	// }
}



.nav-main {
	position: relative;
	display:flex;
	margin-top:1.5em;
	margin-bottom:1.5em;
	z-index:4;
	ul,li,a,span {
		-webkit-touch-callout: none;
		-webkit-user-select: none;
		-moz-user-select: none;
		-ms-user-select: none;
		user-select: none;
		&::selection {
			background-color: transparent;
			
		}	
	}
	ul {
		list-style: none;
	}
}




.nav-list-top-level {
	margin: 0 auto;
	> li {
		display: inline-block;
		vertical-align: top;
		margin-left: 1.5em;
		a {
			font-family: $headlineFont;
			font-weight: 700;
		}
		> a {
			position:relative;
			font-size: 1.4rem;
			color: $white;
			text-transform: uppercase;
			-webkit-touch-callout: none;
			-webkit-user-select: none;
			-moz-user-select: none;
			-ms-user-select: none;
			user-select: none;
			&::selection {
				background-color:transparent;
			}
			&:after {
				content: '';
				position:absolute;
				top:calc(50% - .2rem);
				right:-1rem;
				display:inline-block;
				width: 0; 
				height: 0; 
				border-left: .3rem solid transparent;
				border-right: .3rem solid transparent;
				border-top: .6rem solid $white;
				margin-left: .3rem;
				-webkit-touch-callout: none;
				-webkit-user-select: none;
				-moz-user-select: none;
				-ms-user-select: none;
				user-select: none;
				//transform: rotate(180deg);
				&::selection {
					background-color:transparent;
				}
			}
		}
		&:first-child {
			margin-left:0;
		}
	}
}

.nav-list-level-2 {
	display: flex;
	visibility:hidden;
	//flex-grow:1;
	position:absolute;
	top:2.5em;
	left:0;
	width: 100%;
	min-height:100px;
	/*lightened ift blue -- need mixin*/
	/*ufortunately there's overlap*/
	//background-color: rgba(87,134,199,.9);
	//background: $ift-blue;
	//text-align: center;
	padding-top:1em;
	padding-right:3.3333vw;
	padding-left:3.3333vw;
	opacity: 0;
	&.nav-list-level-2--ACTIVE {
		visibility: visible;
		opacity: 1;
		z-index: 2;
		padding-right:5vw;
		padding-left:5vw;
	}
	li {
		font-size: 1.4rem;
		display: flex;
		flex-direction: column;
		vertical-align: middle;
		padding:1.5em;
		// flex-grow:1;
		// flex-shrink:0;
		// flex-basis:0;
		-ms-flex-preferred-size: 33.333%;
		-webkit-flex-basis: 33.333%;
		flex-basis: 33.333%;
		max-width: 33.333%;
		text-align: center;
		a {
			color: $white;
			//text-shadow: 2px 2px 2px rgba(0,0,0,1), -2px -2px 2px rgba(0,0,0,1);
		}
	}
}

//but when there are only 2, they should be 50/50
.nav-list-level-2 li:nth-last-child(n+2):nth-last-child(-n+2):first-child, .nav-list-level-2 li:nth-last-child(n+2):nth-last-child(-n+2):first-child ~ li {
	display:inline;
	width:auto;
	width:50%;
	-ms-flex-preferred-size: 50%;
	-webkit-flex-basis: 50%;
	flex-basis: 50%;
	max-width: 50%;

}

// #bananaClass > a:after {
// 	opacity:0;
// }

// #bananaClass > a:before {
// 	content: 'x';
// 	position:absolute;
// 	top:calc(50% - .7rem);
// 	right:-.9rem;
// 	font-size:1rem;
// 	opacity:0;
// }

// .grapeClass{opacity:0;}


//exact css rule to match JS needs to exist (and therefore needs at least 1 property) 
.nav-list-top-level > li:nth-child(1) > a:after,
.nav-list-top-level > li:nth-child(2) > a:after,
.nav-list-top-level > li:nth-child(3) > a:after,
.nav-list-top-level > li:nth-child(4) > a:after,
.nav-list-top-level > li:nth-child(5) > a:after,
.nav-list-top-level > li:nth-child(6) > a:after {
	opacity:1;
	//transform:rotate(0);
}

html .nav-list-top-level>li:last-child>a:after {
	opacity:1;
}



//sneaking in an X using before
//due to plugin restrictions, I cannot put this in a media query
.nav-list-top-level > li:nth-child(1) > a:before,
.nav-list-top-level > li:nth-child(2) > a:before,
.nav-list-top-level > li:nth-child(3) > a:before,
.nav-list-top-level > li:nth-child(4) > a:before,
.nav-list-top-level > li:nth-child(5) > a:before,
.nav-list-top-level > li:nth-child(6) > a:before {
	content: 'x';
	position:absolute;
	top:calc(50% - .7rem);
	right:-.9rem;
	font-size:1rem;
	opacity:0;
}

// .nav-list-top-level > li:nth-child(2) > a:before {
// 	content: 'x';
// 	position:absolute;
// 	top:calc(50% - .7rem);
// 	right:-.9rem;
// 	font-size:1rem;
// 	opacity:0;
// }




#navOverlayCloseTarget {
	position:fixed;
	top:0;
	left:0;
	width:100vw;
	height: 100vh;
	background: linear-gradient(to bottom, rgba(0,0,0,1) 25%,rgba(0,0,0,.1) 100%);
	z-index:2;
}