.ShoppingCartControl_PersonifyDefault {
	.productControlSection {
		position: static;
		width: 100%;
	}
}

main.main.storeDetail {
	.ProductDetailControl_PersonifyDefault h1 .ProductDetailNameDisplay {
		border: none;
		font-size: 3.6rem;
	}
	.ProductDetailLeftCell div .RadComboBox table td.rcbInputCellLeft,
	div .RadComboBox .rcbInputCell td.rcbInput {
		border: 1px solid #ccc;
	}
}

#ctl00_MainContent_ctl00_ProductSUBBuyBoxControl_ProductDetailActionButtonControl1_AddToCartWindow_PopupWindow_C_ButtonClose,
#ctl00_MainContent_ctl00_ProductINVBuyBoxControl_ProductDetailActionButtonControl1_AddToCartWindow_PopupWindow_C_ButtonClose {
	@include unButton()
}

.RadInput_PersonifyDefault .riTextBox,
.coupon .couponInput {
	@include inputText()
}

.segmentsListTabs .rlbSelected {
	background-color: $ift-blue !important;
	&:hover,
	&:active,
	&:focus {
		background-color: $ift-blue-dark;
	}
}

#ctl00_MainContent_ctl00_CheckoutItemSummaryControl_ShoppingCartSummaryControl_ButtonCouponApply {
	@include unButton() margin-top: 12px;
	margin-left: 20px !important;
}

.segmentsListPanel .RadListBox .rlbGroup ul li.rlbItem:hover {
	text-shadow: none;
}

#PreviousButton {
	@include unButton();
}

.CheckoutControl_PersonifyDefault {
	.addressButtonsDiv {
		input {
			// font-size: 10px;
			// background-color: $ift-blue;
			// background-image: none;
			@include unButton();
			padding: 8px;
			margin-bottom: 0;
			+ input {
				display: block;
				margin-top: 10px;
				margin-left: 0;
			}
		}
	}
}

.ShoppingCartSavingsControl_PersonifyDefault {
	border: none;
	background: $ift-green!important;
	padding: 4px;
	color: white;
}

.summary .item {
	margin-bottom: 10px;
}

#ctl00_MainContent_ctl00_SegmentTabList .rlbGroup {
	background-color: transparent;
}

// Warning: Attempts to mimic grid
.mainCheckoutDiv {
	box-sizing: border-box;
	display: flex;
	flex: 0 1 auto;
	flex-direction: row;
	flex-wrap: wrap;
	padding-bottom: $gutter-width;
	float: none;
	margin: 0;
	width: auto;
	min-width: 0;
	margin-left: -15px;
	margin-right: -15px;
	@include break(max, $breakpoint-max-mobile) {
		display: block;
	}
	.itemsList,
	.summaryControl,
	.top-checkout-product-warning {
		box-sizing: border-box;
		flex: 0 0 auto;
		margin: 0;
		padding: 0;
		width: auto;
		float: none;
		margin-left: 15px;
		margin-right: 15px;
		flex-basis: 100%;
		max-width: 100%;
	}
	.top-checkout-product-warning {
		//overriding above
		margin-right: 0;
		margin-left: 0;
		.validationIssues {
			width: 100%;
		}
	}
	.summaryTopDiv {
		float: none;
		//this is inside of a flex element, but itself can just be a block
		display: block;
		margin: $gutter-width/2 0 $gutter-width/2 0;
		width: 100%;
	}
	img {
		width: auto;
	}
	[id$="freeShippingReminderControl_ContainerPanelPanel"] {
		width: 100%;
		padding-right: $gutter-width/2;
		padding-left: $gutter-width/2;
	}
	@media only screen and (min-width: $breakpoint-min-md) {
		.itemsList,
		.leftPane {
			flex-basis: calc(75% - 30px);
			max-width: calc(75% - 30px);
		}
		.summaryControl {
			flex-basis: calc(25% - 30px);
			max-width: calc(25% - 30px);
			.header {
				color: white;
				background: $ift-blue;
			}
		}
	}
}

#ctl00_MainContent_ctl01_ButtonEstimate,
#ctl00_MainContent_ctl00_SegmentTabList_i0 {
	@include unButton();
}

table.totals * {
	border-color: #eee !important;
	.ShareControl_PersonifyDefault {
		float: right;
	}
}

.segmentsListPanel .RadListBox_PersonifyDefault .rlbGroup .rlbList .rlbItem .rlbText {
	color: $ift-blue !important;
	display: block;
	margin: 13px;
}

#ctl00_MainContent_ctl00_ButtonContinueShopping,
html .segmentsListPanel .continueShopping {
	@include unButton()
}

.OrderSummaryControl_PersonifyDefault .orderNumber {
	margin-bottom: 15px;
	font-size: 14px;
	font-weight: normal;
	color: #333;
}

.billingAddress {
	float: left;
	min-width: 350px;
	margin: 0;
	padding: 20px;
	background: white;
}

.summaryControl {
	background-color: transparent;
	border: none;
	margin-top: 17px;
	.header {
		color: white;
		background: $ift-blue;
	}
	.summaryData {
		padding: 6px 10px;
	}
	.summaryData,
	.checkout-panel,
	.ShoppingCartSavingsControl_PersonifyDefault {
		border: none;
		background-color: white;
	}
}

.itemsList {
	.centerSection,
	.borderTop {
		border-color: #eee
	}
	.contentSection {
		border: none;
		background-color: white;
	}
}

.ShoppingCartSummaryControl_PersonifyDefault.ShoppingCart_PersonifyDefault.Base_PersonifyDefault {
	background-color: white;
	border: none;
	margin-top: 17px;
	.header {
		color: white;
		background: $ift-blue;
		border: none;
	}
	.summaryData {
		padding: 6px 10px;
	}
	.summaryData,
	.checkout-panel,
	.ShoppingCartSavingsControl_PersonifyDefault {
		border: none;
		background-color: white;
	}
}

.panelShoppingCart {
	.controlPanel {
		border: none;
	}
	@include break(max, $breakpoint-max-xs-override) {
		.rlbItem {
			&:before {
				//thereS already a display block important in default personfify css 
				display: none !important;
				//removes random blue dots
				visibility: hidden;
			}
		}
	}
}

.ShoppingCartItemListControl_PersonifyDefault.ShoppingCart_PersonifyDefault.Base_PersonifyDefault {
	.centerSection,
	.borderTop {
		border-color: #eee
	}
	.contentSection {
		border: none;
		background-color: white;
	}
	.productControlSection {
		background: white;
		border: none;
		border-top: 1px solid #eee;
		a {
			font-size: 12px;
		}
	}
}

// Thank you
#ctl00_ctl00_MainContent_ctl01_EmailInfoControlPanel {
	background-color: transparent;
}

#ctl00_MainContent_ctl01_ContainerPanel {
	padding: 15px;
	background: white;
}

.OrderSummaryControl_PersonifyDefault {
	.OrdSummaryAddressHeader,
	.OrdSummaryHeader {
		color: #333;
		font-size: 22px;
	}
	.billingAddress {
		display: inline;
		float: left;
		padding: 10px;
		border: 1px solid #eee;
		margin: 10px 0;
	}
}

.prevNextCancelButtons {
	padding-top: 20px;
}

div.WizardHeaderControl_PersonifyDefault {
	display: flex;
	margin-bottom: 40px;
	// Remove Clearfix
	&:before,
	&:after {
		display: none;
	}
	span {
		//personify override
		span {
			width: auto !important;
		}
	}
	span.step {
		flex-grow: 1;
		background: transparent;
		border-color: $ift-grey-230;
		color: $ift-grey-medium-light;
		text-align: left;
		padding-left: 60px !important;
		.step-number {
			width: 30px!important;
			height: 30px!important;
			border-radius: 100% !important;
			border: 1px solid white;
			box-shadow: none;
			position: absolute;
			left: 20px;
			text-shadow: none !important;
			top: 9px;
			padding: 5px 0;
			background-color: $ift-grey-medium-light;
		}
		.stepLabel {
			color: $ift-grey-medium-light;
		}
		&.active {
			background-color: $ift-green !important;
			border-bottom-color: $ift-green !important;
			.stepLabel {
				color: $white;
			}
			.step-number {
				background-color: transparent;
			}
		}
	}
}

.productDescriptionSection {
	.productName {
		@include animatedLink();
	}
}

@include break(min, $breakpoint-min-tablet) {
	//if 3, then 33%
	.wizardHeader .step:nth-last-child(n+3):nth-last-child(-n+3):first-child,
	.wizardHeader .step:nth-last-child(n+3):nth-last-child(-n+3):first-child ~ .step {
		width: 33%;
	}
	//if 4, then 25%
	.wizardHeader .step:nth-last-child(n+4):nth-last-child(-n+4):first-child,
	.wizardHeader .step:nth-last-child(n+4):nth-last-child(-n+4):first-child ~ .step {
		width: 24%;
	}
}

[id$="AddAddressControl_ContainerPanelPanel"] {
	.formLayout {
		.RadAjaxPanel & {
			margin-top: $gutter-width / 2;
			background-color: $white;
		}
	}
	//should generalize this style
	.buttonRow {
		&:last-child {
			margin-bottom: 0;
		}
	}
}

.checkoutHeader {
	&.heading2 {
		font-size: 20px;
	}
}

.we-honor-cards-container,
.multi-cc-PayPal {
	img {
		width: auto;
	}
}

.CheckoutAddressInformationControl_PersonifyDefault {
	html & {
		max-width: none;
	}
}

.multi-cc-addCard {
	//needs specificity
	&.row {
		width: 100% !important;
		max-width: none !important;
	}
	.pnlAddProfileEditorRow {
		width: 100%;
	}
}

main.shoppingCart {
	.shippingAddress {
		border: none;
		width: auto;
	}
	.CheckoutAddressInformationControl_PersonifyDefault {
		background: white;
		padding-top: 3rem;
	}
	.employerDetails.clear {
		padding: 0;
	}
	.CheckoutControl_PersonifyDefault .addressButtonsDiv a {
		display: block;
		margin-top: 10px;
		text-decoration: underline;
		color: #5786c7;
	}
	#ctl00_MainContent_ctl00_ButtonContinueShopping {
		margin-top: 1rem;
		margin-left: 2rem;
	}
	#ctl00_MainContent_ctl00_CheckoutAddressInformationControl_ShippingAddressChooserControl_AddAddressControl_EditAddressControl_lblZipAdditionInfo {
		display: block;
	}
	.segmentsListPanel #ctl00_MainContent_ctl00_SegmentTabList_i0 {
		text-decoration: none !important;
		span {
			margin: 0;
			font-size: 2.6rem;
			font-weight: bold;
			pointer-events: none;
			color: #333 !important;
			text-transform: capitalize !important;
		}
	}
	#ctl00_MainContent_ctl00_ButtonSaveForLaterCount {
		margin: 0;
		font-size: 2.6rem;
		font-weight: bold;
		text-decoration: none !important;
		margin-top: 4rem;
		margin-bottom: 2rem;
		pointer-events: none;
		color: #333 !important;
		text-transform: capitalize !important;
	}
	.productControlSection [type=button] {
		font-size: 1.2rem !important;
		margin-top: 1rem;
		margin-bottom: 1rem;
		display: inline-block;
	}
	h3.checkoutHeader.heading3.h-color-secondary,
	.checkoutHeader {
		color: #333;
		font-size: 2.6rem;
		margin-top: 2rem;
	}
	.addressesPanel {
		float: left;
		width: 25%;
		input[type="radio"] {
			position: absolute;
			left: -15px;
		}
		span.name {
			position: relative;
		}
	}
	@include break(max, 800px) {
		.shippingAddress {
			padding: 10px;
		}
		.addressesPanel {
			float: none;
			width: 100%;
			input[type="radio"] {
				position: absolute;
				left: -25px;
			}
		}
	}
}
