<!doctype html>
<html>
	{% include "./_shared/head.html" %}
	<body id="bodyTop" class="body-home">
		{% include "./_shared/svgDefs.html" %}
		{% include "./_shared/logo.html" %}
		{% include "./_shared/nav_combined.html" %}
		{% include "./_components/header_homepage_fixed.html" %}
		<main class="template-homepage">
			{% block content %}
			{% endblock %}
		</main>
		{% include "./_shared/backToTop.html" %}
		{% include "./_shared/footerAuto.html" %}
		{% include "./_shared/scroll__pixels.html" %}
		<!--overlay-->
		{% include "./_shared/nav_overlay.html" %}
		{% include "./_shared/scriptsList.html" %}
	</body>
</html>