<div class="nav-trigger-wrapper">
	<!--personify/webforms cannot deal with these being buttons-->
	<div class="button button__nav-trigger" id="navTrigger">
		<span>Menu</span><span><svg class="" viewBox="0 0 32 32"><use xlink:href="#iconClose"/></svg></span>
	</div>
</div>
<nav id="navMain" class="nav-main contained">
	<ul class="nav-list-top-level">
		<li><a><span>Knowledge Center</span><svg class="caretDown" viewBox="0 0 32 32"><use xlink:href="#caretDown"/></svg></a>
			<ul class="nav-list-level-2">
				<li><a><span>Focus Areas</span><svg class="chevronDown" viewBox="0 0 32 32"><use xlink:href="#iftChevronTop"/></svg></a>
					{% include "./_shared/nav_third_level.html" %}
				</li>
				<li><a><span>Core Sciences</span><svg class="chevronDown" viewBox="0 0 32 32"><use xlink:href="#iftChevronTop"/></svg></a>
					{% include "./_shared/nav_third_level.html" %}
				</li>
				<li><a><span>Read IFT Publications</span><svg class="chevronDown" viewBox="0 0 32 32"><use xlink:href="#iftChevronTop"/></svg></a>
					{% include "./_shared/nav_third_level.html" %}
				</li>
				<li><a><span>Science Papers</span></a>
				</li>
				<li><a><span>Attend An Event</span></a>
				</li>
				<li><a><span>Learn Online</span></a>
				</li>
				<li><a><span>Learn About Food Science</span><svg class="chevronDown" viewBox="0 0 32 32"><use xlink:href="#iftChevronTop"/></svg></a>
					{% include "./_shared/nav_third_level.html" %}
				</li>
				<li><a><span>Example Link Title Long</span><svg class="chevronDown" viewBox="0 0 32 32"><use xlink:href="#iftChevronTop"/></svg></a>
					{% include "./_shared/nav_third_level.html" %}
				</li>
			</ul>
		</li>
		<li><a><span>Food Technology</span><svg class="caretDown" viewBox="0 0 32 32"><use xlink:href="#caretDown"/></svg></a>
			<ul class="nav-list-level-2">
				<li><a><span>Sessions</span><svg class="chevronDown" viewBox="0 0 32 32"><use xlink:href="#iftChevronTop"/></svg></a>
					{% include "./_shared/nav_third_level.html" %}
				</li>
				<li><a><span>IFT Next</span><svg class="chevronDown" viewBox="0 0 32 32"><use xlink:href="#iftChevronTop"/></svg></a>
					{% include "./_shared/nav_third_level.html" %}
				</li>
				<li><a><span>Highlights</span><svg class="chevronDown" viewBox="0 0 32 32"><use xlink:href="#iftChevronTop"/></svg></a>
					{% include "./_shared/nav_third_level.html" %}
				</li>
				<li><a><span>Posters</span><svg class="chevronDown" viewBox="0 0 32 32"><use xlink:href="#iftChevronTop"/></svg></a>
					{% include "./_shared/nav_third_level.html" %}
				</li>
				<li><a><span>Courses</span><svg class="chevronDown" viewBox="0 0 32 32"><use xlink:href="#iftChevronTop"/></svg></a>
					{% include "./_shared/nav_third_level.html" %}
				</li>
				<li><a><span>Calls for Proposals</span><svg class="chevronDown" viewBox="0 0 32 32"><use xlink:href="#iftChevronTop"/></svg></a>
					{% include "./_shared/nav_third_level.html" %}
				</li>
				<li><a><span>Example Link Title Long</span><svg class="chevronDown" viewBox="0 0 32 32"><use xlink:href="#iftChevronTop"/></svg></a>
					{% include "./_shared/nav_third_level.html" %}
				</li>
				<li><a><span>Example Link Title Longer</span><svg class="chevronDown" viewBox="0 0 32 32"><use xlink:href="#iftChevronTop"/></svg></a>
					{% include "./_shared/nav_third_level.html" %}
				</li>
				<li><a><span>Example Link Title Longest</span><svg class="chevronDown" viewBox="0 0 32 32"><use xlink:href="#iftChevronTop"/></svg></a>
					{% include "./_shared/nav_third_level.html" %}
				</li>
			</ul>
		</li>
		<li><a><span>Membership</span><svg class="caretDown" viewBox="0 0 32 32"><use xlink:href="#caretDown"/></svg></a>
			<ul class="nav-list-level-2">
				<li><a><span>Hotels</span><svg class="chevronDown" viewBox="0 0 32 32"><use xlink:href="#iftChevronTop"/></svg></a>
					{% include "./_shared/nav_third_level.html" %}
				</li>
				<li><a><span>Travel</span><svg class="chevronDown" viewBox="0 0 32 32"><use xlink:href="#iftChevronTop"/></svg></a>
					{% include "./_shared/nav_third_level.html" %}
				</li>
				<li><a><span>Venue</span><svg class="chevronDown" viewBox="0 0 32 32"><use xlink:href="#iftChevronTop"/></svg></a>
					{% include "./_shared/nav_third_level.html" %}
				</li>
				<li><a><span>Global Travellers</span><svg class="chevronDown" viewBox="0 0 32 32"><use xlink:href="#iftChevronTop"/></svg></a>
					{% include "./_shared/nav_third_level.html" %}
				</li>
				<li><a><span>Example Link Title Long</span><svg class="chevronDown" viewBox="0 0 32 32"><use xlink:href="#iftChevronTop"/></svg></a>
					{% include "./_shared/nav_third_level.html" %}
				</li>
				<li><a><span>Example Link Title Longer</span><svg class="chevronDown" viewBox="0 0 32 32"><use xlink:href="#iftChevronTop"/></svg></a>
					{% include "./_shared/nav_third_level.html" %}
				</li>
				<li><a><span>Example Link Title Longest</span><svg class="chevronDown" viewBox="0 0 32 32"><use xlink:href="#iftChevronTop"/></svg></a>
					{% include "./_shared/nav_third_level.html" %}
				</li>
				<li><a><span>Example Link Title</span><svg class="chevronDown" viewBox="0 0 32 32"><use xlink:href="#iftChevronTop"/></svg></a>
					{% include "./_shared/nav_third_level.html" %}
				</li>
				<li><a><span>Example Link Title</span><svg class="chevronDown" viewBox="0 0 32 32"><use xlink:href="#iftChevronTop"/></svg></a>
					{% include "./_shared/nav_third_level.html" %}
				</li>
				<li><a><span>Example Link Title</span><svg class="chevronDown" viewBox="0 0 32 32"><use xlink:href="#iftChevronTop"/></svg></a>
					{% include "./_shared/nav_third_level.html" %}
				</li>
			</ul>
		</li>
		<li><a><span>Meetings &amp; Events</span><svg class="caretDown" viewBox="0 0 32 32"><use xlink:href="#caretDown"/></svg></a>
			<ul class="nav-list-level-2">
				<li><a><span>Exhibitors</span><svg class="chevronDown" viewBox="0 0 32 32"><use xlink:href="#iftChevronTop"/></svg></a>
					{% include "./_shared/nav_third_level.html" %}
				</li>
				<li><a><span>Highlights</span><svg class="chevronDown" viewBox="0 0 32 32"><use xlink:href="#iftChevronTop"/></svg></a>
					{% include "./_shared/nav_third_level.html" %}
				</li>
				<li><a><span>Secure Your Stand</span><svg class="chevronDown" viewBox="0 0 32 32"><use xlink:href="#iftChevronTop"/></svg></a>
					{% include "./_shared/nav_third_level.html" %}
				</li>
				<li><a><span>Promotional Opportunities</span><svg class="chevronDown" viewBox="0 0 32 32"><use xlink:href="#iftChevronTop"/></svg></a>
					{% include "./_shared/nav_third_level.html" %}
				</li>
				<li><a><span>For Exhibitors</span><svg class="chevronDown" viewBox="0 0 32 32"><use xlink:href="#iftChevronTop"/></svg></a>
					{% include "./_shared/nav_third_level.html" %}
				</li>
				<li><a><span>Example Link Title Long</span><svg class="chevronDown" viewBox="0 0 32 32"><use xlink:href="#iftChevronTop"/></svg></a>
					{% include "./_shared/nav_third_level.html" %}
				</li>
				<li><a><span>Example Link Title Longer</span><svg class="chevronDown" viewBox="0 0 32 32"><use xlink:href="#iftChevronTop"/></svg></a>
					{% include "./_shared/nav_third_level.html" %}
				</li>
				<li><a><span>Example Link Title Longest</span><svg class="chevronDown" viewBox="0 0 32 32"><use xlink:href="#iftChevronTop"/></svg></a>
					{% include "./_shared/nav_third_level.html" %}
				</li>
			</ul>
		</li>
		<li><a><span>Science &amp; Policy</span><svg class="caretDown" viewBox="0 0 32 32"><use xlink:href="#caretDown"/></svg></a>
			<ul class="nav-list-level-2 ">
				<li><a><span>Schedule</span></a>
				</li>
				<li><a><span>Fun Run</span><svg class="chevronDown" viewBox="0 0 32 32"><use xlink:href="#iftChevronTop"/></svg></a>
					{% include "./_shared/nav_third_level.html" %}
				</li>
				<li><a><span>Competitions</span><svg class="chevronDown" viewBox="0 0 32 32"><use xlink:href="#iftChevronTop"/></svg></a>
					{% include "./_shared/nav_third_level.html" %}
				</li>
				<li><a><span>Awards</span></a>
				</li>
				<li><a><span>Future Dates &amp; Locations</span></a>
				</li>				
				<li><a><span>Career Center Live</span></a>
				</li>
				<li><a><span>Example Link Title Long</span></a>
				</li>
				<li><a><span>Example Link Title Longer</span></a>
				</li>
				<li><a><span>Example Link Title Longest</span></a>
				</li>
			</ul>
		</li>
		<li><a><span>Career Center</span><svg class="caretDown" viewBox="0 0 32 32"><use xlink:href="#caretDown"/></svg></a>
			<ul class="nav-list-level-2">
				<li><a><span>Example Link Title Longest</span></a>
				</li>
				<li><a><span>Example Link Title</span></a>
				</li>
				<li><a><span>Example Link Title</span></a>
				</li>
				<li><a><span>Example Link Title</span></a>
				</li>
				<li><a><span>Example Link Title</span></a>
				</li>
				<li><a><span>Example Link Title</span></a>
				</li>
				<li><a><span>Example Link Title</span><svg class="chevronDown" viewBox="0 0 32 32"><use xlink:href="#iftChevronTop"/></svg></a>
					{% include "./_shared/nav_third_level.html" %}
				</li>
			</ul>
		</li>
		<li><a><span>Community</span><svg class="caretDown" viewBox="0 0 32 32"><use xlink:href="#caretDown"/></svg></a>
			<ul class="nav-list-level-2">
				<li><a><span>Example Link Title</span></a>
				</li>
				<li><a><span>Example Link Title</span></a>
				</li>
				<li><a><span>Example Link Title Long</span><svg class="chevronDown" viewBox="0 0 32 32"><use xlink:href="#iftChevronTop"/></svg></a>
					{% include "./_shared/nav_third_level.html" %}
				</li>
				<li><a><span>Example Link Title Longer</span><svg class="chevronDown" viewBox="0 0 32 32"><use xlink:href="#iftChevronTop"/></svg></a>
					{% include "./_shared/nav_third_level.html" %}
				</li>
				<li><a><span>Example Link Title Longest</span><svg class="chevronDown" viewBox="0 0 32 32"><use xlink:href="#iftChevronTop"/></svg></a>
					{% include "./_shared/nav_third_level.html" %}
				</li>
				<li><a><span>Example Link Title</span><svg class="chevronDown" viewBox="0 0 32 32"><use xlink:href="#iftChevronTop"/></svg></a>
					{% include "./_shared/nav_third_level.html" %}
				</li>
				<li><a><span>Example Link Title</span><svg class="chevronDown" viewBox="0 0 32 32"><use xlink:href="#iftChevronTop"/></svg></a>
					{% include "./_shared/nav_third_level.html" %}
				</li>
				<li><a><span>Example Link Title</span><svg class="chevronDown" viewBox="0 0 32 32"><use xlink:href="#iftChevronTop"/></svg></a>
					{% include "./_shared/nav_third_level.html" %}
				</li>
				<li><a><span>Example Link Title</span><svg class="chevronDown" viewBox="0 0 32 32"><use xlink:href="#iftChevronTop"/></svg></a>
					{% include "./_shared/nav_third_level.html" %}
				</li>
				<li><a><span>Example Link Title</span></a>
				</li>
				<li><a><span>Example Link Title</span></a>
				</li>
			</ul>
		</li>
		<li><a><span>CFS Certification</span><svg class="caretDown" viewBox="0 0 32 32"><use xlink:href="#caretDown"/></svg></a>
			<ul class="nav-list-level-2">
				<li><a><span>Example Link Title</span><svg class="chevronDown" viewBox="0 0 32 32"><use xlink:href="#iftChevronTop"/></svg></a>
					{% include "./_shared/nav_third_level.html" %}
				</li>
				<li><a><span>Example Link Title</span></a></li>
				<li><a><span>Example Link Title</span><svg class="chevronDown" viewBox="0 0 32 32"><use xlink:href="#iftChevronTop"/></svg></a>
					{% include "./_shared/nav_third_level.html" %}
				</li>
				<li><a><span>Example Link Title</span></a></li>
				<li><a><span>Example Link Title</span></a></li>
				<li><a><span>Example Link Title Long</span></a></li>
				<li><a><span>Example Link Title Longer</span></a></li>
				<li><a><span>Example Link Title Longest</span></a></li>
			</ul>
		</li>


		<div class="nav-level-2-close-button__wrapper">
			<div id="navLevel2CloseButton" class="nav-level-2-close__button"><span>Close</span><svg class="" viewBox="0 0 32 32"><use xlink:href="#iconClose"/></svg></div>
		</div>
	</ul>
</nav>
